<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- @deps angular -->
</head>
<body>
  <div class="base-template">
    <h1>Catch all</h1>
  </div>
  <!-- @amd RequireJS -->
</body>
</html>
