<!--
# fileOverview

 ____  _____ _   _
|  _ \(____ | | | |
| | | / ___ |\ V /
|_| |_\_____| \_/

## description

  

-->

<nav class="dash-nav">

  <ul
    class="nav mobile-menu--active"
    mobile-menu-container
  >

    <li
      mobile-menu-item
      mobile-menu-item-node="item"
      ng-repeat="item in navigationLabels.list"
      once-show="item.isAuthorized"
    >

      <a
        aria-label           = "{{item.hint}}"
        ng-href              = "{{item.uri}}"
        data-hint            = "{{item.hint}}"
        ng-attr-open-window  = "item.uri.indexOf('fan-view') !== -1"
        open-window-uri      = "{{item.uri}}"
        open-window-href     = "{{item.label}}"
        open-window-site-url = "{{siteUrl}}"
        ng-class="{
          'no-hint'      : item.uri.indexOf('fan-view') !== -1 || item.uri.indexOf('logout') !== -1,
          'hint--pull-4' : true
        }"
      >

        <span
          aria-hidden="true"
          class="fa {{item.icon}}"
        ></span>

        <span class="nav-label" once-text="item.label"></span>

      </a>
    </li>

  </ul>

</nav>
