/***
@fileOverview

           _       _
          | |     (_)
 _____  __| |____  _ ____
(____ |/ _  |    \| |  _ \
/ ___ ( (_| | | | | | | | |
\_____|\____|_|_|_|_|_| |_|

@description

  

***/

body.fan--admin,
body.merchant--admin,
body.admin {
  /*overflow-y: hidden !important;*/
}

html.admin-like {
  overflow-y: hidden !important;
}

@mixin adaptive($tableName: '', $grouped: false) {

  &.table--adaptive {

    @if $grouped == true {
      tbody,
      thead {
        display: none;
      }
    }

    border: 1px solid #ccc;
    border-bottom: none;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 5vh;

    md-checkbox.md-default-theme {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }

    tfoot {
      padding: 1vh 0 0 0;
      text-align: center;

      &.active ~ tbody,
      &:target ~ tbody {
        display: table-row-group;

        @extend .flip-in-x;
        @extend .animated;
      }

      &.active ~ thead,
      &:target ~ thead {
        display: table-row-group;
        @extend .flip-in-x;
        @extend .animated;
      }

    }

    @if $tableName != '' {
      background-image: url("/assets/images/table--adaptive.#{$tableName}.png")
    }

    tr {
      border: 1px solid #ddd;
      padding: 5px;
      display: table-row;
    }

    th, td {
      padding: 10px;
      text-align: center;
      display: table-cell;
      font-weight: 300;
    }

    th {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
    }

    @media #{$small} {

      td:last-child {
        border-bottom: 0;
        text-align: center;
      }

    }

    @media #{$slinder} {

      td:last-child {
        border-bottom: 0;
        text-align: center;
      }


    }

    @media #{$medium} {

      td:last-child {
        border-bottom: 0;
        text-align: center;
      }

    }

    @media #{$large} {

      td:last-child {
        border-bottom: 0;
        text-align: center;
      }

    }


    @media screen and (max-width: 600px) {

      border: 0;

      thead {
        display: none !important;
      }


      &.active ~ tbody,
      &:target ~ tbody {
        display: none !important;
      }

      &.active ~ thead,
      &:target ~ thead {
        display: none !important;
      }

      tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
      }

      td {
        display       : block;
        text-align    : right;
        font-size     : 13px;
        border-bottom : 1px dotted #ccc;
        text-align    : center;
      }

      td:last-child {
        border-bottom: 0;
      }

      /*
       *td:before {
       *  content: attr(data-label);
       *  float: left;
       *  text-transform: uppercase;
       *  font-weight: 300;
       *}
       */

    }
  }
}

.page--requests {
  tfoot {
    text-align: center;
  }
  [data-hint]:after {
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.5;
    min-width: 75px;
  }
  [ui-mask] {
    border: none;
    box-shadow: none;
    text-align: center;
  }
}

.page--requests,
.page--payments,
.page--admin {

  table.base {
    @include adaptive();
  }

  table.alt {
    @include adaptive($grouped: true);
  }

  ul.list--adaptive {
    @include grid-row();
    margin-bottom: 5vh;
    li {
      @include grid-column(12);
      &:last-child {
        table {
          border-top: none;
        }
      }
    }
  }

  a, a:link {
    text-decoration: none;
  }

  .command-center {

    .by-alias,
    .by-owner {
      @media #{$small} {
        @include grid-column($columns:6, $collapse: false);
      }
      @media #{$medium} {
        @include grid-column($columns:6, $collapse: false);
      }
      @media #{$large} {
        @include grid-column($columns:6, $collapse: false);
      }
    }


    .field-submit {
      padding: 3vh;
    }

    @include grid-row();
    @include header-intro();
    header {
      padding-top: 2vh;
    }

    nav {
      form.budget-control {
        input { text-align: center; }
      }
      ul {
        @include grid-row();
      }

      li.stamp-figure {

        @media #{$small} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:2, $collapse: true);
        }


        padding: 3.5vh 0;
        text-align: center;
        @extend .animated;
        @extend .fadeIn;
      }

      li.reset-budget {

        @media #{$small} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:2, $collapse: true);
        }

        padding: 3.5vh;
        text-align: center;
        @extend .animated;
        @extend .fadeIn;
      }

      li.budget-cron {

        @media #{$small} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:2, $collapse: true);
        }

        padding: 3.5vh;
        text-align: center;
        @extend .animated;
        @extend .fadeIn;
      }

      li.budget-control {

        @media #{$small} {
          @include grid-column($columns:12, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:12, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:12, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:6, $collapse: true);
        }

        text-align: center;
        padding: 0 0;
        @extend .animated;
        @extend .fadeIn;
        .field-block {
          @media #{$small} {
            @include grid-column($columns:3, $collapse: true);
          }
          @media #{$slinder} {
            @include grid-column($columns:3, $collapse: true);
          }
          @media #{$medium} {
            @include grid-column($columns:3, $collapse: true);
          }
          @media #{$large} {
            @include grid-column($columns:3, $collapse: true);
          }

        }

      }

    }

    ul {
      @extend %listStyle;
    }

    ul.stampository {
      border-top: 1px #ccc solid;
      border-bottom: 1px #ccc solid;
      max-height: 60vh;
      min-height: 60vh;
      position: relative;
      overflow-y: scroll;
      width: 100%;
      overflow-x: hidden;
    }

    .stampository {
      padding-top: 4vh;

      md-slider {
        z-index: 9002;
      }
      .inner {
        @media #{$small} {
          @include grid-column($columns:12, $collapse: false);
          padding-left: 1.9375rem;
          padding-right: 1.9375rem;
        }
        @media #{$medium} {
          @include grid-column($columns:12, $collapse: false);
          padding-left: 1.9375rem;
          padding-right: 1.9375rem;
        }
        @media #{$large} {
          @include grid-column($columns:12, $collapse: false);
          padding-left: 1.9375rem;
          padding-right: 1.9375rem;
        }

      }

      ul.field-slider {
        @include grid-row();
        li {
          @media #{$small} {
            @include grid-column($columns:4, $collapse: true);
          }
          @media #{$medium} {
            @include grid-column($columns:4, $collapse: true);
          }
          @media #{$large} {
            @include grid-column($columns:4, $collapse: true);
          }
          text-align: center;
        }

        position: relative;
        z-index: 9001;
      }

      dl {
        @include grid-row();
      }

      dt {

        text-align: center;
        @media #{$small} {
          @include grid-column($columns:4, $collapse: false);
        }
        @media #{$slinder} {
          @include grid-column($columns:4, $collapse: false);
        }
        @media #{$medium} {
          @include grid-column($columns:4, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:2, $collapse: false);
        }

      }

      dd.activation-progress {

        @media #{$small} {
          @include grid-column($columns:12, $collapse: false);
        }
        @media #{$slinder} {
          @include grid-column($columns:12, $collapse: false);
        }

        @media #{$medium} {

          @include grid-column($columns:12, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:3, $collapse: false);
        }

        padding-left: 0 !important;

      }

      dd.alias {

        text-align: center;
        @media #{$small} {
          @include grid-column($columns:4, $collapse: false);
        }
        @media #{$slinder} {
          @include grid-column($columns:4, $collapse: false);
        }

        @media #{$medium} {

          @include grid-column($columns:4, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:2, $collapse: false);
        }


      }

      dd.score {

        text-align: center;
        @media #{$small} {
          @include grid-column($columns:4, $collapse: false);
        }
        @media #{$slinder} {
          @include grid-column($columns:4, $collapse: false);
        }

        @media #{$medium} {

          @include grid-column($columns:4, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:2, $collapse: false);
        }

      }

      dd.link {

        text-align: center;

        @media #{$small} {
          @include grid-column($columns:12, $collapse: false);
        }
        @media #{$slinder} {
          @include grid-column($columns:12, $collapse: false);
        }
        @media #{$medium} {
          @include grid-column($columns:12, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:3, $collapse: false);
        }

      }

    }

  }

}
