/***
# fileOverview

         _            _     _                          _
        | |          | |   | |                        | |
      __| |_____  ___| |__ | |__   ___  _____  ____ __| |
     / _  (____ |/___)  _ \|  _ \ / _ \(____ |/ ___) _  |
    ( (_| / ___ |___ | | | | |_) ) |_| / ___ | |  ( (_| |
     \____\_____(___/|_| |_|____/ \___/\_____|_|   \____|

## description

  A lot of this code properly belongs in _base.scss.

***/

@import "compass/css3";
@import "_utils";

$lsBlue: #006fba;

/*
@fileOverview

 ____  _____ _   _
|  _ \(____ | | | |
| | | / ___ |\ V /
|_| |_\_____| \_/

@description

  Site's main nav.

*/

nav.dash-nav {

  background-color: $lsBlue;
  background-color: #111;

  position: relative;
  z-index: 9000;

  li {
    text-align: center;
  }

  a:after {
    z-index: 9001 !important;
  }

  li {
    .nav-label {
      @extend .animated;
      @extend .fadeInUp;
    }

    a {
      @extend .hint--bottom;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
    }

    &:last-child {
      a {
        &:after {
        }

      }

    }
  }

  a {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    padding: 1vh 0;
    text-align: center;
    display: inline-block;
    position: relative;

    .fa {

      @media #{$small} {
        text-indent: -10%;
      }
      @media #{$slinder} {
        text-indent: -10%;
      }
      @media #{$medium} {
        text-indent: 0;
      }
      @media #{$large} {
        text-indent: 0;
      }

    }

    @media #{$small} {
      width: 50%;
      text-align: center;
      text-indent: 0;
    }

    @media #{$slinder} {
      width: auto;
      text-align: center;
      text-indent: 0;
    }

    @media #{$medium} {
      width: auto;
      text-align: center;
      text-indent: 0;
    }

    @media #{$large} {
      width: auto;
      text-align: center;
      text-indent: 0;
    }

    &:after {
      z-index: -1;

    }

  }

  ul.nav {
    @include cf;
    padding: 0;
    list-style: none;

    @media #{$small} {
      padding-top: 0;
    }
    @media #{$slinder} {
      padding-top: 0;
    }
    @media #{$medium} {
      padding-top: 25px;
    }
    @media #{$large} {
      padding-top: 25px;
    }

  }

  @media #{$small} {
    @include grid-column($columns:12);
    padding-bottom: 1rem;
    ul.nav {
      @include grid-row();
      li {
        @include grid-column($columns: 12);
      }
    }
  }

  @media #{$medium} {
    @include grid-column($columns:6, $collapse: true);
    height: 115px;
    ul.nav {
      li {
        @include grid-column($columns: 4, $collapse: true);
      }
    }
  }

  @media #{$large} {
    @include grid-column($columns:7);
    height: 80px;
    ul.nav {
      li {
        @include grid-column($columns: 2, $collapse: true);
        a {
          display: block;
          text-align: center;
        }
      }
    }
  }

}

/*

  Catch all.

*/

.payment--control,
.social--control,
.stats--control,
.stamp--control {
  @media #{$small} {
    @include grid-column($columns:12);
  }
  @media #{$medium} {
    @include grid-column($columns:12);
  }
  @media #{$large} {
    @include grid-column($columns:12);
  }
  header {
  }
  padding: 3vh;
  /*@include grid-row();*/
}


/*

                                      _
 ____  _____ _   _ ____  _____ ____ _| |_
|  _ \(____ | | | |    \| ___ |  _ (_   _)
| |_| / ___ | |_| | | | | ____| | | || |_
|  __/\_____|\__  |_|_|_|_____)_| |_| \__)
|_|         (____/

@description

  Panel on a dashboard.

*/

.payment--control {
  background-color: #fff;
  h1 {
    position: relative;
    text-indent: 0;
    z-index: auto;
  }
}

/*
@fileOverview

     _            _     _                          _
    | |          | |   | |                        | |
  __| |_____  ___| |__ | |__   ___  _____  ____ __| |
 / _  (____ |/___)  _ \|  _ \ / _ \(____ |/ ___) _  |
( (_| / ___ |___ | | | | |_) ) |_| / ___ | |  ( (_| |
 \____\_____(___/|_| |_|____/ \___/\_____|_|   \____|

@description

  Panel on a dashboard.

*/

.stats--control {
  background-color: #fff;

  .monad--graph {
  }

  .graph--treemap-frequency-graph {
  }

  .graph {
    @extend .animated;
    @extend .fadeIn;

    color-rendering: optimizeSpeed;

    a, a:link, a:visited, [href\:xlink] {
      text-decoration: none;
      text-rendering: geometricPrecision;
    }

    text {
      fill: #fff;
      font-size: 1rem;

    }

    figcaption {
      position: absolute;
      left: -9999px;
    }
  }

  @include header-intro();

  header {
    margin-bottom: 1.5rem;
  }

  [stamp-impressions-feedback] {
    .fa {
      color: #0088CE;
    }

    dl {
      text-align: center;

      dt, dd {
        display: inline-block;
        padding: 0 2vh;
      }

      @include grid-row();
      margin-top: 1rem;

      @media #{$small} {
        margin-left: 0;
      }
      @media #{$slinder} {
        margin-left: 0;
      }
      @media #{$medium} {
        margin-left: 0;
      }
      @media #{$large} {
        margin-left: 0;
      }

      dt {

        @media #{$small} {
          /*clear: both;*/
        }
        @media #{$slinder} {
          /*clear: both;*/
        }
        @media #{$medium} {
          clear: none;
        }
        @media #{$large} {
          clear: none;
        }

      }

      dt {

        @extend .animated;
        @extend .fadeInUp;

        font-weight    : normal;
        text-transform : lowercase;
        font-variant   : small-caps;
        color          : #222;
        font-size      : 1.125rem;
        margin-bottom  : 1rem;
        line-height    : 1.2;

      }

      &:hover {

        dt {
        }
      }
    }

    dt {
/*
 *
 *      @media #{$small} {
 *        @include grid-column(6, $push: 0, $collapse: true);
 *        text-align: left;
 *      }
 *      @media #{$slinder} {
 *        @include grid-column(6, $push: 0, $collapse: true);
 *        text-align: left;
 *      }
 *      @media #{$medium} {
 *        @include grid-column(3, $push: 1, $collapse: true);
 *        text-align: right;
 *      }
 *      @media #{$large} {
 *        @include grid-column(3, $push: 1, $collapse: true);
 *        text-align: right;
 *      }
 *
 */
      color: #ccc;

      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
/*
 *
 *
 *        @media #{$small} {
 *          @include grid-column(6, $pull: 0, $collapse: true);
 *          text-align: left;
 *        }
 *        @media #{$slinder} {
 *          @include grid-column(6, $pull: 0, $collapse: true);
 *          text-align: left;
 *        }
 *        @media #{$medium} {
 *          @include grid-column(3, $pull: 0, $collapse: true);
 *          text-align: left;
 *        }
 *        @media #{$large} {
 *          @include grid-column(3, $pull: 0, $collapse: true);
 *          text-align: left;
 *        }
 *
 *
 */
        .fa {
          &:hover {
            @extend .animated;
            @extend .tada;

          }
        }
      }
    }

    dd {
      font-weight: 600;
/*
 *
 *      @media #{$small} {
 *        @include grid-column(6, $pull: 0, $collapse: true);
 *        text-align: left;
 *      }
 *      @media #{$slinder} {
 *        @include grid-column(6, $pull: 0, $collapse: true);
 *        text-align: left;
 *      }
 *      @media #{$medium} {
 *        @include grid-column(3, $pull: 1, $collapse: true);
 *        text-align: right;
 *      }
 *      @media #{$large} {
 *        @include grid-column(3, $pull: 1, $collapse: true);
 *        text-align: right;
 *      }
 *
 */
      @extend .animated;
      @extend .fadeInUp;

      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
/*
 *
 *        @media #{$small} {
 *          @include grid-column(6, $pull: 0, $collapse: true);
 *          text-align: left;
 *        }
 *        @media #{$slinder} {
 *          @include grid-column(6, $pull: 0, $collapse: true);
 *          text-align: left;
 *        }
 *        @media #{$medium} {
 *          @include grid-column(3, $pull: 1, $collapse: true);
 *          text-align: right;
 *        }
 *        @media #{$large} {
 *          @include grid-column(3, $pull: 1, $collapse: true);
 *          text-align: right;
 *        }
 *
 */
      }
    }

  }

  ul {

    @extend %listStyle;
    width: 100%;

    @media #{$small} {
      display                : -webkit-flex;
      display                : flex;
      -webkit-flex-direction : column;
      flex-direction         : column;
      -webkit-align-items    : flex-start;
      align-items            : flex-start;
    }

    @media #{$medium} {
      display                : -webkit-flex;
      display                : flex;
      -webkit-flex-direction : column;
      flex-direction         : column;
      -webkit-align-items    : flex-start;
      align-items            : flex-start;
    }

    @media #{$large} {
      display                : -webkit-flex;
      display                : flex;
      -webkit-flex-direction : column;
      flex-direction         : column;
      -webkit-align-items    : flex-start;
      align-items            : flex-start;
    }

  }

  .chart,
  .graph {
    @extend .animated;
    @extend .fadeIn;

    /**
     * @description media-grid
     */
    @media #{$small} {
      width: 100 / 4vh;
      width: 100%;
    }
    @media #{$medium} {
      width: 100 / 4vh;
      width: 100%;
    }
    @media #{$large} {
      width: 100 / 4vh;
      width: 100%;
    }

    figure {
      margin: 0;
    }

    figcaption {
      text-align: center;
    }
  }


}

/* @note Molecule. */

.field-row {

  @include grid-row();

  label {
  }
  input,
  textarea {
  }

  .field-input,
  .field-label {
    /*@include grid-column($columns: 12, $center: true);*/
  }
  .field-input {
    input, textarea {
      &:active,
      &:focus {
        /*outline: none;*/
      }
    }
  }

  .field-label {}
}
