/*

 _           _
(_)         | |
 _ ____   __| |_____ _   _
| |  _ \ / _  | ___ ( \ / )
| | | | ( (_| | ____|) X (
|_|_| |_|\____|_____|_/ \_)

*/

body.base-template.pt--hangout {
  md-previous {
    @extend .fade-out !optional;
    @extend .animated;
  }
}

body.fan--show--product-tour .product-tour--container,
body.merchant--show--product-tour .product-tour--container,
body.show--product-tour .product-tour--container {
  .page-anchor {
    display: block;
  }
}


body.merchant--fan-view .product-tour--container,
body.fan--fan-view .product-tour--container,
body.fan-view .product-tour--container,
body.merchant--index .product-tour--container,
body.fan--index .product-tour--container,
body.index .product-tour--container {
  .page-anchor {
    display: none !important;
  }
}

.page--index {


  .intensity-circles {

    /*position: relative;*/
    z-index: 600 !important;
    &:after {
      background-color: rgba(100, 200, 100, .5);
      display: block;
      content: ' ';
      border-radius: 50%;
      position: absolute;
      left: -50px;
      top: -50px;
      width: 100px;
      height: 100px;
      z-index: 9002;
    }

  }


  img.leaflet-marker-icon {
  }

  img.leaflet-zoom-animated {

  }

  img.leaflet-clickable {

  }

  .module--profile:after {

  }

}
