.page--legal {
  .legal-mumbo-jumbo {

  }
}

.legal-mumbo-jumbo {

  padding: 3vh 0 !important;
  clear: both;

  @include header-intro();


  .p1 {
    font-size: 2rem;
    font-family: $headerFontFamily;
  }

  .p4 {
    font-family: $headerFontFamily;
  }

  background-color: #fff;
  @media #{$small} {
    @include grid-column($columns:8, $collapse: false, $center: true);
  }
  @media #{$slinder} {
    @include grid-column($columns:8, $collapse: false, $center: true);
  }
  @media #{$medium} {
    @include grid-column($columns:8, $collapse: false, $center: true);
  }
  @media #{$large} {
    @include grid-column($columns:8, $collapse: false, $center: true);
  }
}
