@import "../__variables.scss";

/*

 _             _
| |           (_)
| | ___   ____ _ ____
| |/ _ \ / _  | |  _ \
| | |_| ( (_| | | | | |
 \_)___/ \___ |_|_| |_|
        (_____|

*/

body.merchant--login,
body.fan--login,
body.www\/login {

  .body-class {
    height: 100%;
  }

}

body.base-template aside p {
  font-size: .85rem;
}

.no-hint {
  &:after,
  &:before {
    display: none !important;
  }
}

body.base-template .page--login__fan aside {
  top: -2rem;
}

.page--login {

  nav.back {
    position: absolute;
    top: 10%;
    z-index: 9001;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    text-transform: uppercase;
    a {
      color: #111;
      font-weight: bold;
    }
  }

  leaflet {
    height: 100%;
  }

  height: 100%;

  ul {
    position: absolute;
    z-index: 9;
    bottom: 0px; 
    width: 100%;
  }

  li {
    a { 
      display: block;
      text-decoration: none;
      color: #fff;
      text-align: center;
      padding: 2vh 2vh;

      span:after {
        border: 1px #fff solid;
        border-radius: 20px;
        height: 2rem;
        width: 2rem;
        content: " ";
        display: block;
        position: absolute;
        top: -0.6rem;
        left: -.6rem;
        text-align: center;
      }
    }

    .fa {
      position: relative;
      right: 1rem;
    }

    .fa-facebook {
      &:before {
        position: relative;
        left: 1px;
        top: -1px;
      }
    }

    .fa-twitter {
      &:before {
        position: relative;
        left: 0;
        top: -1px;
      }

    }

    .fa-google {
      &:before {
        position: relative;
        left: 0;
        top: 0px;
      }
    }

    &.auth-with-google {
      a {
        background-color: $googleBrandColor;
      }
    }
    &.auth-with-twitter {
      a {
        background-color: $twitterBrandColor;
      }
    }
    &.auth-with-facebook {
      a {
        background-color: $facebookBrandColor;
      }
    }
  }

  a.button {
    width: 100%;
    margin: 0;
  }

  .logo-container {
    text-align: center;
    padding-top: 10vh;
    position: absolute;
    z-index: 9001;
    top: 0;
    left: 50%;
    margin-left: -20vh;
  }

  img {
    width: 40vh;
  }

}
