/*
@fileOverview

                        ___ _ _
                       / __|_) |
     ____   ____ ___ _| |__ _| | _____
    |  _ \ / ___) _ (_   __) | || ___ |
    | |_| | |  | |_| || |  | | || ____|
    |  __/|_|   \___/ |_|  |_|\_)_____)
    |_|

@TODO Split out stamp pages into interface (style.scss) for Presentation Layer.
@depends plugins/snowshoestamp
@description

Use-case scenarios for Profile layouts and corresponding "Stamp Screen" flows.

Has extensions for module-profile, which should probably be rewritten into a 
molecule with modalities for orbs, windows which update properties, toasts, etc.

*/

[ng-drag].dragging {
  /*position: absolute;*/
}

body.base-template .page--profile {

  md-switch {
    .md-container {
      margin: 0 auto;
    }
    margin: 15px 0;
  }

  .page-container .page-column.page-shelves nav.user-actions {

    ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: flex-start;
      align-items: flex-start;

      padding-top: 3vw;
    }

    ul li {
      width: 33.33%;

      .label,
      label {
        text-transform: lowercase;
        font-weight: 400;
        font-size: .85rem;
      }

      .field-column {
        display: block;
        width: 100%;
      }

      .field-column {
        float: none !important;
      }

      .orb--inner {

        text-align    : center;

        md-switch,
        button.md-button {
          border        : 4px #fff solid;
          border-radius : 50%;
          height        : 60px;
          width         : 60px;
          margin        : 0 auto;
        }
      }

    }

  }
}

@mixin device-image($monadName: '') {

  @if $monadName != 'draggable--purse' {
    .#{$monadName}.fa {
      background-image: url('../../../../www/images/exchange--#{$monadName}-logo.png');
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border: 3px #fff solid;
      border-radius: 50%;
      @if $monadName == 'changetip' {
        /*
         *width: 75px;
         *height: 75px;
         */
        width: 20vw;
        height: 20vw;
        background-position: center center;
      }
      content: ' ';
      background-size: contain;
    }

  } @else {

    .#{$monadName}.fa {
      background-image: url('../../../../www/images/#{$monadName}.png');
      display: block;
      width: 50px;
      height: 50px;
      width: 12vw;
      height: 12vw;
      margin-top: 1vw;
      content: ' ';
      background-size: contain;
      /*
       *border: 2px #fff solid;
       *border-radius: 50%;
       */
      background-position: 0 0;
    }

  }

}

@mixin pending-pool($className: 'pending-pool') {
  .#{$className} {

    ul.draggable-objects {
      figure {
        &:before {
          position: relative;
          top: -3vw;
        }
        div.awaiting--pending-pool {
          position: relative;
          top: -2.5vw;
          // @method
          .fa {

          }

          .draggable--purse {

          }

          // @method
          img[ng-src] {

          }
        }
      }
    }
  }
}

@include pending-pool();

div.awaiting--pending-pool {
  span.fa {

  }
  span.draggable--purse {

  }
}

body.device-android,
body.device-ios {

  div.awaiting--pending-pool {

    @include device-image($monadName: 'draggable--purse');
    top: -3.5vw !important;
    img {
      display: none !important;
    }
  }

  [drag-platform].drag-enter {
    .fa {
      border-color: #eec71e !important;
      @extend .animated;
      @extend .pulse;
    }
  }
  figure.awaiting--vendor {

    @include device-image('points-com');
    @include device-image('gyft');
    @include device-image('wow');
    @include device-image('bitreserve');
    @include device-image('changetip');

    img {
      display: none !important;
    }
  }

}

body.device-android .page--profile,
body.device-ios .page--profile {
  ul li.display--value {
    padding: 2vh 1vh 1.5vh !important;
  }
}

.page--profile {

  ul {
    list-style: none;
  }

  height: 100%;

  /* Page Level Resets */
  .accessibly-hide {
    position: absolute;
    left: -9999px;
  }
  [pending-pool-carousel] {
    padding: 5% 0;
  }


  .page-container .page-column.page-shelves {
    @include grid-row();
    max-width: none !important;
  }

  .page-container .page-column.page-shelves {
    div.pending-pool {
      /*
       *margin-top: 50%;
       *top: 8%;
       */
      position: absolute;
      width: 100%;
      margin-top: 3vh;

      @include purse-orb();

    }
  }

  .page-container .page-column.page-shelves {

    div.pending-pool-vendors {

      & > ul {
        margin-top: 25vh;
        position: relative;
      }

      .vendor-drop-label {

        position : absolute;
        left     : -9999px;
        height   : 0;
        top      : -9999px;
        overflow : hidden;

      }

      ul {

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-direction: row;
        flex-direction: row;

        -webkit-align-items: center;
        align-items: center;

        justify-content: center;

        li {
          display: inline-block;
          width: 17%;

          @include vendor-orb();

          &:nth-of-type(1) {
            position: relative;
            left: 7px;
          }

          &:nth-of-type(2) {
            position: relative;
            left: 8px;
          }

          &:nth-of-type(3) {
            @include primary--vendor-orb();
            width: 32%;
            .vendor-drop-label {

              position : relative;
              left     : auto;
              height   : auto;
              top      : auto;
              overflow: auto;

            }
          }

          &:nth-of-type(4) {
            position: relative;
            left: -8px;
          }

          &:nth-of-type(5) {
            position: relative;
            left: -7px;
          }

        }

      }
    }
  }

  .md-primary, .label {
    background-color: transparent;
  }

  /***

       _                     _             
      | |                   | |            
      | |__  _____ _____  __| |_____  ____ 
      |  _ \| ___ (____ |/ _  | ___ |/ ___)
      | | | | ____/ ___ ( (_| | ____| |    
      |_| |_|_____)_____|\____|_____)_|    

  ***/

  header.site-header {

    width: 100%;
    float: none !important;
    background-color: #eec71e;

    .page-anchor {
      padding: 2.5vh 0 0 0;
      a { color: #fff; }

      .md-button {
        display: block;
      }

      .fa {
        line-height: 0;
        text-indent: 1px;
        position: relative;
        top: .2vw;
      }

      .inner {
        border        : 2px #fff solid;
        border-radius : 50%;
        height        : 30px;
        width         : 30px;
        margin        : 0 auto;
      }
    }

    padding: 0;

    ul li.display--value {
      padding: 3.25vh 1vh 1.5vh;
      font-size: 4.5vh;
      text-align: right;
      width: 100%;
      text-align: center;
      cursor: pointer;

      &:nth-of-type(1).ng-hide + li {
        display: block !important;
      }

      .bits-collected-label {
        font-size: 1rem;
        /*font-weight: 500;*/
      }

      .bits-collected-value {
        font-size: 3rem;
        line-height: 1;
      }

      .sub-display {
        margin-top: -2vh;
        /*font-size: .8rem;*/
        .currency-label {
          font-size: 1.5rem;
          display: inline;
        }
      }

      .currency-label {
        display     : block;
        font-size   : 1.5rem;
        margin-top  : 0rem;
        line-height : 1.25;
      }

      &:nth-of-type(1) {
      }

      &:nth-of-type(2) {
        // bitcoin-prices exchange API
        /*display: none;*/
      }

    }

    /* @unused
     *ul li.display--help {
     *  padding: 1vh;
     *  width: 15%;
     *  text-align: center;
     *  font-size: 5vh;
     *}
     */

  }

  /*** ================================================

  # description

  @legacy

  ***/

  .page-divider {

    overflow: hidden;
    height: 70%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .page-container {

    height: 100%;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column; 
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    header {
      /*padding: 1vh 2vh;*/
      height: 31%;
    }

    .page-column {
      height: 100%;

      &.page-shelves {

        md-switch.md-default-theme .md-container {
          position: relative;
          top: 1px;
        }
        md-switch.md-default-theme.md-checked .md-bar {
          background-color: rgba(109, 233, 1, .25);
          height: 12px;
        }

        md-switch.md-default-theme.md-checked .md-thumb {
          background-color: #6de901;
          height: 18px;
          width: 18px;
        }

        width: 100%;

        .tour-orb {
          .fa {

            position: relative;
            left: -1px;
          }
        }

        .log-out-orb {
          .fa {
            position: relative;
            left: 2px;
          }
        }

        .fa {
          line-height: 1.25;
          font-size: 2rem;
          text-indent: 2px;
        }

        .md-primary {
          @extend .accessibly-hide;
        }

        ul {

          height: 100%;
          display: -webkit-flex;
          display: flex;

          -webkit-flex-direction: column; 
          flex-direction: column;
          -webkit-align-items: flex-start;
          align-items: flex-start;

          .field-input {
            text-align: center;
            position: relative;
          }

          li {

            width: 100%;

            .md-button {
              height: 100%;
              /*width: 100%;*/
            }

            &.page-shelf-1 {
              background-color: #00adef;
              height: 69%;
              .field-column {
                label {
                  text-transform: lowercase;
                }
                padding-top: 11.5vh;
              }
            }

            &.page-shelf-2 {
              height: 30%;
              &, .md-button, .md-button:hover {
                background-color: #006fb9;
              }
            }

          }

        }
      }

    }

    .field-column {
    }

    .page-shelves {

      ul {
        @include grid-row();
        padding: 0;
        margin: 0;
        max-width: 100%;
      }

    }

    div.field-column {

      color: #fff;
      text-align: center;

      &:nth-of-type(1) {

/*
 *
 *        @media #{$small} {
 *          @include grid-column($columns:4, $collapse: true);
 *        }
 *        @media #{$slinder} {
 *          @include grid-column($columns:4, $collapse: true);
 *        }
 *        @media #{$medium} {
 *          @include grid-column($columns:4, $collapse: true);
 *        }
 *        @media #{$large} {
 *          @include grid-column($columns:4, $collapse: true);
 *        }
 *
 */

      }

      &:nth-of-type(2) {

/*
 *
 *        @media #{$small} {
 *          @include grid-column($columns:8, $collapse: true);
 *        }
 *        @media #{$slinder} {
 *          @include grid-column($columns:8, $collapse: true);
 *        }
 *        @media #{$medium} {
 *          @include grid-column($columns:8, $collapse: true);
 *        }
 *        @media #{$large} {
 *          @include grid-column($columns:8, $collapse: true);
 *        }
 *
 */

      }

    }

  }

}


/***

 _     _                   _ _            _
| |   (_)  _              | (_)          | |             
| |__  _ _| |_  ___     __| |_  ___ ____ | | _____ _   _ 
|  _ \| (_   _)/___)   / _  | |/___)  _ \| |(____ | | | |
| |_) ) | | |_|___ |  ( (_| | |___ | |_| | |/ ___ | |_| |
|____/|_|  \__|___/    \____|_(___/|  __/ \_)_____|\__  |
                                   |_|            (____/ 
 _                          _ 
| |                        | |
| |__   ___  _____  ____ __| |
|  _ \ / _ \(____ |/ ___) _  |
| |_) ) |_| / ___ | |  ( (_| |
|____/ \___/\_____|_|   \____|

@reuse
***/

[bits-display-board] {
  background-color: #eec71e;
  color: #fff;
  /*height: 100%;*/
}

  .site-toolbar .module--profile,
  .index-toolbar .module--profile {
    position: absolute;
    top: -5rem;
    left: -20px;
    @media #{$webkit} {
      left: -20px;
    }
    margin-left: 0 !important;
  }


/***

                 _       _                              ___ _ _
                | |     | |                            / __|_) |       
 ____   ___   __| |_   _| | _____    ____   ____ ___ _| |__ _| | _____ 
|    \ / _ \ / _  | | | | || ___ |  |  _ \ / ___) _ (_   __) | || ___ |
| | | | |_| ( (_| | |_| | || ____|  | |_| | |  | |_| || |  | | || ____|
|_|_|_|\___/ \____|____/ \_)_____)  |  __/|_|   \___/ |_|  |_|\_)_____)
                                    |_|                                

***/

.site-toolbar .module--profile a,
.index-toolbar .module--profile a {
  background-color: #fff;
  position: absolute;
  width: 7.6rem;
  height: 7.6rem;
  @media #{$webkit} {
  width: 7.1rem;
  height: 7.1rem;
  }
  top: 93px;
  margin-left: 2.65rem;
  margin-top: 0.25rem;
  @media #{$webkit} {
    margin-left: 46.5px;
    margin-top: .46rem;
  }

}


/*** ============================================


  @description

  Modulep profile properties for front end pages.

***/

.module--profile {

  .display--value {
    position: relative;
    z-index: 9001;

    .bits-collected-label {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
      display: block;
    }

    .bits-collected-value {
      position: absolute;
      left: 0;
      top: 0;
    }

  }

  .display--help {
  }

  margin-left: 1rem;

  md-progress-circular {

    top: 32px !important;
    left: 78px !important;

    @media #{$webkit} {
      left: 78px !important;
    }
    @media #{$small} {
      @include scale-up(2.7);
    }
    @media #{$medium} {
      @include scale-up(2.7);
    }
    @media #{$large} {
      @include scale-up(2.7);
    }

  }

  md-progress-circular.md-default-theme .md-inner .md-gap {
    border-top-color: #00adef;
    border-bottom-color: #00adef;
  }

  md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle {
    border-top-color: #00adef;
    border-left-color: #00adef;
  }

  md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle {
    border-top-color: #00adef;
    border-right-color: #00adef;
  }

}
