.page--information {

  textarea {
    height: 5rem !important;
  }

  .intro {
    text-align: center;
    @include grid-column(10, $center: true);
  }

  .field-input { 
    position: relative;
  }
  .content-editable + textarea {
    @extend .animated;
    @extend .bounceOut;
  }
  .field-row .field-input {
    textarea {
      border: none;
      width: 100%;
      position: relative;
      z-index: 10;
      background-color: transparent !important;
    }
  }
  .field-row .field-input {
    textarea.placeholder {
      z-index: 9;
      position: absolute;
      left: 0;
      top: 0;
      color: #c9c9c9;
    }
  }

  .content-updated + textarea {
    @extend .animated;
    @extend .fadeOut;
  }

  .content-editable {
    @extend .animated;
    @extend .fadeIn;
    &.content-updated + p {
      display: none;
    }
  }
  .field-edit {
    cursor: pointer;
  }

}

/**

                  _       _
                 (_)     | |
  ___  ___   ____ _ _____| |
 /___)/ _ \ / ___) (____ | |
|___ | |_| ( (___| / ___ | |
(___/ \___/ \____)_\_____|\_)

@description
Page on a dashboard.

*/

$inactiveButton: #c9c9c9;
.page--information {
  .field-edit {
    color: #ccc;
    cursor: pointer;
    @extend .hint--top;
  }
  .field-input {
    @extend .animated;
    @extend .zoomInDown;
  }
  .field-row .field-input input,
  .field-row .field-input textarea {
    background-color: #fff;
  }

  .enabled--badge--facebook,
  .enabled--badge--google,
  .enabled--badge--twitter {
    border-radius : 50%;
    background    : #1FC929;
    content       : ' ';
    display       : block;
    position      : absolute;
    top           : 0;
    width         : 20px;
    height        : 20px;
    z-index       : 9001;
    border        : 3px #fff solid !important;

    @media #{$small} {
      left: 75%;
    }
    @media #{$slinder} {
      left: 55%;
    }
    @media #{$medium} {
      left: 55%;
    }
    @media #{$large} {
      left: 55%;
    }

  }
}

.social--control {

  background-color: #fff;

  @include header-intro();

}

ul.social-network--profile {
  position : relative;
  /*left     : -2vh;*/
}

section.social--control__connect {

  @media #{$small} {
    @include grid-column($columns: 12, $center: true, $collapse: true);
  }

  @media #{$slinder} {
    @include grid-column($columns: 12, $center: true, $collapse: true);
  }

  @media #{$medium} {
    @include grid-column($columns: 12, $center: true, $collapse: true);
  }

  @media #{$large} {
    @include grid-column($columns: 8, $center: true, $collapse: true);
  }

  ul {
    list-style: none;
    @include clearfix;

    @include grid-row();

    li {
      text-align: center;
      position: relative;

      @extend .animated;
      @extend .rollIn;

      @media #{$small} {
        @include grid-column($columns: 4);
        margin-bottom: 3vh;
      }

      @media #{$slinder} {
        @include grid-column($columns: 4);
        margin-bottom: 3vh;
      }

      @media #{$medium} {
        @include grid-column($columns: 4);
        margin-bottom: 3vh;
      }

      @media #{$large} {
        @include grid-column($columns: 4);
        margin-bottom: 3vh;
      }

      .md-button.md-default-theme.md-primary {
        color: #fff;
        border-radius: 10rem;
        padding: .5rem 1rem;
        width: 5.5rem;
        /*margin: 0 1rem;*/
        margin: 0 0;
        height: 5.5rem;
        overflow: visible;
        font-size: 2rem;

      }


      &:nth-of-type(1) button.inactive {

        background-color: $facebookBrandColor !important;
      }

      &:nth-of-type(2) button.inactive {

        background-color: $googleBrandColor !important;
      }

      &:nth-of-type(3) button.inactive {
        background-color: $twitterBrandColor !important;
      }

      /*
       *&:nth-of-type(1) button { background-color: $facebookBrandColor; }
       *&:nth-of-type(2) button { background-color: $googleBrandColor; }
       *&:nth-of-type(3) button { background-color: $twitterBrandColor; }
       */

      &:nth-of-type(1) button:active,
      &:nth-of-type(1) button:focus,
      &:nth-of-type(1) button:hover,
      &:nth-of-type(1) button.enabled
      {
        background-color: $inactiveButton !important;
      }

      &:nth-of-type(2) button:active,
      &:nth-of-type(2) button:focus,
      &:nth-of-type(2) button:hover,
      &:nth-of-type(2) button.enabled
      {
        background-color: $inactiveButton !important;
      }

      &:nth-of-type(3) button:active,
      &:nth-of-type(3) button:focus,
      &:nth-of-type(3) button:hover,
      &:nth-of-type(3) button.enabled
      {
        background-color: $inactiveButton !important;
      }

    }
    margin-bottom: 2vh;
  }
}

.social--control__profile {

  margin-bottom: 2vh;

  .field-row:nth-of-type(1) {
    .field-input {
      @media #{$small} {
        @include grid-column($columns:12, $collapse: true);
      }
      @media #{$slinder} {
        @include grid-column($columns:12, $collapse: true);
      }
      @media #{$medium} {
        @include grid-column($columns:6, $collapse: false);
      }
      @media #{$large} {
        @include grid-column($columns:6, $collapse: false);
      }
    }
  }

  .field-row:nth-of-type(2) {}
    .field-input {
      @media #{$small} {
        @include grid-column($columns:12, $collapse: true);
      }
      @media #{$slinder} {
        @include grid-column($columns:12, $collapse: true);
      }
      @media #{$medium} {
        @include grid-column($columns:4, $collapse: false);
      }
      @media #{$large} {
        @include grid-column($columns:4, $collapse: false);
      }
    }
}

.social--control__details {
  @include grid-row();
  margin-bottom: 6vh;
  & > form {
    @media #{$small} {
      @include grid-column($columns: 12, $collapse: true);
    }
    @media #{$medium} {
      @include grid-column($columns: 4, $collapse: true);
    }
    @media #{$large} {
      @include grid-column($columns: 4, $collapse: true);
    }
  }

  .field-row label {
    padding: 0;
  }

}

