/**

      ______                           _______                            _
     / _____) _                       (_______)            _             | |
    ( (____ _| |_ _____ ____  ____     _       ___  ____ _| |_  ____ ___ | |
     \____ (_   _|____ |    \|  _ \   | |     / _ \|  _ (_   _)/ ___) _ \| |
     _____) )| |_/ ___ | | | | |_| |  | |____| |_| | | | || |_| |  | |_| | |
    (______/  \__)_____|_|_|_|  __/    \______)___/|_| |_| \__)_|   \___/ \_)
                             |_|

@fileOverview

Page-level styles for Stamp Control page.
*/

button.md-primary.stamp-control--save {
  background-color : #0088ce;
  padding-left     : 2vh;
  padding-right    : 2vh;
  border-radius    : 0;
  color            : #fff !important;

  &:hover {
  }
}

%stampdex-border {
  border-color: #ccc;
  border-width: 1px;
}

.stamp--control {
  [leaflet] {
    /*
     *@extend .animated;
     *@extend .fadeInUp;
     */
  }

  .intro {
    text-align: center;
    @include grid-column(10, $center: true);
    p {
      margin-top: 0;
    }
  }

  .stamp-detail--unloaded {
    text-align: center;
    font-size: 10vh;
    color: #d1d1d1;
    .fa {
      @extend .animated;
      @extend .fadeInUp;
    }
  }

  h1 {
    text-align: center;
  }

  .sep { color: #ccc; }

  .intro {
    @media #{$small} {
      @include grid-column($columns:10, $center: true, $collapse: false);
    }
    @media #{$slinder} {
      @include grid-column($columns:10, $center: true, $collapse: false);
    }
    @media #{$medium} {
      @include grid-column($columns:10, $center: true, $collapse: false);
    }
    @media #{$large} {
      @include grid-column($columns:10, $center: true, $collapse: false);
    }
    margin-bottom: 5vh;
  }
  .stamp--alias__value {
    color: #0088ce;
  }
  button {
    .fa {
    }
  }
  .is-dirty {
    display: none;
  }
  .hidden input {
    text-align: center;
  }
  .hidden {
    /*display: none;*/
    position: absolute !important;
    z-index: -1 !important;
    width: 100% !important;
    bottom: -1rem !important;
  }
  .shown + li > button {
    background-color: rgba(158,158,158,0.2) !important;
    opacity: .75;
  }
  .shown {
    z-index: 9001 !important;
  }
  img.leaflet-marker-icon {
    cursor: grab;
    -webkit-user-select: grab;
    -webkit-user-drag: grab;
  }
  img.leaflet-marker-draggable {
    cursor: grabbing;
  }
  .leaflet-control-zoom {}
  .leaflet-bar {}
  .leaflet-top .leaflet-control {
    /*display: none;*/
  }

  /*background-color: $lsBlue;*/
  background-color: #fff;

  @include header-intro();

  /*

   _______                            _______
  (_______)        _                 (_______)
   _____   _   _ _| |_  ____ _____    _  _  _ _____ ____  _   _ 
  |  ___) ( \ / |_   _)/ ___|____ |  | ||_|| | ___ |  _ \| | | |
  | |_____ ) X (  | |_| |   / ___ |  | |   | | ____| | | | |_| |
  |_______|_/ \_)  \__)_|   \_____|  |_|   |_|_____)_| |_|____/ 

  */
  nav.additional-actions {
    clear: both;

    ul {
      border-bottom: 0;
      min-height: 2vh;
    }
    li {
      border-left: 0 !important;
      &:hover {
        border-left: 0 !important;
      }
      text-align: center;
    }
  }


  /*

    ______                            _
   / _____) _                        | |
  ( (____ _| |_ _____ ____  ____   __| |_____ _   _
   \____ (_   _|____ |    \|  _ \ / _  | ___ ( \ / )
   _____) )| |_/ ___ | | | | |_| ( (_| | ____|) X (
  (______/  \__)_____|_|_|_|  __/ \____|_____|_/ \_)
                           |_|

  */

  .stampdex--list-search {

    ul[deprecated--list-stroll] {
      padding-bottom: 3vh;
      .stamp--merchantAlias {
        display: inline-block;
      }

      li {
        .fa {
          @extend .animated;
          @extend .bounceInLeft;
        }

        text-align: center;
        position: relative;
      }

      li .fa-square,
      li .fa-square-o {
        &:hover {
          @extend .animated;
          @extend .tada;
        }
        position: absolute;
        left: 10%;
        top: 54%;
        line-height: 0;
      }

      @media #{$small} {
        text-align: center;
      }
      @media #{$medium} {
        text-align: center;
      }
      @media #{$large} {
        text-align: left;
      }

    }

  }

  button.stampdex--button__lookup.md-primary {
    border-radius: 0;
    margin: 1vh 0;
  }

  button.stampdex--button__add.md-primary {
    background-color: #0088ce;
    border-radius: 0;
    color: #fff;
    margin: 1vh 0;
    width: 100%;
  }


  aside.stampdex {
    @media #{$small} {
    }
    @media #{$medium} {
    }
    @media #{$large} {
      border-right-style: solid;
      border-color: #ccc;
      border-width: 1px;
    }
    a, a:link { text-decoration: none; }

    header { }
    header h1 {
      text-transform: uppercase;
      @extend .animated;
      @extend .fadeInUp;
      span {
        @extend .animated;
        @extend .rollIn;
      }
    }
    header h1 span { }

    div.field-row {
      @include grid-row();
      @media #{$small} {
        @include grid-column(8, $collapse: true, $center: true);
        text-align: center;
      }
      @media #{$medium} {
        @include grid-column(8, $collapse: true, $center: true);
        text-align: center;
      }
      @media #{$large} {
        @include grid-column(12, $collapse: true, $center: true);
        text-align: left;
      }
      padding-left: 2vh !important;
      padding-right: 2vh !important;
      input.stampdex--query {
        @media #{$small} {
          width: 100%;
          margin: 0 auto;
        }
        @media #{$medium} {
          width: 100%;
          margin: 0 auto;
        }
        @media #{$large} {
          width: auto;
          margin: 0;
        }
      }

      button {
        border-radius: 0;
      }
    }
    h1 {
      font-size: 1.2rem;
      padding: 1vh 2vh;
      margin-bottom: 2vh;
      border-bottom-style: solid;
      text-align: center;
      @extend %stampdex-border;
    }
    ul[list-stroll] {

      min-height: 30vh;
    }
    ul[current-stamp] {
      overflow-y: hidden;
    }
    ul {
      @extend %listStyle;
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;
      @extend %stampdex-border;
      border-bottom-style: solid;

      li {
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding: .5vh 2vh;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        &:hover {
          @extend .animated;
          @extend .pulse;

          border-left: 3px solid #3d3d3d;
        }
      }
    }

    @media #{$small} {
      @include grid-column($columns: 12, $collapse: true);
    }
    @media #{$medium} {
      @include grid-column($columns: 12, $collapse: true);
    }
    @media #{$large} {
      @include grid-column($columns: 3, $collapse: true);
    }

  }


  /*

    ______                           ______                    _ _
   / _____) _                       (______)         _        (_) |
  ( (____ _| |_ _____ ____  ____     _     _ _____ _| |_ _____ _| |
   \____ (_   _|____ |    \|  _ \   | |   | | ___ (_   _|____ | | |
   _____) )| |_/ ___ | | | | |_| |  | |__/ /| ____| | |_/ ___ | | |
  (______/  \__)_____|_|_|_|  __/   |_____/ |_____)  \__)_____|_|\_)
                           |_|

  */
  .stamp-detail {

    .stamp--alias .shimmy-label,
    md-input-container .shimmy-label {
      visibility: hidden;
    }

    .stamp--alias:hover,
    md-input-container:hover {
      .shimmy-label {
        @extend .animated;
        @extend .bounceInLeft;
        visibility: visible;
      }
    }

    md-input-container {

      .fa {
      }

    }

    li {
      @extend .animated;
      @extend .fadeInUp;
    }

    ul {
      @include grid-row();
      @extend %listStyle;
      padding: 2vh;
    }

    @media #{$small} {
      @include grid-column($columns: 12, $collapse: true);
    }
    @media #{$medium} {
      @include grid-column($columns: 12, $collapse: true);
    }
    @media #{$large} {
      @include grid-column($columns: 9, $collapse: true);
    }

    .field-annotation { font-size: .75rem; }

  }

  .stamp--alias__input {
    @media #{$small} {
      @include grid-column($columns:12, $collapse: true);
    }
    @media #{$medium} {
      @include grid-column($columns:12, $collapse: true);
    }
    @media #{$large} {
      @include grid-column($columns:12, $collapse: true);
    }
  }

  .stamp--id {
    @media #{$small} {
      @include grid-column($columns:12, $collapse: true);
    }
    @media #{$medium} {
      @include grid-column($columns:12, $collapse: true);
    }
    @media #{$large} {
      @include grid-column($columns:12, $collapse: true);
    }
  }

  .stamp-detail--container {}
  .stamp-detail--listing {
  }


  .stamp--status { 
    md-slider.md-default-theme[disabled]:not(.md-min) .md-thumb:after {
      background-color: rgba(25, 126, 194, .75);
      border-color: rgba(25, 126, 194, 1) !important;
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 37px;
      height: 37px;
      border-radius: 32px;
      border: 3px solid;
    }
    clear: both;
    @include grid-row();
    position: relative;
    margin-top: 4vh;
    .field-block {

      min-height: 15vh;
      md-slider {
        width: 75%;
        margin: 0 auto;
      }

      ul {
        padding: 0;
        margin: 0;
      }

      ul.field-slider--captions,
      ul.field-slider--headers {
        font-size: .9rem;

        @include grid-row();

        li {
          text-align: center;
          @media #{$small} {
            @include grid-column($columns:4, $collapse: true);
          }
          @media #{$medium} {
            @include grid-column($columns:4, $collapse: true);
          }
          @media #{$large} {
            @include grid-column($columns:4, $collapse: true);
          }
        }

      }

      ul.field-slider--captions {
        &:hover {
          @extend .animated;
          @extend .pulse;
        }

        li:first-child {
          text-align: left;
          padding-left: 12%;
        }

        li:last-child {
          text-align: right;
          padding-right: 12%;
        }

      }

      &:nth-of-type(1) {
        @media #{$small} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:4, $collapse: true);
        }
      }

      &:nth-of-type(2) {

        @media #{$small} {
          @include grid-column($columns:8, $collapse: false);
        }
        @media #{$medium} {
          @include grid-column($columns:8, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:8, $collapse: false);
        }
      }

    }

  }

  dl.stamp-detail--control-stamp {

    .field-block--address {
      @media #{$small} {
        @include grid-column($columns:6, $collapse: true);
      }
      @media #{$medium} {
        @include grid-column($columns:6, $collapse: true);
      }
      @media #{$large} {
        @include grid-column($columns:6, $collapse: true);
      }

      .field-address--line-1 {}
      .field-address--line-2 {}
      .field-city {
        @media #{$small} {
          @include grid-column($columns:6, $collapse: false);
        }
        @media #{$medium} {
          @include grid-column($columns:6, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:6, $collapse: false);
        }
      }
      .field-state {
        @media #{$small} {
          @include grid-column($columns:6, $collapse: false);
        }
        @media #{$medium} {
          @include grid-column($columns:6, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:6, $collapse: false);
        }
      }
      .field-zip {
        @media #{$small} {
          @include grid-column($columns:6, $collapse: false);
        }
        @media #{$medium} {
          @include grid-column($columns:6, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:6, $collapse: false);
        }
      }
      .field-country {
        @media #{$small} {
          @include grid-column($columns:6, $collapse: false);
        }
        @media #{$medium} {
          @include grid-column($columns:6, $collapse: false);
        }
        @media #{$large} {
          @include grid-column($columns:6, $collapse: false);
        }
      }
    }

    .field-block--address__latLng {
      @media #{$small} {
        @include grid-column($columns:6, $collapse: false);
      }
      @media #{$medium} {
        @include grid-column($columns:6, $collapse: false);
      }
      @media #{$large} {
        @include grid-column($columns:6, $collapse: false);
      }
    }

    .field-block--hours {

      @media #{$small} {
        @include grid-column($columns:12, $collapse: true);
      }
      @media #{$slinder} {
        @include grid-column($columns:12, $collapse: true);
      }
      @media #{$medium} {
        @include grid-column($columns:12, $collapse: true);
      }
      @media #{$large} {
        @include grid-column($columns:12, $collapse: true);
      }

      .field-wrap--start-time {
        @media #{$small} {
          @include grid-column($columns:5, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:5, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:3, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:3, $collapse: true);
        }
      }

      .field-wrap--end-time {
        @media #{$small} {
          @include grid-column($columns:5, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:5, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:3, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:3, $collapse: true);
        }
      }

      .field-wrap--timezone {
        text-align: center;
        @media #{$small} {
          @include grid-column($columns:12, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:12, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:3, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:3, $collapse: true);
        }
      }

      .field-wrap--sep {
        text-align: center;
        @media #{$small} {
          @include grid-column($columns:2, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:2, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:1, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:1, $collapse: true);
        }
        padding: 3vh;
      }

      .field-wrap--always {
        text-align: center;
        @media #{$small} {
          @include grid-column($columns:12, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:12, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:2, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:2, $collapse: true);
        }
      }

      .field-row { }
      .field-row--days {
        ul {
          padding: 0;
        }
        li {
          text-align: center;
          md-checkbox .md-container {
          }
        }
        li {
          @media #{$small} {
            @include grid-column($columns:2, $collapse: true);
          }
          @media #{$slinder} {
            @include grid-column($columns:1.7, $collapse: true);
          }
          @media #{$medium} {
            @include grid-column($columns:1.7, $collapse: true);
          }
          @media #{$large} {
            @include grid-column($columns:1.7, $collapse: true);
          }
        }
      }
    }

    dt {}
    dd {}
      label {}
      span.stamp--edit {}
    .stamp--alias {}
    .stamp--id {}
    .stamp--locked {}
    .stamp--form {
      @include grid-row();
    }
    .field-block {
      /* @TODO WHOA! */
      @include grid-row();
    }
    .field-row {}
    .field-label { }
    .field-input { }
  }

  .field-type-inline-3 { 
    @include grid-row();
    margin-top: 1vh;
    .field-wrap {

    }
  }
  .stamp-detail--container {
    .field-submit {
      clear: both;
      text-align: center;
      @include grid-row();
    }

    .field-block--hours {
      padding-top: 2vh;

    }
  }

}

