.page--stamp,
.page--stamp__id {
  a.md-primary {
    display: block;
    text-align: center;
    padding: 3vh;
    text-decoration: none;
    border-bottom: none;

    .fa {
      position: relative;

    }
  }
}


.page--stamp__success,
.page--stamp__pending,
.page--stamp__error,
.page--stamp__help {

  ul {
    list-style: none;
  }

  height: 100%;

  /* Page Level Resets */
  .accessibly-hide { position: absolute; left: -9999px; }

  .md-primary, .label { background-color: transparent; }


  .site-header {
    width: 100%;
    float: none !important;
  }

  .page-divider {
    height: 90%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  &.page--stamp__success,
  &.page--stamp__pending,
  &.page--stamp__error,
  &.page--stamp__help {
    .page-divider {
      height: 100%;
    }
  }

  .page-container {

    height: 100%;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column; 
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    header {
      padding: 1vh 2vh;
      height: 10%;
    }

    .page-column {
      height: 100%;

      &.page-column-1 {
        width: 20%;

        a.md-primary {
          height: 100%;
          width: 100%;
          text-align: center;
          display: block;
          span.fa {
          }
          margin-bottom: 0;
          background-color: #ee3a50;
          color: #fff;
          padding: 0;
          span.label {
            display: block;
            background-color: #ee3a50;
          }
        }
      }

      &.page-column-2 {

        width: 80%;

        .md-primary {
          @extend .accessibly-hide;
        }

        ul {

          height: 100%;
          display: -webkit-flex;
          display: flex;

          -webkit-flex-direction: column; 
          flex-direction: column;
          -webkit-align-items: flex-start;
          align-items: flex-start;

          .field-input {
            /*left: 50%;*/
            text-align: center;
            position: relative;
            /*margin-left: -25%;*/
          }

          li {

            height: 33.33%;
            width: 100%;

            .md-button {
              height: 100%;
              width: 100%;
            }

            &.push-notifications,
            &.changetip--default-header {
              .inner { padding: 0; vertical-align: middle; }
              background-color: #00adef;
              .field-column {
                label {
                  text-transform: lowercase;
                  font-weight: 400;
                }
                padding-top: 11.5vh;
              }
            }

            &.product-tour,
            &.changetip--guide {
              .inner { padding: 5%; }
              &, .md-button, .md-button:hover {
                background-color: #0088ce;
              }
            }

            &.log-out,
            &.redirect {
              .label { font-size: 1.5rem; }
              &, .md-button, .md-button:hover {
                background-color: #006fb9;
              }
            }

          }

        }
      }

    }

    .field-column {
    }

    .page-column-2 {
      ul {
        @include grid-row();
        padding: 0 !important;
        margin: 0 !important;
        max-width: 100%;
      }
    }

    div.field-column {

      color: #fff;
      text-align: center;

      &:nth-of-type(1) {

        @media #{$small} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:4, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:4, $collapse: true);
        }

      }

      &:nth-of-type(2) {

        @media #{$small} {
          @include grid-column($columns:8, $collapse: true);
        }
        @media #{$slinder} {
          @include grid-column($columns:8, $collapse: true);
        }
        @media #{$medium} {
          @include grid-column($columns:8, $collapse: true);
        }
        @media #{$large} {
          @include grid-column($columns:8, $collapse: true);
        }

      }

    }

  }

}
