/***
# fileOverview

                           _ _
                          | (_)
     ____  _____ ____   __| |_ ____   ____
    |  _ \| ___ |  _ \ / _  | |  _ \ / _  |
    | |_| | ____| | | ( (_| | | | | ( (_| |
    |  __/|_____)_| |_|\____|_|_| |_|\___ |
    |_|                             (_____|

## description

Pending page for stampening validation.

***/

body.base-template .page--stamp__pending {

  .emphasis-time {
    border-bottom: 2px #fff solid;
  }

  p {
    font-size: .75rem;
  }

  .page-container .page-column.page-column-2 {
    width: 100%;
  }

  .page-column-2 a,
  .page-column-2 a:link,
  .page-column-2 a:visited {
    color: #fff;
    text-decoration: none;
    /*@extend .emphasis-time;*/
  }

  .push-notifications,
  .product-tour,
  .log-out {
  }

  .site-header {
    .page-anchor {
      padding: 2.5vh 0 0 0;
      .md-button {
        width: 100%;
        text-align: center;
        color: #ffffff;
        .fa {
          left: 0 !important;
        }
      }
      a { color: #fff; }

      .md-button {
        display: block;
      }
      .fa {
        line-height: 1.65;
      }
      .inner {
        border        : 2px #fff solid;
        border-radius : 50%;
        height        : 30px;
        width         : 30px;
        margin        : 0 auto;
      }
    }

  }

  .page-divider {
    overflow: hidden;
    ul {
      height: 100%;
      width: 100%;
    }
  }

  .bits-display-container {
    height: 33%;

    header {
      height: 100%;
    }

    ul {
      padding: 0;
      margin: 0;
    }

  }

  .push-notifications {
    text-align: center;
  }

  .product-tour {

    footer {
      p {
        font-weight: 500;
      }
    }

    background-color: #0088ce;
    height: 77%;
    text-align: center;
    color: #fff;

    h2, p {
      font-weight: 500;
    }

    figure:before {
      border: 2px solid #006FB8;
      position: absolute;
      display: block;
      content: ' ';
      background: rgba(255, 255, 255, 1);
      width: 175px;
      height: 175px;
      right: auto;
      top: -6px;
      z-index: -1;
      left: 6px !important;
      border-radius: 50%;
    }

    @media #{$small} {
      padding: 6vh 6vh 2vh;
    }
    @media #{$slinder} {
      padding: 6vh 6vh 2vh;
    }
    @media #{$medium} {
      padding: 6vh 20vh 2vh;
    }
    @media #{$large} {
      padding: 6vh 20vh 2vh;
    }

    h1, h2 {
      font-size: 1rem;
      color: #fff;
    }

    figure {

      position: relative;

      figcaption {
        padding: 1rem 0 0 0;

        a,
        a:link,
        a:visited {
          font-weight: 500;
          color: #fff;
          text-decoration: none;
        }

        .bits-collected-value {
          font-size: 3rem;
          font-weight: 500;
          line-height: 1;
        }

        .bits-collected-label {
          font-weight: 500;
        }
      }

      .monad {

/*
 *        position: absolute;
 *        bottom: 100%;
 *        left: 50%;
 *
 *        @media #{$small} {
 *          width: 16vh;
 *          margin: 0px auto 0px -8vh;
 *        }
 *        @media #{$slinder} {
 *          width: 20vh;
 *          margin: 0px auto 0px -10vh;
 *        }
 *        @media #{$medium} {
 *          width: 20vh;
 *          margin: 0px auto 0px -10vh;
 *        }
 *        @media #{$large} {
 *          width: 20vh;
 *          margin: 0px auto 0px -10vh;
 *        }
 */

        /*
         *&:before {
         *  border: 5px rgba(255, 255, 255, 1) solid;
         *  border-radius: 50%;
         *  width: 21vh;
         *  height: 21vh;
         *  content: ' ';
         *  display: block;
         *  position: absolute;
         *  left: 50%;
         *  margin-left: -10.5vh;
         *  top: -.25rem;
         *}
         */


        img {
          max-width: 20vh;
          @extend .animated;
          @extend .rollIn;
        }
      }
    }
  }

}
