/*

  ______                            ______ _
 / _____) _                        / _____|_)
( (____ _| |_ _____ ____  ____    ( (____  _  ____ ____  _   _ ____
 \____ (_   _|____ |    \|  _ \    \____ \| |/ _  |  _ \| | | |  _ \
 _____) )| |_/ ___ | | | | |_| |   _____) ) ( (_| | | | | |_| | |_| |
(______/  \__)_____|_|_|_|  __/   (______/|_|\___ |_| |_|____/|  __/
                         |_|                (_____|           |_|

*/

.page--stamp-signup {

  [count-down] {
    .counter {
      font-size: 8rem;
      text-align: center;
      line-height: 1;
    }
  }

  form {
    @include header-intro();
  }

  .md-button {
    background-color: #0088ce;
    border-radius: 0;
    padding: 6px 3vh;
    span { color: #fff; }
    span.fa { padding: 0 0 0 2vh; }
  }

  md-divider {
    border-top: none !important;
    clear: both;
  }

  textarea {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    width: 100%;
    &:focus,
    &:active {
      border-bottom: 2px solid rgba(0,0,0,0.12);
    }
  }

  // Page-level
  .stamp-signup {
    padding-bottom: 5vh;
    padding-top: 5vh;
    clear: both;
    @include grid-row();

    h1, h2, .field-intro {
      text-align: center;
      @media #{$small} {
        @include grid-column($columns:12, $collapse: false);
      }
      @media #{$medium} {
        @include grid-column($columns:12, $collapse: false);
      }
      @media #{$large} {
        @include grid-column($columns:12, $collapse: true);
      }
    }
  }

  .field-column-1 {
    @media #{$small} {
      @include grid-column($columns:12, $collapse: false);
    }
    @media #{$medium} {
      @include grid-column($columns:12, $collapse: false);
    }
    @media #{$large} {
      @include grid-column($columns:12, $collapse: false);
    }
  }

  .field-column-2 {
    @media #{$small} {
      @include grid-column($columns:12, $collapse: false);
    }
    @media #{$medium} {
      @include grid-column($columns:12, $collapse: false);
    }
    @media #{$large} {
      @include grid-column($columns:12, $collapse: false);
    }
  }

  .field-note {
    @media #{$small} {
      @include grid-column($columns:12, $collapse: false);
    }
    @media #{$medium} {
      @include grid-column($columns:12, $collapse: false);
    }
    @media #{$large} {
      @include grid-column($columns:12, $collapse: true);
    }
  }

  .forms--baptize .field-submit {
    @media #{$small} {
      @include grid-column($columns:12, $center: false, $collapse: true);
      text-align: center;
    }
    @media #{$medium} {
      @include grid-column($columns:12, $center: false, $collapse: true);
      text-align: center;
    }
    @media #{$large} {
      @include grid-column($columns:12, $center: false, $collapse: true);
      text-align: center;
      padding: 0 3vh;
    }
  }

  .forms--signup .field-submit {
    @media #{$small} {
      @include grid-column($columns:12, $center: false, $collapse: true);
      text-align: center;
    }
    @media #{$medium} {
      @include grid-column($columns:12, $center: false, $collapse: true);
      text-align: center;
    }
    @media #{$large} {
      @include grid-column($columns:12, $center: false, $collapse: true);
      text-align: center;
    }
  }

  .forms--signup,
  .forms--baptize {
    @include grid-row();
    clear: both;
  }
  .forms--baptize {
    @media #{$small} {
      margin-bottom: 2vh;
    }
    @media #{$medium} {
      margin-bottom: 2vh;
    }
    @media #{$large} {
      margin-bottom: 2vh;
    }
  }

  // Signup Form
  .forms--signup {
    margin-top: 4vh;
    .field-column-2 {
      .field-input {
        @media #{$small} {
          padding: 0;
        }
        @media #{$medium} {
          padding: 0;
        }
        @media #{$large} {
          padding: 3vh;
        }
      }
    }
  }


}
