/***
# fileOverview

     _____  ____ ____ ___   ____
    | ___ |/ ___) ___) _ \ / ___)
    | ____| |  | |  | |_| | |
    |_____)_|  |_|   \___/|_|

## description

Error page for stampening validation.

***/

body.base-template.device-ios .page--stamp__error,
body.base-template.device-android .page--stamp__error {
  figure.alert {
    span {
      background-image: url("../../../../www/images/alert.png");
    }
  }
}

body.base-template .page--stamp__error {

  figure.alert {
    &:before {
      right: auto !important;
      left: 50% !important;
      margin-left: -75px !important;
    }
    span {
      background-image: url("/assets/images/alert.png");
      display: block;
      width: 100px;
      height: 100px;
      top: 0rem;
      content: ' ';
      background-size: contain;
      background-repeat: no-repeat;
      left: 50%;
      position: relative;
      margin-left: -50px;
    }
    margin-top: -1vw !important;
    margin-bottom: 5vh;
  }

  .emphasis-time {
    border-bottom: 2px #fff solid;
  }

  p {
    font-size: .75rem;
    font-weight: 500;
  }

  .page-container .page-column.page-column-2 {
    width: 100%;
  }

  .page-column-2 a,
  .page-column-2 a:link,
  .page-column-2 a:visited {
    color: #fff;
    text-decoration: none;
    /*@extend .emphasis-time;*/
  }


  .push-notifications,
  .product-tour,
  .log-out {
  }

  .site-header {
    .page-anchor {

      .md-button {
        width: 100%;
        text-align: center;
        color: #ffffff;
      }
      padding: 2.5vh 0 0 0;
      a { color: #fff; }

      .md-button {
        display: block;
      }
      .fa {
        line-height: 1.65;
      }
      .inner {
        border        : 2px #fff solid;
        border-radius : 50%;
        height        : 30px;
        width         : 30px;
        margin        : 0 auto;
      }
    }

  }

  .page-divider {
    overflow: hidden;
    ul {
      height: 100%;
      width: 100%;
    }
  }

  .changetip--default-header,
  .bits-display-container {
    height: 33%;

    header {
      height: 100%;
    }

    .page-anchor {
      text-align: center;
      position: relative;
      top: 15px;

      .md-button {
        width: 100%;
        text-align: center;
        color: #ffffff;
      }
    }
    ul {
      padding: 0; 
      margin: 0;
    }
  }

  .push-notifications {
    text-align: center;
  }

  .changetip--guide,
  .product-tour {

    footer {
      p {
        font-weight: 500;
      }
    }

    background-color: #0088ce;
    height: 77%;
    text-align: center;
    color: #fff;

    figure:before {
      border: 2px solid #006FB8;
      position: absolute;
      display: block;
      content: ' ';
      background: rgba(255, 255, 255, 1);
      width: 150px !important;
      height: 150px !important;
      right: auto;
      top: -30px !important;
      z-index: -1;
      border-radius: 50%;
    }

    @media #{$small} {
      padding: 6vh 6vh 2vh;
    }

    @media #{$slinder} {
      padding: 6vh 6vh 2vh;
    }

    @media #{$medium} {
      padding: 6vh 20vh 2vh;
    }

    @media #{$large} {
      padding: 6vh 20vh 2vh;
    }

    h1, h2 {
      font-size: 1rem;
      color: #fff;
    }

    figure {

      position: relative;

      figcaption {
        padding: 1rem 0 0 0;

        .bits-collected-value {
          font-size: 3rem;
          font-weight: 500;
          line-height: 1;
        }

        .bits-collected-label {
          font-weight: 500;
        }
      }

      .monad {

        &:before {
          border: 5px rgba(255, 255, 255, 1) solid;
          border-radius: 50%;
          width: 21vh;
          height: 21vh;
          content: ' ';
          display: block;
          position: absolute;
          left: 50%;
          margin-left: -10.5vh;
          top: -.25rem;
        }

        img {
          max-width: 20vh;
          @extend .animated;
          @extend .rollIn;
        }
      }
    }

  }

  .logout,
  .redirect {

  }

}
