/*
@fileOverview

            _
      ___ _| |_ ___   ____ _____
     /___|_   _) _ \ / ___) ___ |
    |___ | | || |_| | |   | ____|
    (___/   \__)___/|_|   |_____)

@description

  

*/

body.merchant--store,
body.store {
  @include payment-form();

}

md-toast {
  z-index: 90739742893 !important;
}

md-backdrop.md-opaque.md-default-theme {
  height: 300% !important;
}

body.merchant--store md-dialog,
body.store md-dialog {
  overflow: visible !important;

  @media #{$small} {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  @media #{$slinder} {
    max-width: 100% !important;
    min-width: 80% !important;
  }

  @media #{$medium} {
    max-width: 100% !important;
    min-width: 80% !important;
  }

  @media #{$large} {
    max-width: 100% !important;
    min-width: 50% !important;
  }

}

.md-dialog-container {

  z-index: 9051 !important;
  padding-bottom: 1rem !important;

  & > nav {
    position: absolute;
    bottom: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    left: 0px;
    li {
      list-style: none;
      display: inline-block;
      padding-left: 0;
      margin: 0;
    }

  }

}

.page--get-stamp {

  select { }
  dt, dd { 
  }
  .stamp--add-to-cart-result { }
  ul {
    margin: 0;
    padding: 0;
    @extend %listStyle;
  }
  .md-select-menu-container {
    border: 1px #0088ce solid;
  }
  .md-select-label {
    color: #0088ce !important;
  }
}

/*

*/
.stamp-plan--add-to-cart { }

/*

*/
.get-a-stamp--plans {

  .intro {
    text-align: center;
    @include grid-column($columns:10, $center: true);
    margin-bottom: 2rem !important;
  }

  clear: both;
  @include clearfix;
  @include grid-row();
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 5vh;

  @include header-intro();

  ul {
    @include grid-row();
  }

  & > ul > li {
    @media #{$small} {
      @include grid-column(12, $collapse: true);
    }
    @media #{$medium} {
      @include grid-column(4, $collapse: true, $push: 1.5);
    }
    &:nth-of-type(2) {
      @media #{$medium} {
        @include grid-column(4, $collapse: true, $push: 2.5);
      }
    }
    @media #{$medium} {
      @include grid-column(4, $collapse: true);
    }

    @media #{$large} {
      @include grid-column(4, $collapse: true, $push: 1.5);
    }
    &:nth-of-type(2) {
      @media #{$large} {
        @include grid-column(4, $collapse: true, $push: 2.5);
      }
    }

  }

  dl {
    @media #{$small} {
      border-top: 2px #0088ce solid;
      border-bottom: 2px #0088ce solid;
    }
    @media #{$medium} {
      border: 2px #0088ce solid;
    }
    @media #{$large} {
      border: 2px #0088ce solid;
    }
    -moz-box-shadow    : 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-box-shadow : 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow         : 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    @extend .animated;
    @extend .flipInY;

  }

  dt {
    background-color: #efefef;
    border-bottom: 1px #ccc solid;
  }

  dt, dd { padding: 2vh; }
  dt {
    margin: 0;
    h3 {
      text-align: center;
      margin: 0;
      text-transform: uppercase;
    }
  }

  dd {
    margin: 0;
  }

  dd.corollary--price-point {
    background-color: #f6f6f6;
    font-size: 2rem;
    color: #0088ce;
    text-align: center;
    border-bottom: 1px #ccc solid;
  }

  dd.corollary--notes {

    &, p {
      font-size: .75rem;
      font-weight: 100;
      margin: 0;
    }
    text-align: center;
    border-bottom: 1px #ccc solid;
    ul {
      @include grid-row();
    }
    li {
      border-bottom: 1px #ccc solid;
      padding: 2vh 0;
      &:last-child {
        border-bottom: none;
      }
      @media #{$small} {
        @include grid-column(12, $collapse: true);
      }
      @media #{$medium} {
        @include grid-column(12, $collapse: true);
      }
      @media #{$large} {
        @include grid-column(12, $collapse: true);
      }
    }
  }

  dd.corollary--expiry {
    text-align: right;
    background-color: #00aeef;
    border-bottom: 1px #ccc solid;
    color: #fff;
    &, p {
      font-size: .8rem;
    }
  }
    .stamp-plan--expiry__label {
      &:after {
        content: ': ';
      }
    }
    .stamp-plan--expiry__limit {
    }
    .stamp-plan--expiry__unit {
    }
    .stamp-plan--expiry__help-note {

    }

  dd.corollary--cart {
    text-align: center;
    md-select {
      margin: 2vh 0;
    }
  }

  .stamp-plan--price-point {
    ul {
      li {
        display: none;
        &:nth-of-type(1) {
          display: block;
        }
      }
    }
  }
  .stamp-plan--price-point__currency { }
  .stamp-plan--price-point__cost { 
    font-size: 2rem;
  }
  .stamp-plan--notes {
    ul { }
    li { }
  }

  .stamp-plan--expiry { }
  .stamp-plan--expiry__label { }
  .stamp-plan--expiry__limit { }
  .stamp-plan--expiry__unit { }
  .stamp-plan--expiry__help-note { }
  .stamp-plan--add-to-cart-select {
    select { }
  }

  .stamp-plan--add-to-cart-title { }
  .stamp-plan--add-to-cart-quantity {
    cursor: pointer;
  }

}
