<!--
  @module www/controllers/dashboard
-->
<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-show="loadingStoreOrDashboard"
  ng-class="{
    'page--dash': true,
    'page--active': loadingSubpage
  }"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
    <h1>
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>
  </header>

  <div 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="" 
    role="main"
    ng-init="initializedUserbase()"
  >

    <div site-navigation></div>

    <section
      ng-show="noResults && loading == true"
      ng-class="{
        'no-results': noResults,
        'no-results-yet': noResults
      }"
      >
      <p><span class="fa fa-th"></span></p>
    </section>

    <section
      class="stats--control"
    >

      <header>

        <h1>{{pageSectionTitle}}</h1>

        <div class="intro">
          <p>
          This is your customer engagement grid. Your top customers occupy the 
          bigger area and the blue color intensity increases the more you 
          stamp their friends. Click the handle to go to their social profile.
          </p>
        </div>

        <md-divider></md-divider>

        <div stamp-impressions-feedback>
          <dl>

            <dt>
              <span class="fa fa-flash"></span>
              Fuel Remaining
            </dt>

            <dd ng-show="noResults">Empty</dd>
            <dd ng-show="!noResults && expiredStatus">Empty</dd>
            <dd ng-show="!noResults && !expiredStatus">{{stampAnalytics.quantity}}</dd>

            <dt>
              <span class="fa fa-history"></span>
              Expiry Date
            </dt>

            <dd ng-show="noResults">Not started</dd>
            <dd ng-show="!noResults && expiredStatus">Expired</dd>
            <dd ng-show="!noResults && !expiredStatus">{{stampAnalytics.expiry}}</dd>

          </dl>
        </div>

        <md-divider></md-divider>

      </header>

      <ul
        ng-if="noResults == false"
      >

        <li 
          class="graph hint--top"
          ng-repeat="item in graphsLabels.list"
          aria-label="{{item.label}}"
          data-hint="Tap to Zoom In/Out"
        >
          <!--
            @description
            A directive wrapper for C3 static snapshots generated from 
            functions in Firebase/Blaze. Should wrap in authorization directive's
            scope.
            @namespace static-stats
          -->
          <figure>

            <div 
              static-stats="stamp--graph__{{item.id}}"
              datasource='graphs[item.id]'
            >

              <div class="default--loader animated fade-in">
                <span class="lovestamp--loader"></span>
              </div>

            </div>

            <figcaption
              aria-hidden="true"
            >
              {{item.label}}
            </figcaption>

          </figure>
        </li>

      </ul>

    </section>

    <section
      ng-if="noResults == true"
      ng-class="{
        'no-results': noResults
      }"
    >
      <p>No graph data to show.</p>
      <p>Stamp a fan and this area will update with some juicy analytics.</p>
    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>
