/***
@fileOverview

     _
    | |
    | |__  _____  ___ _____ 
    |  _ \(____ |/___) ___ |
    | |_) ) ___ |___ | ____|
    |____/\_____(___/|_____)

@description



***/


/*===================================

  Config defaults.

  @package lovestamp

*/

$use-rotateInUpLeft : true;
$use-fadeIn         : true;
$use-fadeOut        : true;
$use-fadeInUp       : true;
$use-fadeInDown     : true;
$use-fadeInDownBig  : true;
$use-bounceInLeft   : true;
$use-bounceOutRight : true;
$use-bounceOut      : true;
$use-pulse          : true;
$use-tada           : true;
$use-rollIn         : true;
$use-zoomInDown     : true;
$use-flipInY        : true;
$use-flipInX        : true;
$use-flip           : true;
$use-bounce         : true;
