/*
@fileOverview

 _
| |
| |__  _____  ___ _____
|  _ \(____ |/___) ___ |
| |_) ) ___ |___ | ____|
|____/\_____(___/|_____)

@module interface
@description

  A base template is a visual analogue to Django sites. It is the most basic 
  presentational pattern for sites, and it also stands in as a conceptual 
  placeholder for generic interface design elements.

*/

@import "compass/css3";
@import "_utils";

html.admin-like {
  background-color: #2b537a;

  .content-view {
    background-color: #2b537a;
  }
}

html.js.index {
  /*overflow-y: hidden;*/
}

.leaflet-tile-container img {
  -webkit-backface-visibility: hidden;
}
.leaflet-marker-icon.animated {
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

#main-content > section.page--active.page--index > b > div.page-anchor {
  text-align: center;
}
#main-content > section > b > div.page-anchor { visibility: hidden; }
body.show--product-tour #main-content > section > b > div.page-anchor { visibility: visible; }
body[class*="profile"] #main-content > section > b > div.page-anchor { visibility: visible; }
body.index [notification],
body.fan-view [notification],
body.product-tour--closed [notification],
body.show--product-tour [notification] {
  md-toast {
    /*visibility: hidden;*/
  }
}

.page--profile header.site-header .page-anchor {
  visibility: visible !important;
}

body.product-tour--closed div.page-anchor {
  visibility: visible !important;
}
body.show--product-tour #main-content>section>b>div.page-anchor {
  visibility: visible !important;
}

/*
 *body.pt--facebook > md-bottom-sheet > aside:nth-child(7) { display: none; }
 *body.pt--facebook > md-bottom-sheet > aside:nth-child(4) { display: none; }
 */

.bs--product-tour {
  visibility: hidden;
  display: none;
}

body.show--product-tour .bs--product-tour {
  visibility: visible;
  display: none;
}

body.extended-background {
  /*overflow-y: hidden !important;*/
}

body.merchant--store .mg-dialog-container,
body.fan--store .mg-dialog-container,
body.store .mg-dialog-container {
  padding-bottom: 1rem !important;
}

md-backdrop.md-opaque.md-default-theme {
  background-color: rgba(0,0,0,0.2) !important;
  background-color: rgba(43, 83, 122, .8) !important;
  height: 150% !important;
  z-index: 9799 !important;
}
body.merchant--store .md-dialog--wrapper > figure,
body.fan--store .md-dialog--wrapper > figure,
body.store .md-dialog--wrapper > figure {
  top: 5px !important;
}

body.merchant--store .forms--payment footer li,
body.fan--store .forms--payment footer li,
body.store .forms--payment footer li {
  &:last-child:before {
    content: '|';
    margin-right: .5ch;
  }
}

body.merchant--store .md-dialog-container,
body.fan--store .md-dialog-container,
body.store .md-dialog-container {
  top: 10px !important;
  z-index: 99999 !important;
  figure.stripe-badge {

    @media #{$small} {
      left: 32%;
    }

    @media #{$slinder} {
      left: 37%;
    }

    @media #{$medium} {
      left: 41%;
    }

    @media #{$large} {
      left: 39%;
    }


    z-index: 892384836871963463287461983683267412673846831278648976123978648976123469781967832479862396784978647986234678 !important;
    /* border: none; */
    /* box-shadow: none; */
    background-color: #111;
    box-shadow: none;
    width: 85px;
    height: 85px;
    position: absolute;
    img {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      max-width: 80%;
      left: 50%;
      margin-left: -33px;
      background-color: #111;
    }
  }

  figure.verified {

    @media #{$small} {
      left: 72.5%;
    }

    @media #{$slinder} {
      left: 66.5%;
    }

    @media #{$medium} {
      left: 61.5%;
    }

    @media #{$large} {
      left: 63.5%;
    }


    z-index: 10 !important;
    width: 85px;
    height: 85px;
    position: absolute;
    img {
      position: relative;
      top: 10%;
      max-width: 58%;
      left: 47%;
      margin-left: -20px;
    }
  }
}

li.graph {
  &:after {
    font-weight: 500;
  }

  figure {
    & > div {
      font-weight: 500;
    }
  }
}

ul.mobile-menu--active {

  @media #{$small} {
    display: none;
  }
  @media #{$slinder} {
    display: none;
  }
  @media #{$medium} {
    display: block;
  }
  @media #{$large} {
    display: block;
  }

}

.mobile-menu {

  .fa-navicon {

    color: #fff;
    cursor: pointer;

    @media #{$small} {
      display: inline-block;
    }
    @media #{$slinder} {
      display: inline-block;
    }
    @media #{$medium} {
      display: none;
    }
    @media #{$large} {
      display: none;
    }

  }

  @media #{$small} {
    position: absolute;
    top: -65px;
    right: 2vh;
    font-size: 3rem;
  }

  @media #{$slinder} {
    position: absolute;
    top: -65px;
    right: 2vh;
    font-size: 3rem;
  }

  @media #{$medium} {
    position   : absolute;
    top        : 50%;
    margin-top : -2vh;
    right      : 2vh;
  }

  @media #{$large} {
    position   : absolute;
    top        : 50%;
    margin-top : -2vh;
    right      : 2vh;
  }

}

a:not(.md-toast-open-bottom) {
  .fan-view--menu {
    display: none !important;
  }
}

.fan-view--menu {
  position: absolute;
  bottom: -28%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  span {
    margin: 0 .5rem;
  }
}

.orbital-loader {
  opacity: 0;
  content: ' Loading... ';
}

.default--loader {
  text-align: center;
  padding: 7vh 0;
  color: #ccc;
}

.field-edit {
  cursor: pointer;
}

.leaflet-label--hide-forever { 
  @extend .animated;
  @extend .fade-out;
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  position: absolute !important;
  left: -9999px;
  top: -9999px;
}

.leaflet-top.leaflet-right {
  display: none !important;
}

.leaflet-label.first.enable {
  @extend .fade-in;
  @extend .animated;
}

.leaflet-label.disable {
  display: block !important;
}

.leaflet-label.enable {
  /*display: block !important;*/
}
.page--index .leaflet-container { overflow: visible !important; }

.page--index.page--active {
  overflow: hidden !important;
}

body.base-template label,
body.base-template .field-edit,
body.base-template input,
body.base-template textarea { font-weight: 300; }

/** ==================================

    Base Template

    @tmpl        base.tmpl  
    @notes       Consider "_base.scss"
 */

$columns: 12;

@for $i from 1 through $columns {
  .hint--pull-#{$i} {
    &:after {
      margin-left: ($i * -18) + 0px !important;
    }
  }
}

@for $i from 1 through $columns {
  .hint--push-#{$i} {
    &:after {
      margin-left: ($i * 18) + 0px;
    }
  }
}

.chosen-container .chosen-drop { z-index: 9011; }

[leaflet] { width: 100%; height: 100%; }

h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd {
  font-weight: 300;
}

div {
  @include site-tour-pages($override: '!important');
}

/*html { overflow-x: hidden; }*/

[count-down] {
  .counter {
    font-size: 3rem;
    text-align: center;
  }
}

body.base-template.fan--login,
body.base-template.merchant--login,
body.base-template.login {

  aside {
    position: absolute;
    z-index: 9001;
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 1.75rem 0;

    @media #{$small} {
    }

    @media #{$slinder} {
    }

    @media #{$medium} {
    }

    @media #{$large} {
    }

  }


}

body.device-android,
body.device-ios { 

  .site-banner { 

    h1 > a {
      display             : block;
      height              : 35vh;
      position            : absolute;
      z-index             : 10001;
      top                 : 50%;
      margin-top          : -35vh;
      text                : {
        align             : center;
        indent            : -9999px;
      }
      background-image    : url('../../../../www/images/375--logo.png') !important;
      background-size     : auto 100%;
      background-position : center;
      background-repeat   : no-repeat;

      @media #{$small} {
        @include grid-column($columns:12, $center: true);
      }
      @media #{$medium} {
        @include grid-column($columns:12, $center: true);
      }
      @media #{$large} {
        @include grid-column($columns:12, $center: true);
      }


    }
  }
}

body.base-template .changetip--guide {

  figure.alert span {
    background-image: url('/assets/images/alert.png');
    display: block;
    width: 25vh;
    height: 25vh;
    top: -2rem;
    content: ' ';
  }

  figure.alert:before {
      border: 3px #fff solid !important;
      border-radius: 50%;
      position: absolute;
      left: 50% !important;
      right: auto !important;
      top: -26px !important;
      z-index: 9001 !important;
      content: ' ';
      display: block;
      background-color: transparent !important;
      width: 27vh !important;
      height: 27vh !important;
      margin-left: -32px !important;
  }

}

body.device-android,
body.device-ios {

  figure.alert span {
    background-image: url('../../../../www/images/alert.png');
    display: block;
    width: 25vh;
    height: 25vh;
    top: -2rem;
    content: ' ';
  }

  figure.alert:before {
      border: 3px #fff solid !important;
      border-radius: 50%;
      position: absolute;
      left: 50% !important;
      right: auto !important;
      top: -26px !important;
      z-index: 9001 !important;
      content: ' ';
      display: block;
      background-color: transparent !important;
      width: 27vh !important;
      height: 27vh !important;
      margin-left: -32px !important;
  }

  .default--loader {
    .lovestamp--loader {
      @extend .animated;
      @extend .fadeInUp;
      background-image   : url('../../../../www/images/lovestamp--loader.gif') !important;
    }
  }
}

body.base-template {

  md-dialog {
    max-height: 100% !important;
  }

  div[role="main"] {
    min-height: 40vh;
  }

  ul {
    list-style: none;
  }

  background-color: #f1f1f1;

  @include site-tour-pages;

  .default--loader {
    position           : absolute;
    top                : 25%;
    left               : 50%;
    margin-top         : -160px;
    margin-left        : -80px;
    z-index            : 9001;

    .lovestamp--loader {
      @extend .animated;
      @extend .fadeInUp;
      background-image   : url('/assets/images/lovestamp--loader.gif');
      background-repeat  : no-repeat;
      background-size    : 160px 160px;
      width              : 160px;
      height             : 160px;
      display            : block;
      content            : ' ';
    }

  }

  md-toast,
  [md-toast]{
    /*
     *position: relative;
     *z-index: 9002;
     */
  }

  .body-class + div {
    @extend .animated;
    @extend .fadeOut;
  }

  .body-class {
    background-color: #fff;
  }

  .body-class + .default--loader {
    @extend .animated;
    @extend .bounceOutRight;
  }

  /*
   *@extend .animated;
   *@extend .fadeIn;
   *ng-view {
   *  @extend .animated;
   *  @extend .fadeIn;
   *}
   */

  h1, h2, h3, h4, h5, h6 {
    font: {
      family: $headerFontFamily;
    }
  }
  color: #222;
  font: {
    family: $bodyFontFamily;
    size: 100%;
  }

  p {
    margin: 0 0 .5em;
  }

  .site-banner { 

    h1 > a {
      display             : block;
      height              : 35vh;
      position            : absolute;
      z-index             : 10001;
      top                 : 50%;
      margin-top          : -35vh;
      text                : {
        align             : center;
        indent            : -9999px;
      }
      background-image   : url('/assets/images/375--logo.png');
      background-size     : auto 100%;
      background-position : center;
      background-repeat   : no-repeat;

      @media #{$small} {
        @include grid-column($columns:12, $center: true);
      }
      @media #{$medium} {
        @include grid-column($columns:12, $center: true);
      }
      @media #{$large} {
        @include grid-column($columns:12, $center: true);
      }

    }//.site-banner

    p {
      @media #{$large} {
        @include grid-column($columns:3, $center: true);
      }
    }

    h1 {
      font: {
        size: 40px;
      }
    }
  }//.site-banner

  .site-nav {
    @include grid-row();
    ul {
      list-style: none;
    }
    padding: 40px 0 0;
    div {
      padding-bottom: 1rem;
      ul {
        /*@include cf;*/
        @include grid-row();
        li {

          @media #{$large} {
            @include grid-column($columns:2);
          }

          a {
            @include page-link();
            display               : block;
            text-align            : center;
            font-variant          : small-caps;
            text-transform        : uppercase;
            font                  : {
              family              : $bodyFontFamily;
            }

          }//a
        }//li

        .sibling {
        }//sibling

        .selected {
        }//selected

      }
    }
  }

  .site-page {
    @include grid-row();

    padding: 50px 0 0;

    article.inner {
      @media #{$large} {
        @include grid-column($columns:12);
      }
      padding: 0 1em;
    }//article.inner
  }//.site-page

  span[itemprop="alternateName"] {
    display: none;
  }

  .page--login__fan,
  .page--login__merchant {
    .site-banner {
      h1 {
        position       : absolute;
        top            : 50%;
        left           : 0px;
        width          : 100%;
      }
      h1 > i {
        position       : absolute;
        width          : 100%;
        display        : block;
        z-index        : 9001;
        text-align     : center;
        text-transform : lowercase;
        color          : rgba(100, 100, 100, 1);
        font-weight    : 400;
        font-size      : 1.5rem;
      }
    }
  }

  .page--login__fan {
  }
}//body.base-template

.profile a {
  display: block;
  height: 100%;
  width: 100%;
  h1 {

  }
}

$black: #111111;
$stripeColor1: #00bcd2;
$stripeColor2: #93e2eb;
$stripeColor3: #b5ecf3;
$stripeColor4: #d3f6fa;
$stripeColor5: #eafde3;
$stripeColor6: #a2f084;

$lsBlue: #006fba;

$panelColor1: #0d6975;
$panelColor2: $stripeColor1;
$panelColor3: $stripeColor2;
$panelColor4: #e5e497;
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
article[class*="post-content"] {

}
.site dl {
  dt { min-height: calc(100vw / 5); }
  dt { margin: 0; padding: 0; }
  dd { position: absolute; left: -9999px; }
  p {
    /*@include vertical-align;*/
  }
}
//@import "../../../../sprites/sprites.css";

/**
 * @article page-content
 * @deprecated
 */
article[class*="page-content"] {
  background          : url('/assets/images/home--header.jpg'); // Not seen on native experience.
  background-size     : cover;
  position            : relative;
  background-position : 50% center;
  background-repeat   : no-repeat;

  @media #{$small} {
    min-height: calc(60vw);
  }
  @media #{$medium} {
    min-height: calc(100vw);
  }
  @media #{$large} {
    min-height: calc(50vw);
  }

  .wp-header {
    /*overflow: hidden;*/


    @media #{$small} {
      padding-bottom: 25vh;
    }
    @media #{$medium} {
      padding-bottom: 25vh;
    }
    @media #{$large} {
      padding-bottom: 25vh;
    }
  }

  ul { list-style: none; }

  .logo-container {
    float           : left;
    text-align      : center;
    margin-bottom   : 10vh;
    margin-top      : 6vh;

    @media #{$small} {
      @include grid-column($columns: 2, $collapse: true);
      /*@include transform(scale(.95));*/
    }
    @media #{$medium} {
      @include grid-column($columns: 2, $collapse: true);
      /*@include transform(scale(.85));*/
    }

    @media #{$large} {
      @include grid-column($columns: 2, $collapse: true);
      /*@include transform(scale(.75));*/
    }
  }
  .icon-lovestamp-piece {
    display               : inline-block;
    text-indent           : -9999px;
    /*transform           : scale(.75);*/
    max-height            : 100px;
  }

  ul.nav {
    position  : absolute;
    top       : 1rem;
    right     : 0;
    font-size : 1rem;

    @include grid-column($columns: 12, $float: right);

    li {
      text-align: right;


      @media #{$small} {
        @include grid-column($columns: 4, $float: right);
        font-size: .7rem;
      }
      @media #{$medium} {
        @include grid-column($columns: 3, $float: right);
      }
      @media #{$large} {
        @include grid-column($columns: 2, $float: right);
      }
    }
  }

  ul.go-native {
    position     : absolute;
    bottom       : 5vh;
    right        : 5vh;

    li {

      list-style: none;
      @include grid-column($columns: 6);

      a {
        text-indent : -9999px;
        position    : relative;
        top         : -4vh;

        @media #{$small} {
          @include transform(scale(1) translateX(-60px));
        }
        @media #{$medium} {
          @include transform(scale(1) translateX(-50px));
        }

        @media #{$large} {
          @include transform(scale(1) translateX(-50px));
        }
      }

      &.get {
        text-align  : right;
        padding-top : 3.5vh;
        height      : 1px;
        a {
          left      : -8vh;
          font-size : .75rem;
        }
      }


      &.apple {
        height: 1px;

        @media #{$small} {
          @include transform(scale(.35));
          @include grid-column($columns: 6, $pull: 3);
        }
        @media #{$medium} {
          @include transform(scale(.4));
          @include grid-column($columns: 6, $pull: 2);
        }
        @media #{$large} {
          @include transform(scale(.5));
          @include grid-column($columns: 6, $pull: 2);
        }

      }

      &.android {
        height: 1px;

        @media #{$small} {
          @include transform(scale(.35));
          @include grid-column($columns: 6, $push: 1.25);
        }

        @media #{$medium} {
          @include transform(scale(.4));
          @include grid-column($columns: 6, $push: 2);
        }

        @media #{$large} {
          @include transform(scale(.5));
          @include grid-column($columns: 6, $push: 2);
        }

      }


      .icon-download-android,
      .icon-download-apple {
        display: block;
        @media #{$small} {
        }
        @media #{$medium} {
        }
        @media #{$large} {
        }


      }
    }
  }

  header {
    padding: 1rem;
    @media #{$small} {
      @include grid-column($columns: 12, $center: true);
    }
    @media #{$medium} {
      @include grid-column($columns: 12, $center: true);
    }
    @media #{$large} {
      @include grid-column($columns: 12, $center: true);
    }
  }

  .mvp, h1, h2 {

    font-weight: 200;
    @media #{$small} {
      @include grid-column($columns: 10);
    }

    @media #{$medium} {
      @include grid-column($columns: 10);
    }
    @media #{$large} {
      @include grid-column($columns: 10);
    }

  }

  h1 {
    position    : relative;
    margin-top  : 5vh;
    left        : auto;
    text-indent : 0;
    z-index     : auto;
  }

  h2, .mvp {
  }

  h2 {
    margin-bottom: 1rem;
  }

  .mvp {
    @media #{$small} {
      font-size: .8rem;
    }
    @media #{$medium} {
      font-size: 1rem;
    }

    @media #{$large} {
      font-size: 1.2rem;
    }

    li {
      p {
        font-weight: 100;
      }

      right: 0;
      @media #{$small} {
        @include grid-column($columns: 12);
        margin: 0;
        padding: 0;
      }
      @media #{$medium} {
        @include grid-column($columns: 10);
        margin: 0;
        padding: 0;
      }

      @media #{$large} {
        @include grid-column($columns: 7);
        margin: 0;
        padding: 0;
      }
    }
  }

  a, h2 {
    color: #f2f2f2;
    color: #777;
  }
  a {
    text-decoration: none;
  }
} /* @deprecated */

.page--stamp__id,
.page--stamp {
  .site-header {
    background-color: transparent;
  }
}

.site-header {

// @note retina fix
/* 
 *
 *  &:after {
 *    position: absolute;
 *    content: ' ';
 *    display: block;
 *    left: 0;
 *    top: 0;
 *    width: 200%;
 *    background: #111;
 *    z-index: 0;
 *
 *    @media #{$small} {
 *      height: auto;
 *    }
 *
 *    @media #{$medium} {
 *      height: 115px;
 *    }
 *
 *    @media #{$large} {
 *      height: 80px;
 *    }
 *  }
 */


  background-color: $lsBlue;
  background-color: #111111;

  @media #{$small} {
    @include grid-column($columns:12);
    height: auto;
  }

  @media #{$medium} {
    @include grid-column($columns:6);
    height: 115px;
  }

  @media #{$large} {
    @include grid-column($columns:5);
    height: 80px;
  }

  h1 {
    position: relative;
    text-indent: 0;
    z-index: 1;
    height: 100%;

    a {
      background-image   : url(/assets/images/003--logo-type.png);
      /*background-image   : url(./assets/images/002--logo-type.png);*/
      /*background-image   : url(http://lovestamp.io:8081/wp-content/uploads/2015/01/logo4.png);*/
      text-indent        : -9999px;
      text-align         : center;
      color              : #fff;
      text-decoration    : none;
      display            : block;
      background-repeat  : no-repeat;
      height             : 100%;
      background-size    : auto 50%;
      padding-bottom: 1rem;

      @media #{$small} {

        background-position: center 25px !important;
        /*background-position: center .75rem;*/
        /*background-size: 70%;*/
        /*padding-top: 1rem;*/
        /*margin-top: 0;*/
      }

      @media #{$slinder} {
        background-position: center 25px !important;
        /*background-position: center .75rem;*/
        /*background-size: 40%;*/
        /*padding-top: 2rem;*/
        /*margin-top: 0;*/
      }

      @media #{$medium} {
        background-position: 0 25px !important;
        /*background-position: center;*/
        /*background-size: 40%;*/
        /*margin-top: 1rem;*/
      }

      @media #{$large} {
        background-position: 0 25px !important;
        /*background-size: 40%;*/
        /*background-position: left .5rem;*/
        /*padding-top: 0;*/
        /*margin-top: 0;*/
      }

    }
  }
}

.site-header {

}

.site-header h1 {
  margin-top: 0 !important;

  a {

    @media #{$small} {
      margin-left: 0;
      margin-top: 2vh;
    }

    @media #{$slinder} {
      margin-left: 0;
      margin-top: 2vh;
    }

    @media #{$medium} {
      margin-left: 0;
      margin-top: 0.35rem;
    }

    @media #{$large} {
      margin-left: 0;
      margin-top: -0.25rem;
    }

  }

  &:before {

    /*background-image  : url(./assets/images/logo--merchant-backend.png);*/
    content           : ' ';
    display           : block;
    position          : absolute;
    z-index           : 9001;
    background-size   : contain;
    background-repeat : no-repeat;


    @media #{$small} {
      width      : 320px;
      height     : 299px;
      max-width  : 7rem;
      max-height : 2.25rem;
      top        : .25rem;
      left        : 50%;
      margin-left : -5.5rem;
    }

    @media #{$slinder} {
      width      : 320px;
      height     : 299px;
      max-width  : 2.25rem;
      max-height  : 2.25rem;
      top         : 0.25rem;
      left        : 50%;
      margin-left : -5.5rem;
    }

    @media #{$medium} {
      width      : 320px;
      height     : 299px;
      max-width  : 3rem;
      max-height : 3rem;
      top        : 1.25rem;
      left       : 1rem;
      margin-left: auto;
    }

    @media #{$large} {
      max-width  : 3rem;
      max-height : 3rem;
      top        : 1rem;
      left       : 1rem;
      margin-left: auto;
    }

  }
}


body, html {
  height: 100%;
}

/*
 *h1 {
 *}
 */

#page-content {
  margin: 0px auto;
  text-align: center;
  padding: 1em;
  border: 1px dashed #333;
  background-color: #eee;
  font-size: 200%;
}
#image-container {
  padding-top: 1em;
}

#photo {}
#input-click { }
#image {}
#image-container {}
#stamp-page-link {}
#nav-sep {}
#info {}

/**
 @note Make atoms.
*/

.body-class.ng-enter,
.body-class.ng-leave,
.body-class.ng-enter,
.body-class.ng-leave {
  position                             : absolute;
  top                                  : 0;
  right                                : 0;
  bottom                               : 0;
  left                                 : 0;
  background                           : inherit;
  -ms-transition                       : .55s ease-in-out;
  -webkit-transition                   : .55s ease-in-out;
  transition                           : .55s ease-in-out;
}
.body-class.ng-enter {
  z-index                              : 101;
  -webkit-transform                    : translateX(100%);
  transform                            : translateX(100%);
}
.body-class.ng-enter.ng-enter-active {
  -webkit-transform                    : translateX(0);
  transform                            : translateX(0);
}
.body-class.ng-leave {
  z-index                              : 100;
  -webkit-transform                    : translateX(0);
  transform                            : translateX(0);
}
.body-class.ng-leave.ng-leave-active {
  -webkit-transform                    : translateX(-100%);
  transform                            : translateX(-100%);
}
.body-class.ng-enter {
  z-index                              : 100;
  -webkit-transform                    : translateX(-100%);
  transform                            : translateX(-100%);
}
.body-class.ng-enter.ng-enter-active {
  -webkit-transform                    : translateX(0);
  transform                            : translateX(0);
}
.body-class.ng-leave {
  z-index                              : 101;
  -webkit-transform                    : translateX(0);
  transform                            : translateX(0);
}
.body-class.ng-leave.ng-leave-active {
  -webkit-transform                    : translateX(100%);
  transform                            : translateX(100%);
}

.base-template md-bottom-sheet {
  display: block !important;
  md-list {
    display: block !important;
    text-align: center;
  }
  md-item {
    display: inline !important;
    .md-button {
      background-color: transparent !important;
      &:hover,
      &:active,
      &:focus {
        background-color: transparent !important;
      }
    }
    p.md-grid-text {
      height           : 20px;
      width            : 20px;
      background-color : #fff;
      border-radius    : 100px;
      text-indent      : -9999px;
    }
    /*
     *border-radius: 500px !important;
     *background-color: #fff !important;
     */
  }
  &.md-grid md-item .md-grid-item-content {
    display: inline;
    width: 20px !important;
  }
}

md-inline-grid-icon[icon="hangout"] {
  @extend .ion-checkmark-circled !optional;
}


.body-class {
  height: 100%;
}

b[layout-margin] {
  margin: 0;
}

.map--inactive {
  display: none;
}

@mixin fade-in () {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
/*
 *@-ms-keyframes fadein {
 *    from { opacity: 0; }
 *    to   { opacity: 1; }
 *}
 */

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in {
  @include fade-in;
}

.flip-in-y {
  @extend .animated;
  @extend .flipInY;
}

.flip-in-x {
  @extend .animated;
  @extend .flipInX;
}

.bounce-in-left {
  @extend .animated;
  @extend .bounceInLeft;
}

.bounce {
  @extend .animated;
  @extend .bounce;
}

.flip {
  @extend .animated;
  @extend .flip;
}

.tada {
  @extend .animated;
  @extend .tada;
}

.pulse {
  @extend .animated;
  @extend .pulse;
}

.fade-out {
  @extend .animated;
  @extend .fadeOut;
}


.accessibly-hide {
  position : absolute !important;
  left     : -10000px !important;
  top      : auto !important;
  width    : 1px !important;
  height   : 1px !important;
  overflow : hidden !important;
}

$cell_columns: 10;
@for $i from 1 through $cell_columns {
  .cell:nth-of-type(#{$i}) {
    /*
     *position: absolute;
     *overflow: hidden;
     *object-fit: contain;
     *float: left;
     *@extend .animated;
     *@extend .fadeInUp;
     */
  }
}
