/***
# fileOverview
        ___
       / __)            _
     _| |__ ___   ___ _| |_ _____  ____
    (_   __) _ \ / _ (_   _) ___ |/ ___)
      | | | |_| | |_| || |_| ____| |
      |_|  \___/ \___/  \__)_____)_|

## descriptioon

The site-wide footer and colophon for the LoveStamp application.

***/

body.base-template {

  .site-footer {

    clear              : both;
    padding            : 0;
    padding-left       : 0;
    background         : #3d4045;
    color              : #fff;
    font-family        : $bodyFontFamily;

    @include clearfix;

    .fa { 
      font-size: 1.5rem;
    }

    ul {
      @extend %listStyle;
    }

    li {

    }

    a, a:link {
      color               : #fff;
      text-decoration     : none;
      display             : block;
      padding             : 1vh 0;
      font-weight         : 100;
      @extend .hint--top;
    }

    nav {
      @include clearfix;
      ul {

        li {
          text-align: left;
          @media #{$small} {
          }
          @media #{$slinder} {
          }
          @media #{$medium} {
          }
          @media #{$large} {
          }
          &.legal {
            @media #{$large} {
            }
          }
        }
      }
    }

    section {

      /**
       * @description media-grid
       */
      @media #{$small} {
        font-size: 1rem;
      }
      @media #{$medium} {
        font-size: 1rem;
      }
      @media #{$large} {
        font-size: 1rem;
      }

    }
  }//.site-footer

  .phat-footer {

    @include grid-row();
    @include clearfix;

    margin-bottom: 0vh;
    padding-top: 0vh;

    figure {
      margin: 0;

      &:hover {
        @extend .animated;
        @extend .tada;
      }

    }

    .col-1 {

      padding-top: 1vh;

      img {
        /*@include grid-column($columns: 6, $center: true);*/
        margin-top: 3vh;
      }

      // Minor details
      @media #{$small} {
        /*@include grid-column($columns:8, $center: true);*/
        text-align: center;
        margin-bottom: 2vh;
        img { max-width: 65%; }
      }

      @media #{$slinder} {
        margin-bottom: 2vh;
        img { max-width: 35%; }
      }

      @media #{$medium} {
        /*@include grid-column($columns:8, $center: true);*/
        text-align: center;
        margin-bottom: 3vh;
        img { max-width: 30%; }
      }

      @media #{$large} {
        /*@include grid-column($columns:2);*/
        margin-bottom: 3vh;
        img { max-width: 30%; }
      }

      // Responses
      @media #{$small} {
        @include grid-column($columns:4, $collapse: true);
      }

      @media #{$slinder} {
        @include grid-column($columns:4, $collapse: true);
      }

      @media #{$medium} {
        @include grid-column($columns:3, $collapse: true);
      }

      @media #{$large} {
        @include grid-column($columns:3, $collapse: true);
      }

    }

    .col-2 {
      padding-top: 3vh;

      a {
      }

      @media #{$small} {
        @include grid-column($columns:8, $collapse: true);
      }

      @media #{$slinder} {
        @include grid-column($columns:8, $collapse: true);
      }

      @media #{$medium} {
        @include grid-column($columns:9, $collapse: true);
      }

      @media #{$large} {
        @include grid-column($columns:9, $collapse: true);
      }

      a {
        @extend .hint--top;
      }

      & > .social {
        margin-top: 1vh;

        @media #{$small} {
          @include grid-column($columns:12, $collapse: true);
        }

        @media #{$slinder} {
          @include grid-column($columns:12, $collapse: true);
        }

        @media #{$medium} {
          @include grid-column($columns:12, $collapse: true);
        }

        @media #{$large} {
          @include grid-column($columns:12, $collapse: true);
        }

      }

      & > .social p {
        display: none;
        font-size   : 14px;
        font-weight : normal;
        line-height : 23.2399997711182px;
      }

      & > .social ul {

        text-align: left;
        li {
          display: inline-block;
        }

      }

      & > nav {
        text-align: center;

        @media #{$small} {
          @include grid-column($columns:12, $collapse: true);
        }

        @media #{$slinder} {
          @include grid-column($columns:12, $collapse: true);
        }

        @media #{$medium} {
          @include grid-column($columns:12, $collapse: true);
        }

        @media #{$large} {
          @include grid-column($columns:12, $collapse: true);
        }

        padding: 0;
        text-align: left;

        ul {
          min-height: 5vh;
          position: relative;
          top: -5px;
        }

        li {
          display: inline-block;
        }

        li a {
          padding-top    : 0;
          padding-bottom : 0;
          font-size      : 14px;
          font-weight    : normal;
          height         : auto;
        }


      }

    }

  }

  & .address {
    @include grid-row();
    background-color : #2b537a;
    /*opacity          : 0.800000011920929;*/
    padding          : 25px 20px 20px;
    text-transform   : uppercase;
    max-width        : none;
    line-height      : 16px;
    font-size        : 11px;
    letter-spacing   : 1px;
    margin-top       : 1vh;
    min-height       : 10vh;
    color            : rgba(255,255,255,1);
    text-align       : center;

    & > div {
      @include grid-row();
    }
  }

  & .address .colophon {
    @include grid-row();
    font-size      : 11px;
    text-transform : none;
    font-weight    : 400;
  }


}
