<!--
# fileOverview

            _
      ___ _| |_ ___   ____ _____
     /___|_   _) _ \ / ___) ___ |
    |___ | | || |_| | |   | ____|
    (___/   \__)___/|_|   |_____)

@module www/controllers/store  
@depends authentication/directives/userRollup  

## @description

Merchants are authorized to view the store after an initial request is made.  
Merchants are then able to purchase Stamps or Impressions.

-->

<section 
  id="top"
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-show="loadingStoreOrDashboard"
  ng-class="{
    'page--get-stamp': true,
    'page--active': loadingSubpage
  }"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
    <h1>
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>
  </header>

  <div 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="" 
    role="main"
  >

    <div site-navigation></div>

    <!--

             ___    ___
            / __)  / __)
      ___ _| |__ _| |__ _____  ____ ___
     / _ (_   __|_   __) ___ |/ ___)___)
    | |_| || |    | |  | ____| |  |___ |
     \___/ |_|    |_|  |_____)_|  (___/

    -->

    <section
      class="get-a-stamp--plans"
    >

      <header>
        <h1>{{stampPlanTitle}}</h1>
      </header>

      <p class="intro">
        Allow 2 weeks for stamp delivery. Fuel, a.k.a. stamp impressions, is 
        available as soon as you buy it. Only fuel up if you have a stamp, 
        because the expiry date is calculated from the purchase date.
      </p>

      <ul ng-init="initExchangePrices()">

        <li ng-repeat="stampPlan in stampPlansList">

          <dl>

            <dt>
              <h3>{{stampPlan.type}} {{stampPlan.impressionsLabel}}</h3>
            </dt>

            <dd class="corollary--price-point">
              <div
                class="stamp-plan--price-point ~hint--bottom"
              >
                <ul ng-init="loadExchangeRateData()">
                  <li
                    ng-repeat="quantity in stampPlan.addToCart.options"
                    ng-show="stampPlan.show == quantity"
                  >
                    <span
                      usd-price-convert
                      class                = "stamp-plan--price-point__cost"
                      quantity             = "quantity"
                      stamp-plan           = "stampPlan"
                      stamp-plans          = "stampPlans"
                      usd-currency         = "stampPlan.currency"
                      current-stamp-plan   = "currentStampPlan"
                      store-house-stamp    = "storeHouseStamp"
                    >
                    </span>
                  </li>
                </ul>
              </div>
            </dd>

            <dd class="corollary--notes">
              <div class="stamp-plan--notes">
                <ul>
                  <li ng-repeat="note in stampPlan.notes">
                    <p>{{note}}</p>
                  </li>
                </ul>
              </div>
            </dd>

            <dd class="corollary--cart">
              <div class="stamp-plan--add-to-cart">

                <md-select
                  ng-model    = "forms.stampAsPlanForm[stampPlan.label]"
                  role        = "cart"
                  placeholder = "Buy Now"
                  id          = "stamp-plan--add-to-cart-quantity"
                  name        = "stamp-plan--add-to-cart-quantity"
                  class       = "stamp-plan--add-to-cart-quantity"
                >

                  <md-optgroup label="{{stampPlan.label}}">
                    <md-option
                      ng-value  = "quantity"
                      ng-repeat = "quantity in stampPlan.addToCart.options"
                      click-monad
                      ng-click  = "initializedQuantity(stampPlan, quantity); showStripePaymentForm($event, stampPlan, quantity)"
                    >
                      {{quantity}}
                    </md-option>
                  </md-option-group>

                </md-select>

              </div>
            </dd>

          </dl>

        </li>
      </ul>
    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>

