<!--
@fileOverview

 ____  _____  ____ _____ 
|  _ \(____ |/ _  | ___ |
| |_| / ___ ( (_| | ____|
|  __/\_____|\___ |_____)
|_|         (_____|

@module www/controllers/legal
@description

  

-->

<section
  itemscope
  itemtype="https://schema.org/WebPage"
  ng-class="{
    'page--active' : true,
    'page--legal'  : true
  }"
>

  <!--
     -<div 
     -  user-rollup
     -  auth-obj="authObj"
     -  auth-data="authData"
     -></div>
     -->

  <!--
     -<header 
     -  itemscope
     -  itemtype="https://schema.org/WebPageElement" 
     -  class="site-header"
     ->
     -  <h1>
     -    <a ui-sref="dashboard">LoveStamp</a>
     -  </h1>
     -</header>
     -->

  <div 
    itemscope
    itemtype="https://schema.org/WebPageElement" 
    class="" 
    role="main"
  >

    <!--<div site-navigation></div>-->

    <style>
    p.p4 {
      text-align: center;
      font-size: 1.735rem;
    }
    </style>

    <p
      style="text-align: center; margin: 10vh 0 0 0;"
    >Return to <a ui-sref="login-auth">LoveStamp Login</a></p>

    <section class="legal-mumbo-jumbo">
      <header><h1 class="s1">LEGAL MUMBO JUMBO</h1></header>
      <p class="p2">Lovestamp is a product of Monarchy LLC (‘Monarchy’, ‘We’ or ‘Us’ as the case may be). Monarchy operates and manages the LoveStamp-branded URL sites and applications including, but not limited to, any other features, content, software, codes, intellectual property or services in connection with the LoveStamp product under the terms and conditions set out herein (“Our Services”). This Agreement is between you (‘You’) and Us.</p>
      <br />
      <p class="p4">RULES</p>
      <br />
      <p class="p5"><b>General</b></p>
      <p class="p2">Participation to LoveStamp is subject to Our Terms Of Use and Privacy Policy. We allow merchants to join the LoveStamp engagement platform by appending their businesses to Our Services. This allows them to perform check-in functions for individuals that are members of the LoveStamp ecosystem (together “Users”).</p>
      <p class="p7"><b>Merchants</b></p>
      <p class="p2">All legitimate businesses, charities, schools, non-profit organizations and associations (together, “Merchants”). You must sign up using the relevant social media account. To obtain a stamp, you must first be vetted by Us. We may verify the legitimacy of your application. We may invite You to join Our Services and get a stamp whether or not an invitation request has been submitted through Our Websites.</p>
      <p class="p2">You agree that You may not utilize a username that portrays You, in a misleading manner, as belonging to another recognized business, individual or organization whether or not that name or username is a recognized trademark of that business, individual or organization or a where a third party has superior rights to You (through legal registration or otherwise) to utilize that name or username. In this event, We may suspend your account (or where this constitutes a serious offence, terminate your account) to Our Services, unless reliable evidence disputing that fact is obtained. In this event, You agree not to hold us liable for taking such an action against You.</p>
      <p class="p2">All Merchant representatives of an Organization, represent that at the time of registration they have authority to enter into an agreement with Us to use Our Services on behalf of that Merchant.</p>
      <p class="p2">Upon registration, We will provide You with access to Our Website solely for the purpose of enabling You to promote, recognize and check in your fans, supporters or customers (“Individual Users”).</p>
      <p class="p2">By using Our Services, You warrant that:</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Your use of Our Services, performance of your obligations do not and will not violate any other agreement or legal obligation by which You are bound to; and</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You have the necessary authority, licenses, rights, consents and permissions to run any activity You offer to our Individual Users.</p>
      <p class="p2">You acknowledge and agree that:</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We have no obligation to You or our Users in respect of the fulfillment of any specific type of rewards (for example, instead of rewards in bits, this could change to another rewards unit of account) or for any activity You offer or promises You make to them through Our Services, including but not limited to the sale of products or services or the collection of any monies payable to You;</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You are responsible for dealing with Users that interact with You regarding any queries, issues, complaints and the like for activities that You offer through Our Platform. Where We believe, acting reasonably, that You are not resolving a dispute in accordance with this Clause then We may, by notice to You either suspend your Account until such time as the dispute is resolved;</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>It is a breach of Our Terms of Use and Our Rules for You not to fulfill any offer or promises associated with an activity you advertise on Our Services; and</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You will take all necessary steps as may be reasonably required for the purposes of meeting the offer for your activity, resolving any disputes in good faith and in a timely manner.</p>
      <p class="p7"><b>Individual Users</b></p>
      <p class="p2">Participation to use Our Services is subject to Our Terms of Use and Privacy Policy. Our Services are free to You, subject to the following. You must:</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>be over the age of 13 years old;</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>have parental (or legal guardian) consent, if under the age of 18 years old;</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>not have had a LoveStamp account suspended or cancelled previously; or</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>not be precluded from joining Our Services under the laws of the relevant jurisdiction that applies to you.</p>
      <p class="p2">You must sign up using the relevant social account. By using Our Services, You represent and warrant that You satisfy all of the requirements listed above.</p>
      <p class="p2">If We believe that You incorrectly represented yourself as 13 years of age or older, your account may be suspended without warning. We may then either reinstate or terminate your account at our sole discretion. Any benefits associated with all accumulated reward tokens will be forfeited in this case.</p>
      <p class="p2">We administer Our Services in order of priority, first to provide a stable system capable of being used by the majority of our Users then to seamlessly provide for functionalities that we deem will enhance the interactions we aim to promote. However, to the full extent permitted by the law, We accept no responsibility for the proper functioning of Our Services, especially during its ‘Beta’ or ‘Testing’ Version.</p>
      <p class="p2">We may issue notices concerning any disruptions or delays in performing website updates or upgrades. Such disruption or delays shall not give rise to any legal actions by You or liabilities to Us.</p>
      <p class="p5"><b>Posting of Content</b></p>
      <p class="p7"><b>Merchants</b></p>
      <p class="p2">You may post content (whether written or in video format, whether in the form or offers or not) on Our Services. Content You post:</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>must be your property or You must hold suitable use rights for same. You must not post material that is subject to copyright or proprietary rights of a third party without express consent from that third party. You warrant to Us at all times that you have the necessary licenses, rights, consents and permissions for the content You post on Our Services;</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>must not contain material that Infringes upon any law or regulation, or is likely to infringe the rights of any third party or is offensive, indecent, or otherwise inappropriate, regardless of whether such material or its dissemination is lawful. This includes (but is not limited to), obscene material and fraudulent or misleading or deceptive statements; and</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>must be in a format and posted in a manner that is allowed (as directed by the functionalities available offered via Our Services for that purpose).</p>
      <p class="p2">You retain ownership, sole responsibility and accept sole liability for the content You post using Our Services.</p>
      <p class="p2">By submitting your content for posting on Our website or applications, You grant Us:</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>a worldwide, non-exclusive, royalty-free, sub-licensable and transferable license to use, reproduce, distribute, display, publish, make available online or electronically transmit made in connection with Our Services, including without limitation for Us to promote part or all of Our Services in any media formats and through any media channels; and</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>a right to grant each User a non-exclusive license to access, view and share your content published on Our websites or applications.</p>
      <p class="p2">We may at any time, without liability or notice to You, remove, alter or disable access to all or any of your Content published on Our website if:</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You breach Our Terms of Use or Privacy Policy;</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We are required to do so by any law, regulation or regulatory body; or</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We are required to do so to ensure compliance with a notification from a copyright owner or their agent.</p>
      <p class="p2">Where We provide You our logo or other marketing material, You must not use this in conjunction with illegal, offensive, racist acts OR activities that may bring us into disrepute OR the provision of false and misleading information regarding your participation.</p>
      <p class="p5"><b>Reward Tokens</b></p>
      <p class="p7"><b>Merchants</b></p>
      <p class="p9"><i>i. Rewards</i></p>
      <p class="p2">You acknowledge that you do not reward Users with bits, our rewards token, but rather check them in for your particular activity. We, at our sole discretion, determine which Users to reward, the quantum and nature of those rewards following a notification from You that a particular User has been checked in.</p>
      <p class="p9"><i>ii. Stamps</i></p>
      <p class="p2">To use Our Services, you must first obtain a Stamp. This can only be obtained once you have been vetted, with the following details, which includes but is not limited to:</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Merchant name, address, telephone number and other appropriate contact details;</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>A contact person authorized by the Merchant to deal with us; and</p>
      <p class="p8"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Merchant good standing nature and appropriate business activity checks.</p>
      <p class="p2">Stamps provide a unique profile that can identify a particular Merchant. It may, on rare occasions, however, produce data collisions where a Merchant can’t be identified. In this instance, you should reapply the stamp first THEN contact us if the problem persists. Note that while LoveStamp is in alpha 0r beta, we accept no responsibility or liability for a stamp malfunctioning, whether or not due to user error.</p>
      <p class="p2">As each stamp is unique, once purchased the item is non-returnable unless there is a defect with the stamp that doesn’t allow You to use all or part of Our Services as provided. In this event, you may choose a replacement stamp or a refund.</p>
      <p class="p9"><i>iii. Fuel</i></p>
      <p class="p2">Once a stamp is obtained, You must purchase a plan, called “Fuel”. Fuel allows you to a maximum of 300 Stamp Impressions with an expiry date of 30 days. You can buy Fuel in allotments, with 1 allotment giving you 300 Stamp Impressions and an expiry date of 30 days, 2 allotments giving you 600 stamp impressions and an expiry date of 60 days, so on and so forth.</p>
      <p class="p2">Your fuel plan starts on the date of your purchase (of fuel). Where you already have an expiry date from a prior purchase and the newly calculated expiry date is less than Your current expiry date, Your current expiry date will apply. Alternatively, Your current expiry date will be extended to a new expiry date relevant to Your purchase. For example, if Your current expiry date is 1 May 2015, and you made a purchase of 300 Stamp Impressions on 1 March 2015 (hence, giving you an expiry date of 30 March 2015), your expiry date will still be 1 May 2015. If, however, you made a purchase of 300 Stamp Impressions on 15 April 2015, your expiry date will be 15 May 2015 (15 April 2015 + 30 days).</p>
      <p class="p2">The role of Fuel allows You to be advertised on LoveStamp as you check-in Individual Users. It also allows you to track your engagement activity through our metrics as provided via Our websites or applications. Without Fuel, you will not be able to participate on LoveStamp. We, therefore, ask you to consider the cost of Fuel prior to purchasing a stamp.</p>
      <p class="p2">We reserve the right at any time and for any reason to modify, limit, suspend or discontinue Our websites or applications, in whole or in part, with or without notice, for the purpose of undertaking any maintenance, upgrading or similar processes in respect of the Website. As a result of an extended discontinuance of Our Services caused by Us, at your request We will refund the fuel fee equal to the pro rata of unused Stamp Impressions that You paid for according to the following:</p>
      <p class="p8"><i><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Total Unused Stamp Impressions/Total Stamp Impressions Purchased x Fuel Cost Paid.</i></p>
      <p class="p7"><b>Individual Users</b></p>
      <p class="p2">You can collect bits, our reward tokens, from Us by being checked in at a Merchant’s location, provided that you’re at least within 1,000 feet from the nearest Merchant to you. LoveStamp will not work if you don’t allow us to locate your position. A Merchant has the absolute discretion in whom they choose to check-in. You acknowledge and agree that the reward tokens are not provided by the Merchant, but by Us once we receive check-in confirmation from a Merchant. As such, the Merchant has no control over whether a reward token is provided, the quantum and nature of that reward. For avoidance of doubt, You have no recourse to complain or cause a review to be made in relation to reward tokens.</p>
      <p class="p5"><b>Miscellaneous Rules</b></p>
      <p class="p12">Merchants</p>
      <p class="p13">You agree that You cannot offer activities deemed to be a game of chance through Our Services without the proper licenses or approvals in force in the country the activity is held. We will not be responsible or liable to any third party for your improper use of Our Services in relation to games of chance. Any breach of this clause may give rise to suspension or termination of your account.</p>
      <p class="p13">You agree not to provide for check-in activities to be advertised for activities that are illegal in nature in your jurisdiction, or that may cause an Individual User injury, death, addiction, or otherwise losses, whether or not of a monetary nature.</p>
      <p class="p12">Users, Generally</p>
      <p class="p13">The process of creating fake accounts and farming points to obtain benefits, whether or not through attempting to cause rewards to be obtained to legitimate accounts is expressly prohibited. Our system is designed to address suspicious transactions of that nature and We may be required to use your personal information to contact You and request that You provide proper identification, information for verification and the nature of the transactions. Failure to provide the relevant information to conduct our assessment may result in immediate termination of Your account or all accounts associated with the activity.</p>
      <p class="p13">We will continue to provide You with access to Our Services up until such time as You terminate your account or We terminate your account for breach of Our Terms Of Use, Privacy Policy or Our Rules. Note that We reserve the right to remove your account where your account has not been used for a period of more than 6 months or where your business is subject to insolvency, liquidation or winding up (‘Abandonment of Account’). For cases of breach, Abandonment of Account or where You delete your account, You agree that you will not hold us liable to refund any unused Stamp Impressions and the refund clauses do not apply to You.</p>
      <p class="p13">We may amend Our Rules from time to time.</p>
      <br />
      <p class="p4">TERMS OF USE</p>
      <br />
      <p class="p5"><b>Acceptance of Terms of Use</b></p>
      <p class="p14">By using Our Services You agree to and accept our Terms of Use (thereafter “TOU”). You represent that You have the right and authority to use Our Services, and THAT you will use Our Services for purposes that are permitted by Our TOU, Our Privacy Policy and any rules set out hereunder, and THAT the performance of Your obligations under Our TOU doesn’t infringe the rights or any third party, and THAT You agree to abide by all applicable laws, including any laws regarding the export of data or software to and from the USA and Australia or other relevant country, whether in your jurisdiction or the jurisdictions where Our Services are provided.</p>
      <p class="p5"><b>Variation of TOU</b></p>
      <p class="p14">We reserve the right to vary Our TOU at any time. Each such variation will be effective immediately upon posting on our website, or via our public social media accounts as the case may be. Your continued use of Our Services following any variation constitutes your acceptance and agreement to be bound by Our TOU, as varied. It is therefore important, and we recommend, that You review Our TOU regularly.</p>
      <p class="p5"><b>Form And Nature of Services Provided</b></p>
      <p class="p14">By using Our Services, You acknowledge and agree that, the form and nature of Our Services may change from time to time without prior notice to You; we may, either permanently or temporarily, stop providing Our Services or any features associated with it to You at Our sole discretion, without prior notice; if we disable access to your account, You may be prevented from accessing Our Services, your account details, or any files or other content which is contained in Your account; and, while we may not currently have a limit on the extent to which You use Our Services or amount of data storage space You use, such limits may be varied at Our discretion without prior notice to You.</p>
      <p class="p5"><b>Registration</b></p>
      <p class="p17">You must be 13 years or older to participate.</p>
      <p class="p17">You may become a registered User of Our Services by signing up up on the relevant area of our websites or applications. In order to register and access and use Our Services, You may be required to provide information about You (such as identification, contact details and account details for payments). By registering and using Our Platform, You represent and warrant that all registration information You submit is truthful and accurate, and THAT You will maintain the accuracy of such information at all times whilst You continue to be registered for, and use, Our Services.</p>
      <p class="p17">Your registration may be cancelled if We, at our sole discretion, determine that You hold multiple accounts, have provided identification information that is false in nature or intended to mislead, or have acted in a way that is intended to or actually damages the reliability of Our Services to Our Users; and or, THAT You are in breach of Our TOU or Our TOU otherwise give Us the right to cancel Your registration.</p>
      <p class="p17">You may not register for Our Services without our prior permission where Your registration was previously cancelled as a result of You being in breach of Our TOU (as they applied at the relevant time).</p>
      <p class="p5"><b>Use of Our Services, Generally</b></p>
      <p class="p18">By using Our Services, You agree:</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Not to post any Prohibited Content on Our websites or applications;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Not to bring Our Services into disrepute;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Not to engage in any prohibited activities as set out in Our TOU;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Not to access (or attempt to access) any of Our Services through any automated means (including use of scripts or web crawlers), unless You are specifically allowed to do so under the terms of a seperate agreement with Us;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>To comply with the instructions set out on our Websites or applications, or directions received from Us;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>That you are solely responsible for (and that We have no responsibility to You or any third party) for: any breach of your obligations or any representation or warranty You provide under Our TOU and for the consequences of any such breach (including any loss or damage howsoever caused which We or any third party may suffer); and, Your interactions with other users of Our Services (‘Our Users’).</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>That We give You a personal, worldwide, royalty-fee, non-assignable and non-exclusive license to use Our Services. This license is for the sole purpose of promoting your interactions with Us and Our Users and such other purposes permitted by Our TOU;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Not to assign (or grant a sub-license of) your rights to use Our Services, grant a security interest in or over your rights to use Our Services, or otherwise transfer any part of your rights to use Our Services, unless You are specifically allowed to do so under the terms of a separate agreement with Us;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Not to reproduce, duplicate, copy, sell, trade or resell any part of Our Websites, Our applications or Our Services for any purpose, unless You are specifically allowed to do so under the terms of a separate agreement with Us;Not (and will not permit anyone else) to copy, modify, adapt, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of Our Services or any part thereof, unless You are specifically allowed to do so under the terms of a separate agreement with Us;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>That Our Services may provide a means to automatically download and install updates from time to time. These updates are designed to improve, enhance and further develop Our Services and may take the form of bug fixes, enhanced functions, new software modules and completely new versions. You agree to receive such updates (and permit Us to deliver these to You), as part of your use of Our Services;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>That We reserve the right, but have no obligation, to intervene as an arbitrator in any way with disputes between You and Our Users.</p>
      <p class="p5"><b>Legal Responsibilities</b></p>
      <p class="p17">You are solely responsible to understand and abide by any federal, state, local or foreign laws, including tax laws, that may apply. You acknowledge that We may be required to provide information, in compliance with applicable laws, to the relevant Tax Office or governmental agency that requests such information concerning You or its citizens.</p>
      <p class="p17">By registering for Our Services, You, represent and warrant that your earning of any Reward Tokens or “bits” on or through Our Services, is either made in the course or furtherance of an activity done as a private recreational pursuit or hobby, or is wholly of a private or domestic nature, OR where You are registered as a merchant, made in the course of conducting a legitimate business or activity according to the laws in force in Your jurisdiction. Under no circumstances, should any consideration provided to merchants for which a reward is obtained via Our Services be solely made to obtain same (that is, the consideration provided must not be in form of a wager).</p>
      <p class="p5"><b>Password And Account Security</b></p>
      <p class="p17">You acknowledge and agree that You are entirely responsible for maintaining the confidentiality of passwords associated with your account, the unique identifying stamp that We provide, including passwords to any third party web service, to access Our Platform. You agree not to use the account, username, email address or password of any of Our Users at any time. Further, you are solely responsible for the use under your account, whether or not those activities are authorized by You.</p>
      <p class="p17">If You become aware of any unauthorized use of your password or account, You must notify Us immediately at <span class="s3">account@lovestamp.io</span>.</p>
      <p class="p5"><b>Stamping Activity</b></p>
      <p class="p17">You acknowledge and agree that merchants using Our Services append their businesses to Our Services for the sole purpose of being advertised on our websites or applications, or on the relevant third party applications, AND to use the stamp provided to check-in Users by making stamp impressions in the manner We indicate. At no point do merchants have the ability to control the quantum of reward tokens associated with their check-in activity AND the amount of the reward tokens given is solely at Our discretion. However, merchants have the absolute discretion with respect to which Users they stamp and are not obligated to stamp all Users that present their mobile devices to be stamped.</p>
      <p class="p17">Where Our Services include hyperlinks to a merchant’s website, i.e. a third party site that we do not control, You acknowledge and agree that we assume no responsibility for the accessibility to that site NOR the content, rules, or practices set out on that website. Accordingly, we encourage You to be aware that when You leave Our Websites and to read the terms and conditions and policies of any third party website that You visit as a result of using Our Services. For avoidance of doubt, We are not responsible for any loss or damage which may be incurred by You as a result of any reliance on the completeness, accuracy or existence of the Content published on any third party sites and the administrator of those sites are solely responsible for the terms and conditions, which govern the sale of any product or activity.</p>
      <p class="p5"><b>Content and Proprietary Rights</b></p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Content presented to or otherwise available for use by You as part of Our Services may be protected by intellectual property rights which We own. You may only use that content for the purposes and in the manner permitted by Our TOU and may not modify, adapt, rent, lease, loan, sell, distribute or create derivative works based on that Content (either in whole or in part), unless You are specifically allowed to do so under the terms of a separate agreement with Us.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>All third party content, including merchant information, which You may have access to as part of, or through your use of, Our Services is the sole responsibility of the person from which such content originated and We do not represent or warrant and are not responsible for ensuring the completeness and accuracy of that third party content.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>By using Our Services You may be exposed to content that You may find offensive, indecent or objectionable and that, in this respect, your use of Our Services is at your own risk.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You are solely responsible for (and acknowledge that to the extent permitted by law, We have no responsibility to You or to any third party for), any content that You create, transmit or display while using Our Services and for the consequences of your actions (including any loss or damage which We or any third party may suffer) by doing so.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We assume no responsibility for monitoring Our Services for any prohibited content or Prohibited Activity. If at any time We choose, in our sole discretion, to monitor Our Services, We nonetheless assume no responsibility for that content, no obligation to modify or remove any inappropriate content, and no responsibility for the conduct of any of Our Users submitting any such Content.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You acknowledge and agree that We own all legal right, title and interest in Our Services, including any intellectual property rights (which includes Our patent entitled An Automated Rewards System For Different Audiences Utilizing Self-Regulating Algorithm and Game Mechanics) which subsist in, and derives from Our Services (whether those rights happen to be registered or not, and wherever in the world those rights may exist). You further acknowledge that Our Services may contain information, which is confidential.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Unless You have agreed otherwise in writing with Us, nothing in Our TOU gives You a right to use any of Our trade names, trademarks, service marks, logos, domain names, and other distinctive brand features unless they are incorporated in the content and used without modification or adaptation as part of that content.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You agree that in using Our Services, You will not use any trademark, service mark, trade name or logo of any third party in a way that is likely or intended to cause confusion unless You have been expressly authorized to do so in writing.</p>
      <p class="p5"><b>Prohibited Content and Prohibited Activities</b></p>
      <p class="p18">The following are examples of the kind of Content that You may not post on Our websites or applications (‘Prohibited Content’). We reserve the right to investigate and take appropriate legal action against You if You breach this provision, including without limitation, removing the offending content from Our Platform, cancelling your registration as a User and terminating your access to Our Services. Prohibited Content includes, but is not limited to, content that:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>constitutes or promotes information or other material that is false or misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>constitutes or promotes an illegal or unauthorized copy of another person’s copyrighted work including, but not limited to, providing pirated computer programs or links to them, providing information to circumvent manufacturer-installed copy-protect devices, or providing pirated music or links to pirated music files;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>is patently offensive or promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>harasses or advocates harassment of another person;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>exploits people in a sexual or violent manner;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>contains nudity, sexually suggestive imagery, excessive violence, or offensive subject matter or contains a link to an adult website;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>furthers or promotes any criminal activity or enterprise or provides instructional information about illegal activities including, but not limited to making or buying illegal weapons, violating someone’s privacy, or providing or creating computer viruses;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>contains restricted or password only access pages or hidden pages or images;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>solicits passwords or personal identifying information for commercial or unlawful purposes from Our Users;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>includes a photograph or video of another person that You have posted without that person’s consent;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>solicits personal information from anyone under the age of 18;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>publicly posts information that poses or creates a privacy or security risk to any person;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>violates the privacy rights, publicity rights, copyrights, trademark rights, contract rights or any other rights of any person;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>promotes propaganda or symbols of organizations which are illegal in your country or in any country in which Our Platform are used.</p>
      <p class="p18">The following are examples of the kind of activity that is prohibited on Our websites or applications and through your use of Our Services. We reserve the right to investigate and take appropriate legal action against You if You breach this provision, including without limitation, reporting You to law enforcement authorities, cancelling your registration and terminating your access to Our Services. Prohibited activities include, but is not limited to:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>other than when displaying offers, advertising to, or soliciting any of Our Users to buy or sell any products or services through Our Services;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>sending any ‘chain letters’, unsolicited bulk email or ‘spam’, or any other unauthorized commercial communications of any kind through, or in relation to, Our Services;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>circumventing or modifying, attempting to circumvent or modify, or encouraging or assisting any other person in circumventing or modifying any security technology or code that is part of Our Services;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>activity that involves the use of viruses, bots, worms, or any other computer code, files or programs that interrupt, destroy or limit the functionality of any computer software or hardware, or otherwise permit the unauthorized use of or access to a computer or a computer network;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>covering or obscuring the banner advertisements on any of Our websites or applications or in relation to any of Our Platform used in any place in any media via HTML/CSS or any other means;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>any automated use of the system, including but not limited to, using scripts to send comments or messages;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>interfering with, disrupting, or creating an undue burden on Our Services or the networks or servers connected to Our Services;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>impersonating or attempting to impersonate or encouraging or assisting any other person to impersonate another user, person or entity;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>using the account, username, or password of another of Our User at any time;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>uploading, embedding, posting, emailing, transmitting or otherwise making available any material that infringes any copyright, patent, trademark, trade secret or other proprietary rights of any person or entity;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>selling or otherwise transferring the whole or any part of your profile;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>using or attempting to use or encouraging or assisting any other person in using any information obtained from Our Services in order to harass, abuse, or harm another person or entity;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>displaying an unauthorized commercial advertisement on or associated with the content on Our websites or applications in any place, or accepting payment or anything of value from a third person in exchange for your performing any commercial activity through the unauthorized use of Our Services on behalf of that person; or</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>using Our Services in a manner inconsistent with or otherwise in breach of any Applicable Laws.</p>
      <p class="p18">The following provisions will apply where We, at our sole discretion, determine that You have engaged in any of the prohibited activities contained in Our TOU that may constitute a breach of applicable unsolicited or bulk communication laws:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>on the first occasion that We determine that You have engaged in any such activity, You may be issued with a warning depending on the severity of the activity; and</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>on the second occasion that We determine that You have engaged in any such Prohibited Activity, We will have the right to suspend your account for a period of 7 days or terminate your access to Our Services.</p>
      <p class="p18">If You become aware of any of Our Users posting any Prohibited Content or engaging in any activities that have been prohibited, You may report the incident to Us by contacting us directly at <span class="s3">support@lovestamp.io</span>.</p>
      <p class="p5"><b>Limitation of Liability And Indemnity</b></p>
      <p class="p18">We, Our subsidiaries, and Our directors, officers, employees, contractors, agents and licensors will not be liable to You:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>In tort, contract or otherwise, howsoever caused, even if such loss or damage was reasonably foreseeable, for any:</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>loss of profits, opportunity, revenue, data, goodwill, business or anticipated savings, pure economic loss or expectation loss; or</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>any indirect, consequential, special, punitive or exemplary loss or damage; or</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>any loss or damage which may be incurred by You, including but not limited to loss or damage arising out of:</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>any reliance placed by You upon the completeness, accuracy or existence of any Content, or as a result of any relationship or transaction between ourselves or any of Our Users;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>any changes that We make to Our Services;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Where we cease, either permanently or temporarily, to provide Our Services or any features within Our Services;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>the deletion or corruption of, or failure to store any content or other data maintained or transmitted by or through your use of Our Services;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Your failure to provide Us with accurate account information; or</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Your failure to keep your password or account details secure and confidential.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You will indemnify and hold Us, Our subsidiaries and Our directors, officers, employees, contractors, agents and licensors harmless from any loss, damage, proceeding and cost (including all reasonable legal costs), arising out of claim by a third party as a result of your breach of Our TOU or your violation of any Applicable Law or the rights of any third party.</p>
      <p class="p18">This Clause shall survive the expiry or termination of Our TOU and or its applicability to You.</p>
      <p class="p18">Nothing in Our TOU will exclude or limit Our warranties or liability for losses that may not be lawfully excluded or limited by Applicable Law. Some jurisdictions do not allow the exclusion of certain warranties or conditions or the limitation or exclusion of liability for loss or damage caused by negligence, breach of contract or breach of implied terms, or incidental or consequential damages. Accordingly, only the limitations, which are lawful in your jurisdiction will apply to You and Our liability will apply to the maximum extent permitted by law.</p>
      <p class="p18">You acknowledge and agree that:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Your use of Our Services is at your own risk and that Our Services are provided ‘as is’ and ‘as available';</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We, Our subsidiaries, affiliates and licensors do not represent or warrant to You (especially during the period of release of Our Services that is advertised as ‘Alpha’, ‘Beta’ or ‘Beta Version’ on Our Website) that:</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Your use of Our Services will meet your requirements;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Your use of Our Services will be uninterrupted or free from error;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>any information obtained by You as a result of your use of Our Services will be complete, accurate or reliable; or</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>defects in the operation or functionality of any part of Our Services will be corrected;</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>any content downloaded or otherwise obtained by You through your use of Our Services is done at your own discretion and risk and You will be solely responsible for any damage to your computer system or other device or loss of data that results from the download of any such material; and</p>
      <p class="p19"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>to the extent permitted by law, no advice or information, whether oral or written, obtained by You from Us or through Our website, applications or Our Services will create any warranty or representation not expressly stated in Our TOU.</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We further expressly disclaim all warranties of any kind to the fullest extent permitted by laws in New South Wales, Australia or Texas, USA, whether express or implied, including, but not limited to warranties of merchantability, fitness for a particular purpose and non-infringement.</p>
      <p class="p5"><b>General Terms (Miscellaneous)</b></p>
      <p class="p17">Our TOU constitutes the whole agreement between Us and You.</p>
      <p class="p24"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You acknowledge that Our Services may not be free from fault, bugs or interruptions, which may affect the performance of Our Services; AND You agree to comply with all applicable laws, including (without limitation), the following items of legislation of the Commonwealth of Australia being the Privacy Act 1988 (Cth) and the Spam Act 2003 (Cth) and similar items of legislation in other jurisdictions; AND You agree to participate on Our Services at Your own risk and agree not to hold Us liable or responsible for any injury, damage, death or the like howsoever caused; AND You agree not to hold us responsible for any dissatisfaction or losses, to the full extent permitted by the law, regarding your displayed information online or in the media or for other matters relating to your participation on Our Services; AND You agree that You are not Our affiliate or agent and that We are independent parties and will not represent yourself as such.</p>
      <p class="p24"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We reserve the right at any time to modify, limit, suspend or discontinue Our website or applications, in whole or in part, with or without notice, for the purpose of undertaking any maintenance, upgrading or similar processes in respect of the Website, and We will not be liable to You or any other party for any such modification, limitation, suspension or discontinuance. We may provide You with notices, including those regarding changes to Our TOU, by email, regular mail, or postings on Our website or applications.</p>
      <p class="p24"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Where We do not exercise or enforce any legal right or remedy which is contained in Our TOU (or which We have the benefit of under any Applicable Law), this will not be taken to be a formal waiver of Our rights and that those rights or remedies will still be available to Us. If a part of Our TOU is held to be void, voidable or unenforceable or an invalid part severed, the remainder of Our TOU is not affected.</p>
      <p class="p24"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We may at any time assign the whole or any part of Our rights and obligations under this Agreement to a related body corporate or a third party without your consent.</p>
      <p class="p24"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>The laws of New South Wales in the Commonwealth of Australia or The Laws of Texas, USA govern Our TOU and You irrevocably submit to the exclusive jurisdiction of the courts in those jurisdictions. Notwithstanding this, We reserve the right to apply for an injunctive remedy or an equivalent type of urgent legal relief in any jurisdiction where we provide Our Services.</p>
      <p class="p5"><b>ToU: Ending Your Relationship with Us</b></p>
      <p class="p18">Our TOU will continue to apply until either You cease using Our Services or We cancel your access.</p>
      <p class="p18">If You want to cease using Our Services, You may do so by requesting your access to Our Services to be deleted.</p>
      <p class="p18">We may at any time, cancel your access to Our Services if:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You have breached any provision of Our TOU or have acted in a manner which clearly shows that You do not intend to, or are unable to comply with the provisions of Our TOU;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We are unable to verify or authenticate any information You have provided;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We are required to do so by law (for example, where the provision of Our Services to You is, or becomes, unlawful);</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We are transitioning to no longer provide Our Services in your country; or</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>the provision of Our Platform is no longer commercially viable.</p>
      <p class="p18">Nothing in this clause will affect Our rights regarding the provision of Our Services under Our TOU.</p>
      <br />
      <p class="p4">PRIVACY POLICY</p>
      <br />
      <p class="p5"><b>Policy Details</b></p>
      <p class="p17">This policy details how We use and protect personal information (PI) it receives, including information in relation to Our Services. We are committed to protecting your privacy. Information you (‘You’) provide while using Our Services will be used only in accordance with this Policy.</p>
      <p class="p17">The terms of this Policy prevails and by interacting with Us, You agree to be bound by not just the contents of this Policy but Our Rules and Terms of Use. In order for Us to provide Our Services We must collect information from You. This Policy applies only to Our Services and to activities of Our officers and employees in carrying out Our business or providing these services. Our websites and applications do not extend to third-party sites and We are not responsible for the collection or use of PI collected on these third-party sites.</p>
      <p class="p17">From time to time, We may conduct a promotion or other activity, which has its own specific Privacy Policy that will be provided at the time any information is requested. Any specific Privacy Policy will then apply to a specific promotion or activity and will override our standard Policy to the extent of any inconsistency.</p>
      <p class="p5"><b>How We Collect Information</b></p>
      <p class="p17">When You visit Our websites or applications You may provide Us with two types of information: Personal Information (‘PI’) You knowingly choose to disclose that is collected on an individual basis and ‘website use information’ collected on an aggregate basis as You and others use Our Services.</p>
      <p class="p17">We may, as a result of your usage of Our Services, hold and process PI obtained about You when You access Our Services for the purposes of fraud prevention, to conduct our business and to provide You with better customer service and products, to evaluate the effectiveness of our marketing and for statistical analysis.</p>
      <p class="p5"><b>Privacy: Personal Information</b></p>
      <p class="p17">We identify You by your full name, email address, username, geographic location and password, or with your permission by reference to your identity on another web service such as Facebook, Twitter and Google+. You may also provide further identifying information such as a picture of yourself. If You connect another web service with your User Account, You allow Us to collect and store information about You made available by that web service.</p>
      <p class="p17">During your interactions with Us, You may be invited to provide information about goods, services and other people, businesses, organizations or brands with which You wish to affiliate. In order to receive or provide payments from You, We may collect information and account details enabling such transactions, and details of those transactions, such as a record of products You have sold/purchased/used.</p>
      <p class="p5"><b>How We Use Collected Information</b></p>
      <p class="p18">We use the information You provide in order for Us to identify You, communicate with You, and provide personalized services. You can remain anonymous to other Users of Our Services by withholding identification through the use of usernames, opt in to remain anonymous refusing offers to connect to Our Platform with accounts on other web sites (such as Facebook or Twitter), and/or making use of a third-party email provider.</p>
      <p class="p18">If You decline to provide certain required PI, in accordance with Our Terms of Use, We may not to be able to provide You access to Our Services. Our use of collected information may include:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Sharing information, including information that is not publicly published but excluding sensitive information, with other Users, including but not limited to the use of favorites, articles, blogs, videos, events and other goods/services or brands with which You wish to affiliate with;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Sharing aggregate information with third parties with your consent or which do not personally identify You;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Providing customized services to You, including selection of content and advertising;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Contacting You, including with promotional materials and notifications or to verify accuracy of details provided for your interaction with Our Services;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Billing and account management;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Research and development in improving Our Services and in developing new products and services; and</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Monitoring and maintaining Our computers and network.</p>
      <p class="p18">We will not sell or otherwise provide your PI to a third party, or make any other use of your PI, for any purpose which you have not previously agreed to or that is not incidental to your use of Our Services. For the avoidance of doubt, PI will not be used for any purpose, which a reasonable person would not expect. Notwithstanding this, we cannot be held responsible for any misuse or unauthorized disclosure of your PI by third parties.</p>
      <p class="p18">If You request for Us not to use PI in a particular manner or at all, We will adopt all reasonable measures to observe your request but We may still use or disclose that information if We:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>subsequently notify You of the intended use or disclosure and You do not object to that use or disclosure;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>believe that observing the request will legitimately inhibit your ability to provide Our Services;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>believe that the use or disclosure is reasonably necessary to assist a law enforcement agency; or</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>is required by law to disclose that information.</p>
      <p class="p18">The PI We collect will be used only for purposes outlined in this policy. If We propose to use your information for any other purposes then You will be provided with a means to opt out of the use of your information for those purposes. You may opt out of receiving promotional materials from Us but cannot opt out of receiving certain communications from Us (such as service announcements and administrative messages) as it is instrumental to providing Our Services.</p>
      <p class="p18">You can view and edit your account information at any time by visiting your profile settings page. You can request for Us to delete your account on Our websites or applications (in the relevant spaces) at any time, which will remove all personal and identifying information from Our service, except as required to be retained by law or for legitimate business purposes. Some information may reside on backup devices for a limited period of time after your account is deleted.</p>
      <p class="p5"><b>Information Sharing</b></p>
      <p class="p18">Our Services are designed to allow You to share information about your affiliations with brands to others. Some information You provide Us is made publicly available and may be accessed by anyone on the Internet including, but not limited to:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>your username</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>your profile</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>your profile picture (if any)</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>your approximate geographic locations</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>links to your accounts on third party websites</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>content You provide, including articles, blog posts or video files.</p>
      <p class="p18">Your information (including name, email address, postal address, telephone number, preferences, sales or purchases) is not made available to anyone except for circumstances as per Our Terms and Conditions of Use, unless You provide express consent. We will not publish this information about You except where it may be collated to form anonymous analytics and presented under general indices and graphs.</p>
      <p class="p18">Any material You post for advertising purposes on Our websites or applications will be publicly displayed and it may not be possible to subsequently delete or remove without prior permission from storage for the purposes of Our Services. Any material You may have contributed to Our websites or applications may remain in some form, on the site even after You cease to be a member.</p>
      <p class="p18">We do not sell or share your PI with other people or companies except where:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>You have provided your express consent;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>It is made in connection with the provision of Our Services pursuant to Our Terms of Use;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We provide the information to trusted affiliates to process information on our behalf, or to billing, customer relations management, credit card, order fulfillment or shipping companies in order to provide goods or services to You. Such partners must process information under agreements to maintain this policy and with the appropriate security and confidentiality mechanisms;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>In response to a court order, legal process or enforceable government request;</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>We believe it is necessary to share information in order to investigate or take action in response to illegal activities; fraud or technical or security issues; threats against the rights; property or safety of 21 Capital, Monarchy, its employees, Users or the public; potential or actual violations of applicable terms of service; or</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>As otherwise required by law.</p>
      <p class="p18">We may share non-personal, aggregate information with third parties, which do not personally identify You.</p>
      <p class="p18">We may display advertisements that are targeted based on PI, including your interactions with this web site. We do not provide any PI to advertisers or advertisement serving companies, but advertisers may collect anonymous information and draw inferences about targeting criteria for a particular advertising campaign.</p>
      <p class="p18">If You provide us with your mobile telephone number, email address, or other such PI, You accept and authorize us to send You messages related to Our Services (where You give Us express permission to do so).</p>
      <p class="p18">We may disclose your PI solely if You authorize it, except where that disclosure is required to obtain advice, prepare legal proceedings, to investigate suspected improper conduct or wrong doing, to assist a lawful authority in the discharge of its duties and/or by law.</p>
      <p class="p5"><b>Data Quality &amp; Security</b></p>
      <p class="p17">We take reasonable steps to ensure that the PI we collect, use or disclose is accurate, complete and up to date. If your PI is incorrect or changes, please contact Us so that We can update your PI and continue providing You with Our Services.</p>
      <p class="p17">We employ appropriate electronic and procedural measures to protect PI from misuse, loss and unauthorized access, modification or disclosure. Access to your PI is limited to employees We believe reasonably need to use that information in order to perform their roles in providing or developing Our Services.</p>
      <p class="p17">We are committed to the protection of your privacy and meeting the standards set out in Australia’s Privacy Act 1988 (Commonwealth) and the National Privacy Principles (‘NPP’) and similar legislation in jurisdiction we service.</p>
      <p class="p17">Once we no longer need your PI, we take reasonable steps to delete same.</p>
      <p class="p5"><b>Sensitive Information</b></p>
      <p class="p18">Where practical, You may deal with Us on an anonymous basis. However, because of the services We provide, if You do not provide Us with your PI, We may not be able to allow you to join or participate in utilising Our Services or provide You with the requested product or service.</p>
      <p class="p18">We will not collect sensitive information except with your consent, and only if it’s necessary for some activity or function. For the purpose of this policy, ‘Sensitive Information’ means health information or information or an opinion about an individual’s:</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Racial or Ethnic origin</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Political opinions</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Membership of a Political Association</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Religious Beliefs or affiliations</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Philosophical beliefs</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Membership of a professional or trade association</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Membership of a trade union</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Sexual preferences or practices; or</p>
      <p class="p22"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Criminal record</p>
      <p class="p18">We will not require You to provide sensitive information unless you have consented; or collection of the information is specifically authorised or required by law.</p>
      <p class="p5"><b>Anti-Money Laundering Policy</b></p>
      <p class="p17">We are committed to full compliance with all applicable laws and regulations regarding Anti- Money Laundering (“AML”). Our policy is to prevent people engaged in money laundering, fraud, and other financial crimes, including terrorist financing, from using Our Services.</p>
      <p class="p17">To comply with legislative requirements, and global sanctions, We may screen our Users accounts for suspicious activity. In addition, We may request that You provide Us with documentation to help prove your identity or for business verification purposes. We will report suspicious transactions to the financial intelligence unit in the respective country.</p>
      <p class="p17">As part of our AML procedures, We may collect information from You to satisfy Our “know your member and customer” requirements (full name or business/organization name, officers (where applicable), email address, date of birth and address). This means that We may request information from You due to a specific identification requirement. We may ask You to provide documentation to help confirm your identity or provide additional information.</p>
      <p class="p5"><b>Revisions</b></p>
      <p class="p14">We may amend Our Privacy Policy from time to time. If We make a change to this Policy that, in Our sole discretion, is material, We will notify You via our platform news updates or our public forum pages. By continuing to access or Our Services after those changes become effective, You agree to be bound by the revised Policy.</p>
      <br />
      <p class="p4">MORE INFORMATION</p>
      <br />
      <p class="p18">For more information contact us:</p>
      <p class="p18">support@lovestamp.io</p>
      <br />
      <p class="p28"><b>Australia</b></p>
      <p class="p18">21 Capital Pty Ltd</p>
      <p class="p18">Address: Suite 109 (Rear Door), 26-32 Pirrama Road, Pyrmont NSW 2009 Australia</p>
      <p class="p28"><b>United States</b></p>
      <p class="p18">Monarchy LLC</p>
      <p class="p18">Address: Level 2, 2800 San Jacinto Street, Houston, TX 77004, USA</p>
      <br />
      <p class="p18"><em>Last updated: January 2015</em></p>
      <br />
      <br />
    </section>
  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>

