body.base-template.merchant--show--product-tour--,
body.base-template.fan--show--product-tour--,
body.base-template.show--product-tour--,
body.base-template.show--product-tour {

  md-next,
  md-previous {
    @extend .fade-in;
    @extend .animated;
  }

  // Hide on close.
/*
 *  &:not(.pt--undefined),
 *  &:not(.pt--hangout),
 *  &:not(.pt--mail),
 *  &:not(.pt--message),
 *  &:not(.pt--copy),
 *  &:not(.pt--facebook),
 *  &:not(.pt--twitter),
 *  &:not(.pt--google) {
 *    .grid-item {
 *      display: none !important;
 *    }
 *  }
 *
 */

  // Hide on last pane.
  &.pt--twitter {
    md-next,
    md-previous {
      display: none !important;
    }
  }

  @include tour-gallery(".pt--undefined", "gallery-backdrop-0");
  @include tour-gallery(".pt--hangout", "gallery-backdrop-1");
  @include tour-gallery(".pt--mail", "gallery-backdrop-2");
  @include tour-gallery(".pt--message", "gallery-backdrop-3");
  @include tour-gallery(".pt--copy", "gallery-backdrop-4");
  @include tour-gallery(".pt--facebook", "gallery-backdrop-5");
  @include tour-gallery(".pt--twitter", "gallery-backdrop-6");
  @include tour-gallery(".pt--google", "gallery-backdrop-7");


  .product-tour--container {
    position: absolute;
    z-index: 9838273782782783783287 !important;
    width: 100%;
    left: 0;
    height: 3rem;

    .page-anchor {
      position: relative;
      top: .5rem;
      width: 100%;
      .back {

        height: 4rem;
        width: 4rem;
        margin-top: 3ch;

        .fa {
          /*text-indent: 1px;*/
          color: #fff;
        }
        .inner {
          position: relative;

          &:before {
            border: 3px #fff solid;
            border-radius: 50%;
            content: ' ';
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: -0.25rem;
            left: 50%;
            margin-left: -1rem;
          }

        }
      }
    }
  }

}

@mixin site-tour-pages($override: '') {

  &.exiting {
    md-backdrop {
      @extend .animated;
      @extend .fade-out;
    }
  }

  md-previous {

    left: 36% !important;
    margin-right: -20px !important;
    position: relative;

    .fa {
      position: relative;
      left: -2px;
    }

    &:before {
      border: 3px #fff solid;
      content: ' ';
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: -.5rem;
      left: 50%;
      margin-left: -1.5rem;
    }

  }

  md-next {

    right: 40% !important;
    margin-right: -20px !important;
    position: relative;

    .fa {
      position: relative;
      right: -2px;
    }

    &:before {
      border: 3px #fff solid;
      content: ' ';
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: -.5rem;
      left: 50%;
      margin-left: -1.5rem;
    }
  }

  &.pt--undefined {
    md-previous {
      display: none;
    }
  }

  &.pt--undefined,
  &.pt--hangout,
  &.pt--mail,
  &.pt--message,
  &.pt--copy,
  &.pt--facebook,
  &.pt--twitter,
  &.pt--google {

    @if $override != '' {
      position: absolute;
      left: -9999px;
    }

    .angular-leaflet-map {
      display: none;
    }

    .loading {
      display: none;
    }

    .index-toolbar {
      display: none;
    }

    md-backdrop {
      background-repeat: no-repeat;
      /*
       *background-size: contain;
       *background-position: center;
       */
      background-size: 100%;
      background-position: center top;
      background-color: #555;

      box-shadow: 3px 3px 5px #111;
      @extend .animated;
      @extend .fade-in;
    }
  }

/*
 *
 *  &.pt--undefined,
 *  &.pt--hangout {
 *    md-backdrop {
 *      background-image: url('../../../../images/pt/product-tour-slice-1.png')  #{$override};
 *    }
 *  }
 *
 *  &.pt--mail {
 *    md-backdrop {
 *      background-image: url('../../../../images/pt/product-tour-slice-2.png') #{$override};
 *    }
 *  }
 *
 *  &.pt--message {
 *    md-backdrop {
 *      background-image: url('../../../../images/pt/product-tour-slice-3.png') #{$override};
 *    }
 *  }
 *
 *  &.pt--copy {
 *    md-backdrop {
 *      background-image: url('../../../../images/pt/product-tour-slice-4.png') #{$override};
 *    }
 *  }
 *
 *  &.pt--facebook {
 *    md-backdrop {
 *      background-image: url('../../../../images/pt/product-tour-slice-5.png') #{$override};
 *    }
 *  }
 *
 *  &.pt--twitter {
 *    md-backdrop {
 *      background-image: url('../../../../images/pt/product-tour-slice-6.png') #{$override};
 *    }
 *  }
 *
 *  &.pt--google {
 *    md-backdrop {
 *      background-image: url('../../../../images/pt/product-tour-slice-7.png') #{$override};
 *    }
 *  }
 *
 */

}


