/***
# fileOverview

          _                                    _  _
         (_)  _                 _             | || |
      ___ _ _| |_ _____ _____ _| |_ ___   ___ | || |__  _____  ____
     /___) (_   _) ___ (_____|_   _) _ \ / _ \| ||  _ \(____ |/ ___)
    |___ | | | |_| ____|       | || |_| | |_| | || |_) ) ___ | |
    (___/|_|  \__)_____)        \__)___/ \___/ \_)____/\_____|_|

@module organelles  

## description

A site toolbar organelle.

***/

.version-container {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,.5);
    /* width: 100%; */
    text-align: right;
    padding: 0 .5rem;
    display: inline-block;
    right: 0;
    font-size: .75rem;
    z-index: 9001 !important;
}


/*** ==========================================================================

    Drag area for site toolbar orbs.

***/

.stamp-screen.drag-enter,
.activity-links.drag-enter {
  height: 100%;
  width: 100%;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
}


/*** ==========================================================================

    Our site-toolbar and its permutations needs a lot of work.

***/


body.device-android,
body.device-ios {
  .site-toolbar,
  .index-toolbar {
    top: 1rem !important;
    li:nth-of-type(n+2) {
      a {
        background-image: url(../../../../www/images/nav-sprite.png);
      }
    }
  }
}

.site-toolbar,
.index-toolbar {

  @extend .animated;
  @extend .fadeInDownBig;

  height   : 9vh;
  position : absolute;
  width    : 100%;
  z-index  : 500;

  @include toolbar-list;
  @include toolbar-form;
  .profile {
    a {
      @include profile;
    }
    text-indent: -9999px;
  }

  nav {
    @include clearfix;
    // Really only adjusts the Leaderboard Progress Circle.

    @media #{$small} {
      margin: 0 0 0 -2%;
    }

    @media #{$slinder} {
      margin: 0 0 0 0;
    }

    @media #{$medium} {
      margin: 0 0 0 0;
    }

    @media #{$large} {
      margin: 0 0 0 0;
    }

  }

  ul.nav {
    li {
      margin-left: 0;
      margin-right: 0;
    }
  }

  li:nth-of-type(1) {
    margin: 0;
    a {
      span {
        display: block;
        width: 16vh;
        height: 16vh;
        border-radius: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 0 auto;
        top: 50%;
        position: relative;
        margin-top: -8vh;
      }
    }
  }

  li:nth-of-type(n+2) {
    &.links-activity-set {
      text-align: center;
      a {
        background-image: none !important;
        span.fa {
            font-size: 3.5rem;
            position: relative;
            left: auto;
            top: auto;
            line-height: 1.25;
            color: #006FB8;
        }
      }
    }

    margin-top: 40px;
    a {
      display: block;
      width: 5rem;
      height: 4rem;
      background-image: url(/assets/images/nav-sprite.png);
      background-size: 13rem;
      background-repeat: no-repeat;
      background-position: 0 0;
      image-rendering: -moz-crisp-edges;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
    }
    span {
      position: absolute;
      left: -9999px;
      top: -11px;
    }
  }

  /* ===================================

     Show Activity Links

  */

  li:nth-of-type(2) {
    position: absolute;

    @media #{$small} {
      left: 256px !important;
    }

    @media #{$slinder} {
      left: 256px !important;
    }

    @media #{$medium} {
      left: 256px !important;
    }

    @media #{$large} {
      left: 256px !important;
    }

    .circle-bg {
      left: -18px !important;
    }

    a {

      margin-left: -24px;
      @media #{$small} {
        background-position: 18px -47px;
      }

      @media #{$medium} {
        background-position: 18px -47px;
      }
      @media #{$large} {
        background-position: 18px -47px;
      }

    }

  }

  .dragging {
    z-index: 10052;
    cursor: grabbing;
  }

  li:nth-of-type(3) {
    position: absolute;
    right: 8vh;
    a {
      background-position: -63px -48px;
      position: absolute;
      left: 61px;
    }
  }

  ul.nav.customer {
    li:nth-of-type(2) {
      right: 10px;
    }

    /* =================================

       Show Stamp Screen

    */

    li:nth-of-type(3) {
      right: auto;

      @media #{$small} {
        left: 91px !important;
      }

      @media #{$slinder} {
        left: 91px !important;
      }

      @media #{$medium} {
        left: 91px !important;
      }

      @media #{$large} {
        left: 91px !important;
      }

    }

    li:nth-of-type(4) {
      left: 235px !important;
      text-align: center;
      a {
        background-image: none;
        .circle-bg {
          span.fa {
            font-size: 3.5rem;
            position: relative;
            left: auto;
            top: auto;
            line-height: 1.25;
            color: #006FB8;
          }
        }
      }
    }

  }

  // Dashboard
  li:nth-of-type(4) {
    position: absolute;
    right: 16vh;
    a {
      background-position: -8vh 0;
    }
  }

  // Logout
  li:nth-of-type(5) {
    position: absolute;
    right: 0;
    a {
      background: transparent;
      text-align: center;
      color: #666666;
    }
    span {
      font-size: 5.5vh;
      left: auto;
      position: relative;
    }
  }

  span.circle-bg {
    border: 2px solid #006FB8;
    position: absolute;
    display: block;
    content: ' ';
    background: rgba(255, 255, 255, .8);
    width: 75px;
    height: 75px;
    right: auto;
    top: -6px;
    z-index: -1;
    left: 6px !important;
    border-radius: 50%;
  }

}


/* @TODO Create molecule. */
md-progress-circular .md-inner .md-left,
md-progress-circular .md-inner .md-right {
  //overflow: visible !important;
}

.md-inner { overflow: visible !important; }
.md-spinner-wrapper { overflow: visible !important; }
md-progress-circular { overflow: visible !important; }

.nav--module .module--profile md-progress-circular.md-progress-underlay {

  @include scale-up(2.7);

  margin-left: 1rem;
  top: 82px !important;
  left: 62px !important;

  &.md-default-theme.md-accent .md-inner .md-left .md-half-circle {
    border-left-color: rgb(100,100,100);
    border-top-color: rgb(100,100,100);
    border-right-color: rgb(100,100,100);
    border-bottom-color: rgb(100,100,100);
  }

  &.md-default-theme.md-accent .md-inner .md-right .md-half-circle {
    border-left-color: rgb(100,100,100);
    border-top-color: rgb(100,100,100);
    border-right-color: rgb(100,100,100);
    border-bottom-color: rgb(100,100,100);
  }

}


/* @TODO Create molecule. */

.nav--module .module--profile md-progress-circular.bits-display-board--progress {
  margin-left: 1rem;
  @include scale-up(2.8);
  top: 132px !important;
  left: 62px !important;

  &.md-default-theme.md-accent .md-inner .md-left .md-half-circle {
    border-left-color: rgb(255,255,255);
    border-top-color: rgb(255,255,255);
    border-right-color: rgb(255,255,255);
    border-bottom-color: rgb(255,255,255);
  }

  &.md-default-theme.md-accent .md-inner .md-right .md-half-circle {
    border-left-color: rgb(255,255,255);
    border-top-color: rgb(255,255,255);
    border-right-color: rgb(255,255,255);
    border-bottom-color: rgb(255,255,255);
  }

}

/* @TODO Create molecule. */

[bits-display-board] {
  ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  li {
  }
  a:link,
  a:visited {
    color: #fff;
  }
}

/***

                        ___ _ _
                       / __|_) |
     ____   ____ ___ _| |__ _| | _____
    |  _ \ / ___) _ (_   __) | || ___ |
    | |_| | |  | |_| || |  | | || ____|
    |  __/|_|   \___/ |_|  |_|\_)_____)
    |_|

***/

/* @TODO Create page organelles. */

.page--stamp__success,
.page--stamp__pending,
.page--stamp__error,
.page--stamp__help {

  .page-column-2 {
    ul {
      @include grid-row();
    }
  }

  .field-push-notifications {
    text-align: center;
  }

  div.page-container {

    div.field-column {
      color: #fff;
      text-align: center;
      @media #{$small} {
        @include grid-column($columns:6, $collapse: true);
      }
      @media #{$medium} {
        @include grid-column($columns:6, $collapse: true);
      }
      @media #{$large} {
        @include grid-column($columns:6, $collapse: true);
      }
    }

  }
}


/* @TODO Create organelle. */

.page--stamp__success,
.page--stamp__pending,
.page--stamp__error,
.page--stamp__help {

  .bits-collected-label {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    text-align: center;
  }

  .fa-question-circle {
    font-size: 3rem;
  }

  .page-container .changetip--default-header {

    width: 100%;

    .page-anchor {
      .md-button {
        width: 100%;
        text-align: center;
        color: #ffffff;
        .fa {
          left: 0 !important;
        }
      }
    }

    .page-inner {

    }

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; 
    flex-direction: column;
    /*padding-top: 4.5vh !important;*/
  }

  .page-container .changetip--guide {
    width: 100%;

  }

  .page-container .redirect {
    width: 100%;

  }

  .page-container .changetip--default-header,
  .page-container .bits-display-container header.site-header {

    padding: 0;
    background-color: #EEC71E;

    ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column; 
      flex-direction: column;
      /*padding-top: 4.5vh !important;*/
    }

    ul li.display--value {
      padding: 0 1vh;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 5rem;
      line-height: 1;
      margin-top: .5rem;
    }

    ul li.display--help {
      padding: 1vh;
      width: 100%;
      text-align: center;
      font-size: 5vh;
    }

  }

}
