<!--
# fileOverview

                      _                                        _
                     | |            _                         (_)
      ___  ___   ____| |  _ _____ _| |_ _____ ____ _____  ____ _  ___  ____
     /___)/ _ \ / ___) |_/ ) ___ (_   _|_____) ___) ___ |/ _  | |/ _ \|  _ \
    |___ | |_| ( (___|  _ (| ____| | |_     | |   | ____( (_| | | |_| | | | |
    (___/ \___/ \____)_| \_)_____)  \__)    |_|   |_____)\___ |_|\___/|_| |_|
                                                        (_____|

## description

-->

<section
  ng-class="{
    'site-footer': true
  }"
>

  <!--

         _                          ___
        | |            _           / __)            _
   ____ | |__  _____ _| |_ _____ _| |__ ___   ___ _| |_ _____  ____
  |  _ \|  _ \(____ (_   _|_____|_   __) _ \ / _ (_   _) ___ |/ ___)
  | |_| | | | / ___ | | |_        | | | |_| | |_| || |_| ____| |
  |  __/|_| |_\_____|  \__)       |_|  \___/ \___/  \__)_____)_|
  |_|

  -->

  <div class="phat-footer">

    <div class="col col-1">

      <figure>

        <img
          src="/assets/images/logo--merchant-backend.png"
          alt="LoveStamp"
        />

      </figure>

    </div>

    <div class="col col-2">

      <!--

                        _       _
                       (_)     | |
        ___  ___   ____ _ _____| |
       /___)/ _ \ / ___) (____ | |
      |___ | |_| ( (___| / ___ | |
      (___/ \___/ \____)_\_____|\_)

      -->

      <div class="social">

        <ul>
          <li>
            <a
              rel-external
              href="https://www.facebook.com/LoveStampio"
            >
              <span class="fa fa-facebook"></span>
            </a>
          </li>

          <li>
            <a
              rel-external
              href="https://plus.google.com/105216576270473890177"
            >
              <span class="fa fa-google-plus"></span>
            </a>
          </li>

          <li>
            <a
              rel-external
              href="https://twitter.com/LoveStamPR"
            >
              <span class="fa fa-twitter"></span>
            </a>
          </li>

<!--
   -          <li>
   -            <a
   -              rel-external
   -              href="https://lovestamp.slack.com"
   -            >
   -              <span class="fa fa-slack"></span>
   -            </a>
   -          </li>
   -
   -          <li>
   -            <a
   -              rel-external
   -              href="https://bitbucket.org/nerdfiles/lovestamp"
   -            >
   -              <span class="fa fa-bitbucket"></span>
   -            </a>
   -          </li>
   -->
        </ul>

      </div>

      <!--

       ____  _____ _   _
      |  _ \(____ | | | |
      | | | / ___ |\ V /
      |_| |_\_____| \_/

      -->

      <nav>

        <ul>

          <li class="legal">
            <a
              ui-sref="legal"
              data-hint="Terms of Use, Privacy Policy, mumbo jumbo, etc."
            >Legal Mumbo Jumbo</a>
          </li>

          <li
            ng-if="isAuthorized"
            class="admin"
          >
            <a
              ui-sref="admin"
              data-hint="Our Command Center"
            >Administration</a>
          </li>


          <li
            ng-if="isAuthorized"
            class="register"
          >
            <a
              data-hint="Create a new Stamp Id"
              ui-sref="stamp-id">Registration</a>
          </li>

          <li
            ng-if="isAuthorized"
            class="id"
          >
            <a
              data-hint="Create a new Stamp Id"
              ui-sref="stamp-recall">Identification</a>
          </li>

          <li
            class="admin"
            ng-show="isAuthorized"
          >
            <a
              data-hint="Track requests for stamps"
              ui-sref="requests">Requests</a>
          </li>

          <li
            class="admin"
            ng-show="isRegularUser"
          >

            <a
              ng-if="!isAuthorized"
              data-hint="Track payments for stamps and impressions"
              ui-sref="payments-by-user"
            >
              Payments
            </a>

            <a
              ng-if="isAuthorized"
              data-hint="Track payments for stamps and impressions"
              ui-sref="payments"
            >
              Payments
            </a>

          </li>

        </ul>

      </nav>

    </div>

  </div>

  <!--

              _             _
             | |           | |
    ____ ___ | | ___  ____ | |__   ___  ____
   / ___) _ \| |/ _ \|  _ \|  _ \ / _ \|  _ \
  ( (__| |_| | | |_| | |_| | | | | |_| | | | |
   \____)___/ \_)___/|  __/|_| |_|\___/|_| |_|
                     |_|

  -->

  <div
    class="address"
    itemscope
    itemtype="http://schema.org/Organization"
  >

    <div>
      &copy; 2015 LOVESTAMP. ALL RIGHTS RESERVED.
    </div>

    <div class="colophon">
      LoveStamp, a product of <span itemprop="name">Monarchy LLC</span>, is 
      independently owned and operated and is not affiliated with 
      ChangeTip or SnowShoe Stamp.
    </div>

    <div
      class="accessibly-hide"
      itemprop="address"
      itemscope
      itemtype="http://schema.org/PostalAddress"
    >

      <div>
        <div itemprop="streetAddress">Level 2, 2800 San Jacinto Street</div>
        <span itemprop="addressLocality">Houston</span><span class="sep">,</span>
        <span itemprop="addressRegion">Texas</span>
        <span itemprop="postalCode">77004</span>
        <span>E-mail:</span>
        <span itemprop="email">support@lovestamp.io</span>
      </div>

      <div class="organization--members">
          <h2>Members</h2>

          <div
            itemprop="member"
            itemscope
            itemtype="http://schema.org/Person"
          >
            <h3>James Duchenne</h3>
            <h4 itemprop="jobTitle">Management Lead</h4>
            <ul>
              <li><a href="https://twitter.com/jamesduchenne">@jamesduchenne</a></li>
            </ul>
          </div>

          <div
            itemprop="member"
            itemscope
            itemtype="http://schema.org/Person"
          >
            <h3>Adam Richard</h3>
            <h4 itemprop="jobTitle">UX Lead</h4>
            <ul>
              <li><a href="https://twitter.com/adamwrichard">@adamwrichard</a></li>
            </ul>
          </div>

          <div
            itemprop="member"
            itemscope
            itemtype="http://schema.org/Person"
          >
            <h3>Kimberly Morgan</h3>
            <h4 itemprop="jobTitle">PR Lead</h4>
            <ul>
              <li><a href="https://twitter.com/kymmer7691">@kymmer7691</a></li>
            </ul>
          </div>

          <div
            itemprop="member"
            itemscope
            itemtype="http://schema.org/Person"
          >
            <h3>Aha Hah</h3>
            <h4 itemprop="jobTitle">Tech Lead</h4>
            <ul>
              <li><a href="https://twitter.com/filesofnerds">@filesofnerds</a></li>
            </ul>
          </div>

      </div>

    </div>

  </div>

</section>
