body.base-template {
  .no-results {
    clear: both;
    text-align: center;
    padding: 2vh 0;
  }

  .chosen-container-single .chosen-single {
    border-radius: 0;
    background-image: none;
    background-color: #fff;
    border: none;
    border-bottom: 1px #ccc solid;
    box-shadow: none;
  }
  .chosen-container-single .chosen-drop {
    border-radius: 0;
  }
  .chosen-single { }
  .chosen-default {
    border-radius: 0;
  }

}
