.leaflet-container img {
  @extend .animated;
  @extend .fadeIn;
}

.leaflet-top.leaflet-left {
  display: none;
  .leaflet-control-zoom {
    margin-left: 0;
  }
}
.leaflet-bar a, .leaflet-bar a:hover {
  border-radius: 0 !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-label {
  border: none !important;
  background-color: transparent !important;
  color: #7ac691;
  font-size: 1.5rem !important;
  &:before {
    display: none !important;
  }
  @extend .animated;
  @extend .fadeIn;
  .fa {
    background: #fff;
    border-radius: 100%;
    /* padding: 0; */
    line-height: 75%;
    /* display: inline-block; */
    text-align: center;
    width: 75%;
    font-size: 1.5rem;
    text-indent: -3px;
    @extend .animated;
    @extend .tada;
  }
}

.marker--spiderfieree {
}

.leaflet-label--hidden {
  @extend .animated;
  @extend .fadeOut;
  .fa {
    /*
     *@extend .animated;
     *@extend .tada;
     */
  }
}

img[src$="map-marker.png"] {
  z-index: 1001000 !important;
}

.leaflet-label {
  display: none !important;
  z-index: 1002000 !important
}

.leaflet-label-right.first,
.leaflet-label.first {
  display: block !important;
}

.leaflet-label:not(.first.enable) {
  display: none !important;
}

.leaflet-label .fa {
  color: #26B420;
}

.leaflet-label[class*="spiderfied-label--"].first {
  z-index: -1;
  /*position: relative;*/
  /*display: none;*/
}

