/***

***/

div[ng-stamp] {
}

$stampScreenBackground: #0088ce;
$stampScreenCircle: #1e51a3;
$return: #ee3a50;

body.device-android,
body.device-ios {
  div[ng-stamp] {
    background-image: url(../../../../www/images/100--stamp-pad.png);
    &.stamp--validating {
      background-image: none !important;
      background-size: 33vh;
    }
  }

  div.updated--pending-pool {
    span.fa {
      background-image: url(../../../../www/images/draggable--purse.png);
      display: block;
      width: 50%;
      height: 50%;
      background-size: contain;
      content: ' ';
    }
    img {
      /*display: none !important;*/
    }
  }
}

body.device-ios {
  div[ng-stamp] {
    background-position: center center !important;
  }
}

div[ng-stamp] {

  .stamp--loader {
    display: none;
  }

  &.stamp--validating {

    @extend .animated;
    @extend .flip;

    background-image: none !important;

    .stamp--loader {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;

      @extend .animated;
      @extend .fade-in;

      .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 5rem;
        color: #fff;
        margin-left: -2.5rem;
        margin-top: -2.5rem;
        z-index: 100001;
      }
    }
  }

  &.stamp--touched {
    &:before {
      @extend .animated;
      @extend .bounce;
    }
  }

  &:before {

    border        : 3px #fff solid;
    border-radius : 50%;
    display       : block;
    content       : ' ';
    left          : 50%;
    position      : absolute;
    top           : 33%;

    @media #{$small} {
      width: 35vh;
      height: 35vh;
      margin-left: -17.5vh;
      top: 50%;
      margin-top    : -87.5px;
      width: 175px;
      height: 175px;
      margin-left: -87.5px;
    }

    @media #{$slinder} {
      width: 35vh;
      height: 35vh;
      margin-left: -17.5vh;
    }

    @media #{$medium} {
      width: 35vh;
      height: 35vh;
      margin-left: -17.5vh;
    }

    @media #{$large} {
      width: 35vh;
      height: 35vh;
      margin-left: -17.5vh;
    }

  }

  height                 : 100%;
  background-image       : url(/assets/images/100--stamp-pad.png);
  background-repeat      : no-repeat;
  background-size        : 25vh;
  background-position    : center 55%;
  text-align             : center;
  image-rendering        : -moz-crisp-edges;            /* Firefox */
  image-rendering        : -o-crisp-edges;              /* Opera */
  image-rendering        : -webkit-optimize-contrast;   /* Webkit (non-standard naming) */
  image-rendering        : crisp-edges;
  -ms-interpolation-mode : nearest-neighbor;            /* IE (non-standard property) */

}

.page--stamp__id,
.page--stamp {

  height           : 100%;
  background-color : $stampScreenBackground;
  background-color : #00adef;

  // @TODO
  .site-header {
    width: 100%;
    height: 0;
  }

  h1 {

    text-transform : lowercase;
    text-align     : center;
    position       : absolute;
    top            : 0px;
    width          : 100%;
    z-index        : 902;
    margin-top     : 24vw;
    color          : #fff;
    text-indent    : 0;
  }

  footer {

    position: absolute;
    width: 100%;
    z-index: 9051;
    top: 2.25ch !important;

    a.md-primary,
    a.md-primary:visited,
    a.md-primary:link {

      color      : #fff;
      padding    : 0;
      margin-top : 1rem;

      .fa {
        color: #fff;
        left: 0;
      }

      &:before {

        color         : #fff;
        display       : block;
        content       : ' ';
        position      : absolute;
        left          : 50%;
        top           : .75rem;
        width         : 2rem;
        height        : 2rem;
        border-radius : 50%;
        border        : 3px #fff solid;
        margin-left   : -1rem;
        color         : #fff !important;
        line-height   : 0;
        text-indent   : 0;

      }
    }
  }

}

.page--stamp__id {
  footer {

    li {
      @media #{$small} {
        @include grid-column($columns:6, $collapse: false);
      }
      @media #{$medium} {
        @include grid-column($columns:6, $collapse: false);
      }
      @media #{$large} {
        @include grid-column($columns:6, $collapse: false);
      }
    }
    ul {
    }
    form {}
    .field-block {

    }
  }
}

