<!--
  @module www/controllers/stamp-signup
-->
<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--stamp-signup': true,
    'page--active': true
  }"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
    <h1>
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>
  </header>


  <div 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    role="main"
  >

    <div site-navigation></div>

    <section
      ng-class="{
        'stamp-signup': true
      }"
      ng-style="{
        'padding-top': '3vh'
      }"
    >

      <div>

        <form
          class="forms--baptize"
          ng-submit="linkStampToUser(forms.baptize.alias)"
        >

          <header>
            <h1>{{pageSectionTitle}}</h1>
          </header>

          <div class="field-intro">

            <p>
            You must be verified before joining the LoveStamp family. If you 
            have a Stamp serial number, enter it. Otherwise tell us why you'd 
            like a Stamp, and we'll contact you within 48 hours.
            </p>

          </div>

          <div class="field-column field-column-1">

            <md-input-container>

              <label for="stamp.alias">

                <span
                  ng-if="!forms.baptize.alias"
                  class="fa fa-unlock-alt"
                ></span>

                <span
                  ng-if="forms.baptize.alias"
                  class="fa fa-lock"
                ></span>

                Stamp Serial Number
              </label>

              <input
                required
                id="baptize.alias"
                name="baptize.alias"
                class="baptize--alias"
                ng-model="forms.baptize.alias"
              />

              <div ng-messages="forms.baptize.stampAlias.$error">
                <div ng-message="required">Check underneath your hands.</div>
              </div>

            </md-input-container>

          </div>

          <div class="field-column field-submit">
            <div class="field-input">
              <md-button>
                Lock and Load

                <span class="fa fa-bullseye"></span>
              </md-button>
            </div>
          </div>

        </form>

      </div>

      <form
        class="field-intro forms--signup"
        ng-if="requested || requestTimeout"
        ng-style="{
          'margin-top': '2vh'
        }"
      >

        <header>
          <h1>You'll hear from us soon!</h1>
        </header>

        <!--
           -<p>Thank you for your request. We'll contact by the time the countdown 
           -reaches 0. If you're approved, the next time you log in you'll have 
           -access to the full LoveStamp site and you'll be able to purchase and 
           -fuel a stamp.</p>
           -->

        <br />

        <div
          count-down
          requested="requested"
          request-timeout="requestTimeout"
        >
          <div
            ng-class="{
              'counter': true,
              'animated': true,
              'fade-in': true
            }"
          ></div>
        </div>

      </form>

      <form 
        class="forms--signup"
        ng-submit="createSignupForUser()"
        ng-if="!(requested || requestTimeout)"
      >

        <header>
          <h1>I don't have a Stamp</h1>
        </header>

        <section>

          <div
            class="field-column field-column-1"
          >
            <div class="field-input">

              <md-input-container>
                <label for="signup.contactOrganizationName">
                  <span class="fa fa-at"></span>
                  <span class="shimmy-label">Merchant Name</span>
                </label>
                <md-input 
                  required
                  id="signup.contactOrganizationName"
                  name="signup.contactOrganizationName"
                  class="signup--contactOrganizationName"
                  ng-model="forms.signup.contactOrganizationName"
                ></md-input>
              </md-input-container>

              <md-input-container>
                <label for="signup.contactName">
                   <span class="fa fa-comments-o"></span>
                   <span class="shimmy-label">Contact Person</span>
                </label>
                <md-input
                  required
                  id="signup.contactName"
                  name="signup.contactName"
                  class="signup--contactName"
                  ng-model="forms.signup.contactName"
                ></md-input>
              </md-input-container>

              <md-input-container>
                <label for="signup.contactEmail">
                  <span class="fa fa-mail-reply"></span>
                  <span class="shimmy-label">E-mail</span>
                </label>
                <md-input
                  required
                  id="signup.contactEmail"
                  name="signup.contactEmail"
                  class="signup--contactEmail"
                  ng-model="forms.signup.contactEmail"
                ></md-input>
              </md-input-container>

              <md-input-container>
                <label for="signup.contactPhoneNumber">
                  <span class="fa fa-phone"></span>
                  <span class="shimmy-label">Telephone</span>
                </label>
                <md-input
                  required
                  id="signup.contactPhoneNumber"
                  name="signup.contactPhoneNumber"
                  class="signup--contactPhoneNumber"
                  ng-model="forms.signup.contactPhoneNumber"
                ></md-input>
              </md-input-container>

              <md-input-container>
                <label for="signup.contactBusinessType">
                  <span class="fa fa-tag"></span>
                  <span class="shimmy-label">Type of Business</span>
                </label>
                <md-input
                  required
                  id="signup.contactBusinessType"
                  name="signup.contactBusinessType"
                  class="signup--contactBusinessType"
                  ng-model="forms.signup.contactBusinessType"
                ></md-input>
              </md-input-container>

              <md-input-container>
                <label for="signup.contactReferrer">
                  <span class="fa fa-exchange"></span>
                  <span class="shimmy-label">How did you hear about us?</span>
                </label>
                <md-input
                  required
                  id="signup.contactReferrer"
                  name="signup.contactReferrer"
                  class="signup--contactReferrer"
                  ng-model="forms.signup.contactReferrer"
                ></md-input>
              </md-input-container>

            </div>
          </div>

          <div class="field-column field-column-2">
            <div class="field-input">
              <textarea 
                ng-required="forms.signup.contactOrganizationName"
                id="signup--aboutBusiness"
                name="signup--aboutBusiness"
                class="signup--aboutBusiness"
                ng-model="forms.signup.contactAboutBusiness"
                cols="30"
                rows="10"
                placeholder="Tell us why you want to join our family"
              ></textarea>
            </div>
          </div>

          <md-divider></md-divider>

          <br />

          <div class="field-row field-note">
            <!--<p>We’ll give you a call to verify your details in the 24 business hours.</p>-->
          </div>

          <div class="field-row field-submit">
            <div class="field-input">
              <md-button
                ng-disabled="formname.$invalid"
              >
                Send Request

                <span class="fa fa-paper-plane-o"></span>
              </md-button>
            </div>
          </div>

        </section>

      </form>

    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>
