/***

                                             _ _
       _                                    | | |
     _| |_ ___  _   _  ____ _____ ____ _____| | | _____  ____ _   _
    (_   _) _ \| | | |/ ___|_____) _  (____ | | || ___ |/ ___) | | |
      | || |_| | |_| | |        ( (_| / ___ | | || ____| |   | |_| |
       \__)___/|____/|_|         \___ \_____|\_)_)_____)_|    \__  |
                                (_____|                      (____/

***/

@mixin tour-gallery($className: ".pt--undefined", $backdropSelected: "gallery-backdrop-0") {
  &#{$className} md-bottom-sheet.bs--product-tour {

    z-index: 9001;
    @extend .animated;
    @extend .fade-in;

    md-list {
      position: absolute;
      left: -9999px;
    }

    p {
      font-weight: 500;
    }
  }

  &#{$className} md-bottom-sheet.bs--product-tour {

    padding-top: 55%;


    @media #{$small} {
      padding-top: 60vw;
    }

    @media #{$slinder} {
      padding-top: 60vw;
    }

    @media #{$medium} {
      padding-top: 40vw;
    }

    @media #{$large} {
      padding-top: 40vw;
    }

    @include atoms((
      #{$backdropSelected},
      clearfix
    ))
  }

}
