<section
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active': true,
    'page--stamp': true
  }"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
  </header>

  <style>
  footer a:before { border-width: 2px !important; }
  </style>
  <footer>
    <a
      click-monad
      ng-click="loadHome()"
      class="button md-primary"
      style="margin-top: 1.75ch; margin-left: -0.15%;"
    >
      <span class="fa fa-close"></span>
    </a>
  </footer>

  <h1>Stamp Here</h1>

  <div
    ng-stamp
    ng-class="{
      'animated'       : true,
      'bounce-in-left' : !stampIdent,
      'stamp--touched' : stamped
    }"
    appkey="appKey"
    stampident="false"
    username="username"
    stamp-passes="stampPasses"
    stamp-receipt="stampReceipt"
  >
    <span class="stamp--loader">
      <span class="fa fa-spinner fa-spin"></span>
    </span>
  </div>

</section>
