<!--*
# fileOverview

 _____  ____ ____ ___   ____
| ___ |/ ___) ___) _ \ / ___)
| ____| |  | |  | |_| | |
|_____)_|  |_|   \___/|_|

@module plugins/snowshoestamp/partials  

## description

Error page for stampening validation.

-->

<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active': isActive,
    '~page--inactive': ! isActive,
    'page--stamp__error': true
  }"
>

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <div class="page-container">

    <div class="page-divider">

      <ul>

        <li class="changetip--default-header">

          <div class="page-anchor">

            <md-button
              class="back"
              aria-label="Back to Map"
              click-monad
              ng-click="loadHome()"
            >
              <div class="inner">
                <span class="fa fa-close"></span>
              </div>
            </md-button>

          </div>

          <div class="inner">
            <h1 style="font-size: 3rem;
                       line-height: 1;
                       font-weight: 600;
                       margin: 0 0 .67em 0 !important;">Oops!</h1>
            <p style="font-size: 1rem; font-weight: 600;">There was a problem.</p>
          </div>

        </li>

        <li class="changetip--guide">

          <div class="inner">
            <figure class="alert">
              <span></span>
            </figure>

            <div style="
              position: relative;
              top: 2rem;
              width: 120%;
              left: -10%;">
            <p>The stamp may be  unregistered, out of hours, unrecognized, or de-activated.</p>
            <br />
            <p>If the problem persists, please <a ng-click="openContact()">contact us</a>.</p>
            </div>
          </div>

        </li>

        <li class="redirect">

          <md-button ng-click="redirect('/stamp')">
            <div class="field-column">
              <span class="label">Try Again</span>
            </div>
          </md-button>

        </li>

      </ul>

    </div>

  </div>

  <!--
     -<footer>
     -</footer>
     -->

</section>
