<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active': isActive,
    '~page--inactive': ! isActive,
    'page--stamp__help': true
  }"
>

  <!--*
  @fileOverview

   _           _
  | |         | |
  | |__  _____| | ____
  |  _ \| ___ | ||  _ \
  | | | | ____| || |_| |
  |_| |_|_____)\_)  __/
                 |_|

  @module plugins/snowshoestamp/partials

  @description

    Help page for SSS.

  -->

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <div class="page-container">

    <div class="page-divider">

      <div class="page-column page-column-1">
        <md-button
          class="back md-button md-primary"
          ui-sref="home"
        >
          <div class="inner">
            <span class="fa fa-angle-left"></span>
            <span class="label">Home</span>
          </div>
        </md-button>
      </div><!-- .page-column-1 -->

      <div class="page-column page-column-2">
        <ul>

          <li class="push-notifications">
            <h1>
              <span class="fa fa-question"></span>
            </h1>
          </li>

          <li class="product-tour">
            <h2>How does LoveStamp work?</h2>
            <p>
              LoveStamp rewards you with random bits when your mobile device is stamped by 
              a participating merchant. A "bit" is a fraction of a bitcoin that LoveStamp gives 
              you via changetip.com. After stamping, we'll post on our social media page 
              mentioning <span class="social-callout">@you</span> and <span class="social-callout">@stamper</span>.
            </p>
          </li>

          <li class="log-out">
            <h2>What can I do with bits?</h2>
            <p>
              You can read all about it here. In brief, you can tip people over social media 
              by e-mail, text message, and more to show your appreciation or pay for something. 
              If you've accumulated enough, you can redeem them for items from over 100k+ 
              merchants.
            </p>
          </li>

        </ul>
      </div><!-- .page-column-2 -->

    </div>

  </div>

  <!--
     -<footer>
     -</footer>
     -->

</section>



