<section
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active': true,
    'page--stamp__id': true
  }"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
  </header>

  <footer>
    <a
      ng-click="addStamp()"
      class="button md-primary"
    >
      <span class="fa fa-close"></span>
      <!--<span class="label">Close</span>-->
    </a>
  </footer>

  <h1>Stamp Here</h1>

  <div 
    ng-stamp
    ng-class="{
      'animated'          : true,
      'bounce-in-left'    : !stampIdent,
      'stamp--touched'    : stampIdent
    }"
    appkey="appKey"
    stampident="true"
    username="username"
    stamp-passes="stampPasses"
    stamp-receipt="stampReceipt"
  >
  </div>

</section>

