<!--
# fileOverview

                           _ _
                          | (_)
     ____  _____ ____   __| |_ ____   ____
    |  _ \| ___ |  _ \ / _  | |  _ \ / _  |
    | |_| | ____| | | ( (_| | | | | ( (_| |
    |  __/|_____)_| |_|\____|_|_| |_|\___ |
    |_|                             (_____|

@module plugins/snowshoestamp/partials  

## description

Pending page for stampening validation.

-->

<section
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active'         : isActive,
    '~page--inactive'      : ! isActive,
    'page--stamp__pending' : true
  }"
>

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <div class="page-container">

    <div class="page-divider">

      <ul>

        <li class="bits-display-container">

          <header
            itemscope
            itemtype="http://schema.org/WebPageElement"
            class="site-header"
          >

            <div class="page-anchor">

              <md-button
                class="back md-button md-primary"
                aria-label="Back to Map"
                ui-sref="home"
              >
                <div class="inner">
                  <span class="fa fa-close"
                    style="
                      left: .095ch;
                      position: relative;
                      top: -.05ch;"
                  ></span>
                </div>
              </md-button>

            </div>

            <div
              bits-display-board
              class=""
              itemscope
              itemtype="http://schema.org/Event"
            >

              <meta itemprop="validFrom" content="now" />
              <meta itemprop="validThrough" content="+7 days" />

              <ul>
                <li
                  class="display--value"
                  itemprop="offers"
                  itemscope
                  itemtype="http://schema.org/Offer"
                >

                  <div
                    bits-display-counter
                    bits-collected-value="bitsCollectedValue"
                    itemprop="price"
                    content="{{bitsCollectedValue||0}}"
                  >{{bitsCollectedValue||0}}</div>

                  <div
                    class="bits-collected-label"
                    style="font-weight: 300; font-size: 1.5rem;"
                    itemprop="priceCurrency"
                    content="{{collectedCurrency}}"
                  >{{collectedCurrency}} received</div>

                </li>
              </ul>
            </div>
          </header>

        </li>

        <li class="product-tour">

          <h2>Hey LoveStampee!</h2>

          <p>We noticed that you're not a ChangeTip user! Your bits are waiting for you there.</p>

          <figure>
            <div class="monad">
              <a
                ng-href="https://changetip.com"
                rel-external
              >
                <img
                  src="/images/300--changetip--default.png" 
                  alt="Callout to sign up and claim bitcoins at ChangeTip.com"
                />
              </a>
            </div>
            <figcaption>
              <p class="callout-standard">
                <a
                  ng-href="https://changetip.com"
                  rel-external
                >
                  Sign Up and Claim them.
                </a>
              </p>
            </figcaption>
          </figure>

        </li>

        <li class="log-out">
          <div class="inner">
            <p>
              We chose ChangeTip to store your bits because they're the best at securing them and providing a variety of ways for you to use them. Sign up <span class="emphasis-time">within 7 days</span> or they'll autodestruct.
            </p>
          </div>
        </li>

      </ul>

    </div>

  </div>

</section>
