<!--
# fileOverview

      ___ _   _  ____ ____ _____  ___  ___
     /___) | | |/ ___) ___) ___ |/___)/___)
    |___ | |_| ( (__( (___| ____|___ |___ |
    (___/|____/ \____)____)_____|___/(___/

@module plugins/snowshoestamp/partials  

## description

Success page for stampening validation.

-->

<section
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active'         : isActive,
    '~page--inactive'      : ! isActive,
    'page--stamp__success' : true
  }"
>

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <div class="page-container">

    <div class="page-divider">

      <ul>

        <li class="bits-display-container">

          <header
            itemscope
            itemtype="http://schema.org/WebPageElement"
            class="site-header"
          >

            <div class="page-anchor">

              <md-button
                class="back"
                aria-label="Back to Map"
                click-monad
                ng-click="loadHome()"
              >
                <div class="inner">
                  <span class="fa fa-close"
                    style="
                      left: .095ch;
                      position: relative;
                      top: -.05ch;"
                  ></span>
                </div>
              </md-button>

            </div>

            <div
              bits-display-board
              class=""
              itemscope
              itemtype="http://schema.org/Event"
            >
              <meta itemprop="validFrom" content="now" />
              <meta itemprop="validThrough" content="+7 days" />
              <ul>
                <li
                  class="display--value"
                  itemprop="offers"
                  itemscope
                  itemtype="http://schema.org/Offer"
                >

                  <div
                    bits-display-counter
                    bits-collected-value="bitsCollectedValue"
                    itemprop="price"
                    content="{{bitsCollectedValue||0}}"
                  >{{bitsCollectedValue||0}}</div>

                  <div
                    class="bits-collected-label"
                    style="font-weight: 300; font-size: 1.5rem;"
                    itemprop="priceCurrency"
                    content="{{collectedCurrency}}"
                  >{{collectedCurrency}} received</div>

                </li>
              </ul>
            </div>
          </header>
        </li>

        <li class="product-tour">

          <figure>
            <div class="monad updated--pending-pool">
              <a ui-sref="users-handle-profile" title="Go back to Profile">
                <span class="fa"></span>
                <img
                  src="{{image_path_prefix}}images/draggable--purse.png" 
                  alt="Go to Profile"
                />
              </a>
            </div>
            <figcaption>
              <div class="bits-collected-value">
                {{updatedPurse||"0.00"}}
              </div>
              <div class="bits-collected-label">
                bits in stash
              </div>
            </figcaption>
          </figure>

          <br />

          <footer ng-click="loadProfilePage()">
            <p>Use your bits now.</p>
          </footer>

        </li>

      </ul>

    </div>

  </div>

</section>
