<!--*
@fileOverview

 _
| |
| |__  _____  ___ _____
|  _ \(____ |/___) ___ |
| |_) ) ___ |___ | ____|
|____/\_____(___/|_____)

@module www/controllers/admin/partials
@description

  A basic set of interaction elements for administrators to work with, 
  manipulate, and build a stampository.

-->

<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--admin': true,
    'page--active': true
  }"
  ng-init="loadStampList()"
>

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement"
    class="site-header"
  >
    <h1 ng-show="isAuthorized">
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>

    <div class="page--unauthorized" ng-show="!isAuthorized">
      <h1>Unauthorized</h1>
    </div>
  </header>

  <div
    itemscope
    itemtype="http://schema.org/WebPageElement"
    class="admin"
    role="main"
  >

   <div site-navigation></div>

    <section
      class="command-center"
      ng-show="isAuthorized"
    >

      <header>
        <h1>Stampministry</h1>
      </header>

      <nav>
        <ul>

          <li class="stamp-figure">
            <a
              class="hint--bottom"
              ui-sref="stamp-id"
              data-hint="Create a unique record for a stamp"
            >
              <span class="fa fa-plus-square"></span> Id
            </a>
          </li>

          <li class="budget-cron">
            <a 
              class="hint--bottom"
              ng-click="buyInUsdOrBtc()"
              data-hint="Buy in BTC or USD"
            >
              <!--
                 -<span class="fa fa-usd"></span> Collect
                 -->
              <span class="fa fa-usd"></span> Refuel
            </a>
          </li>

          <li class="reset-budget">
            <a 
              class="hint--bottom"
              ng-click="resetBudgetCounter()"
              data-hint="Reset LoveStamp's budget counter"
            >
              <span class="fa fa-undo"></span> Reset
            </a>
          </li>


          <li class="budget-control">

            <form
              name="forms.budgetControl"
              class="budget-control"
            >

              <div
                class="hint--bottom field-block" 
                data-hint="balances/payoutBudget"
              >
                <md-input-container>
                  <label for="previous-total">
                    <span class="fa fa-bank"></span> Actual
                  </label>
                  <md-input
                    ng-init="loadActualTotal()"
                    readonly="readonly"
                    id="actual-total"
                    name="actual-total"
                    ng-model="forms.budgetControl.actualTotal"
                  ></md-input>
                </md-input-container>
              </div>

              <div
                class="field-block hint--bottom"
                data-hint="balances/revenue"
              >
                <md-input-container>
                  <label for="revenue-total">
                    <span class="fa fa-shopping-cart"></span> Revenue
                  </label>
                  <md-input
                    ng-init="loadRevenueTotal()"
                    readonly="readonly"
                    id="revenue-total"
                    name="revenue-total"
                    ng-model="forms.budgetControl.revenueTotal"
                  ></md-input>
                </md-input-container>
              </div>

              <div
                class="field-block hint--bottom"
                data-hint="Manually set LoveStamp's budget"
              >
                <md-input-container>
                  <label for="set-budget">
                    <span class="fa fa-asterisk"></span> Redact
                  </label>
                  <md-input
                    ng-init="getSetBudget()"
                    id="set-budget"
                    name="set-budget"
                    ng-model="forms.budgetControl.setBudget"
                  ></md-input>
                </md-input-container>
              </div>

              <div class="field-block field-submit">
                <md-button
                  ng-click="adjustBudget()"
                >
                  <span class="fa fa-pencil-square-o"></span> Set Budget
                </md-button>
              </div>

            </form>
          </li>
        </ul>
      </nav>

      <style>
        .ball-pulse > div {
          background-color: #ccc !important;
        }
        .square-spin > div {
          background: #ccc;
          border: 1px solid #ccc;
        }
        .loader-inner {
          text-align: center;
        }
      </style>
      <div ng-show="!localStamps">
        <div class="loader-inner ~ball-pulse square-spin">
          <div></div>
          <!-- .ball-pulse
             -<div></div>
             -<div></div>
             -<div></div>
             -->
        </div>
      </div>

      <ul 
        name="forms.stampository"
        deprecated--list-stroll
        class="stampository cards"
        infinite-scroll="loadMoreStamps()"
      >

        <li ng-repeat="stamp in localStamps | search:forms.stampository">

          <dl>

            <dt 
              data-hint="Merchant Stamp Alias: {{stamp.localStamp.merchantAlias || 'Unnamed'}}"
              class="id hint--top"
            >
              <a ng-href="/users/{{stamp.user.$id}}">{{stamp.user.$id}}</a>
            </dt>

            <dd 
              data-hint="SnowShoe Serial: {{stamp.localStamp.receipt.validation.stamp.serial||'Unknown'}}"
              class="alias hint--top"
            >
              <span ng-show="stamp.localStamp.receipt.validation.stamp.serial">
                <a
                  ng-href="stamps/{{stamp.user.$id}}/{{stamp.localStamp.cleanedAlias}}"
                  once-text="stamp.localStamp.alias"
                ></a>
              </span>
              <span ng-show="!stamp.localStamp.receipt.validation.stamp.serial">
                <span class="fa fa-exclamation-triangle"></span>
                <br />
                {{stamp.localStamp.alias}}
              </span>
            </dd>

            <dd 
              data-hint="Stamp Signature Score"
              class="score hint--top"
            >
              &#x0304;x<span once-text="stamp.score"></span>
            </dd>

            <dd
              data-hint="Stamp Activation Progress"
              class="activation-progress hint--top"
            >

              <ul class="field-slider field-slider--headers">
                <li>
                  <span
                    class="hint--left"
                    data-hint="Paid Invoice"
                  >
                    <span class="fa fa-check-circle-o"></span>
                  </span>
                </li>

                <li>
                  <span 
                    class="hint--left" 
                    data-hint="Product Shipped"
                  >
                    <span class="fa fa-clock-o"></span>
                  </span>
                </li>

                <li>
                  <span 
                    class="hint--left" 
                    data-hint="Stamp Activated"
                  >
                    <span class="fa fa-play-circle-o"></span>
                  </span>
                </li>

              </ul>

              <div class="inner">
                <md-slider
                  ng-model="stamp.activationProgressStatus"
                  ng-disabled="true"
                  step="1"
                  md-discrete
                  min="1"
                  max="3"
                  aria-label="Stamp Activation Progress"
                  ng-change="activationProgressSlider(stamp)"
                ></md-slider>
              </div>

            </dd>

            <dd data-hint="Assign this stamp"
              class="link hint--top"
              select-box-click-overlay
              actionable="loadUserList()"
            >
              <select
                      ng-model="handle"
                      data-placeholder="Assign to user"
                      ng-options="user.$id for user in users | filter: { $id: '!' + stamp.user.$id }"
                      ng-change="assignStamp(handle, stamp)"
              >
                <option value=""></option>
              </select>
            </dd>
          </dl>

        </li>

      </ul>

      <style>
        .select-box-click-overlay {
          height: 30px;
          position: absolute;
          background: orange;
          width: 100%;
          left: 0;
          opacity: 0;
        }
      </style>

      <div class="search-control-stamp by-owner">
        <form
          itemprop="potentialAction"
          itemscope
          itemtype="http://schema.org/SearchAction"
        >
          <md-input-container>
            <meta itemprop="target" content="{queryOwner}" />
            <label for="stampository.query-owner">
              <span class="fa fa-child"></span> Search the stampository by Owner (enter partial name)
            </label>
            <md-input
              id="stampository.query-owner"
              name="stampository.query-owner"
              class="stampository--query-owner"
              ng-model="forms.stampository.queryOwner"
              itemprop="query-input"
            ></md-input>
          </md-input-container>
        </form>
      </div>

      <div class="search-control-stamp by-alias">
        <form
          itemprop="potentialAction"
          itemscope
          itemtype="http://schema.org/SearchAction"
        >
          <md-input-container>
            <meta itemprop="target" content="{queryAlias}" />
            <label for="stampository.query-alias">
              <span class="fa fa-at"></span> Search the stampository by Alias (enter full name)
            </label>
            <md-input
              id="stampository.query-alias"
              name="stampository.query-alias"
              class="stampository--query-alias"
              ng-model="forms.stampository.queryAlias"
            ></md-input>
          </md-input-container>
        </form>
      </div>

    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>
