<!-- Would be nice to use <meter>, but restyling it to what we want
     is a large pain in the sphincter.
-->
<div class="fa fa-pointer-down"></div>
<ol>
    <li data-ng-repeat="scaleElement in scale"
        data-ng-style="{
        width:                          scaleElement.width,
        'background-color':             scaleElement.color,
        'border-top-left-radius':       scaleElement.borderRadius.topLeft,
        'border-bottom-left-radius':    scaleElement.borderRadius.bottomLeft,
        'border-top-right-radius':      scaleElement.borderRadius.topRight,
        'border-bottom-right-radius':   scaleElement.borderRadius.bottomRight
    }
"></li>
</ol>

