<!--
# fileOverview

                   _______       _
                  (_______)     | |
 ____  _____ _   _ _  _  _ _____| |  _ _____  ____
|  _ \(____ | | | | ||_|| (____ | |_/ ) ___ |/ ___)
| |_| / ___ | |_| | |   | / ___ |  _ (| ____| |
|  __/\_____|\__  |_|   |_\_____|_| \_)_____)_|
|_|         (____/

## description

A modal window implementation of Stripe's front end in AngularJS.

-->

<md-dialog
  aria-label="LoveStamp Checkout"
  ng-init="load()"
>

  <div class="md-dialog--wrapper">
    <figure class="stripe-badge">
      <img src="./assets/images/006--stripe.png" alt="" />
    </figure>

    <figure>
      <img
        src="./assets/images/logo--merchant-backend.png"
      />
    </figure>

    <figure class="verified">
      <img src="./assets/images/005--verified.png" alt="" />
    </figure>

    <form
      stripe-form="handleStripe"
      name="payment"
      class="forms--payment"
    >

      <md-content>
          <md-subheader
            ng-class="{
              'animated': true,
              'fade-in': true
            }"
            style="padding-left: 0;"
          >

            <span
              style="
                color: #111;
                display: block;
                margin-top: 2rem;
                font-size: 1.785rem;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 7px;"
            >LoveStamp Checkout</span>

            <aside
              ng-class="{
                'animated': true,
                'fade-in': true
              }"
              ng-style="{

                'padding-top': '1rem',
                'font-weight': '500',
                'color': '#111',
                'text-shadow': 'none'

              }"
            >
              Your order is for <br />
              <span style="
                font-size: 2rem
                font-weight: 600;
                box-shadow: none !important;
                text-shadow: none !important;
                line-height: 0;
                font-variant: normal;
                font-size: 2rem;
                font-weight: 400;
                padding-bottom: 2rem;
                ">{{customerItem.qty}} {{label}}</span>
            </aside>

          </md-subheader>

          <!--

                                   _ _
                                  (_) |
           _____ _____ ____  _____ _| |
          | ___ (_____)    \(____ | | |
          | ____|     | | | / ___ | | |
          |_____)     |_|_|_\_____|_|\_)

          -->

          <div class="field-row">
            <md-input-container>
              <label for="payment.email">
                <span class="fa fa-envelope-o"></span>
                {{notificationError||'E-mail'}}
              </label>
              <md-input
                ng-attr-required="paymentConstruct.showRememberMeInput === true"
                focus-me
                id="payment.email"
                name="payment.email"
                class="payment--email"
                ng-model="paymentConstruct.email"
              ></md-input>
            </md-input-container>
          </div>

          <!--

               _       _  _
              | |     | |(_)
            __| |_____| | _ _   _ _____  ____ _   _
           / _  | ___ | || | | | | ___ |/ ___) | | |
          ( (_| | ____| || |\ V /| ____| |   | |_| |
           \____|_____)\_)_| \_/ |_____)_|    \__  |
                                             (____/
                     _     _
                    | |   | |
           _____  __| | __| | ____ _____  ___  ___
          (____ |/ _  |/ _  |/ ___) ___ |/___)/___)
          / ___ ( (_| ( (_| | |   | ____|___ |___ |
          \_____|\____|\____|_|   |_____|___/(___/

          -->

          <div class="field-row">

            <div class="field-label">
              <div
                class="field-edit"
              >

                <span
                  ng-click="showSaveDelivery = true; fieldRowEditDeliveryAddress('address.shipping.content')"
                  ng-show="showSaveDelivery === false || showSaveDelivery === undefined"
                  class="field-sub-label"
                >

                  <span 
                    class=" hint--right"
                    data-hint="Click here to edit the content below"
                  >
                    <span class="fa fa-edit animated tada"></span>
                    Edit
                  </span>

                </span>

                <span
                  ng-click="showSaveDelivery = false; fieldRowEditDeliveryAddress('address.shipping.content')"
                  ng-show="showSaveDelivery === true"
                  class="field-sub-label"
                >
                  <span class="fa fa-save animated tada"></span>
                  Save
                </span>

              </div>
            </div>

            <div class="field-input">

              <md-input-container flex>

                <label for="address.shipping">
                  <span class="fa fa-home"></span>
                  Delivery Address
                </label>

                <textarea
                  columns="1"
                  id="address.shipping"
                  name="address.shipping"
                  ng-readonly="showSaveDelivery === false || showSaveDelivery === undefined"
                  ng-class="{
                    'content-editable': address.shipping.editing,
                    'content-updated': address.shipping.contentUpdated
                  }"
                  ng-model="address.shipping.content"
                ></textarea>

              </md-input-container>

            </div>

          </div>

          <!--

             _
           _| |_ _   _ ____  _____
          (_   _) | | |  _ \| ___ |
            | |_| |_| | |_| | ____|
             \__)\__  |  __/|_____)
                (____/|_|

          -->

          <div class="field-row">

            <md-radio-group
              id="payment.type"
              name="payment.type"
              class="payment--type"
              ng-required="true"
              ng-model="paymentConstruct.type"
              ng-init="paymentConstruct.type = '1';"
              name="color"
              aria-label="Card or Bitcoin"
              style="margin-bottom: 0;"
            >
              <md-radio-button
                aria-label="Choose to Pay with Credit or Debit Card"
                value="1"
              >
                Card
              </md-radio-button>
              <md-radio-button
                aria-label="Choose to Pay with Bitcoin"
                value="2"
              >
                Bitcoin
              </md-radio-button>
            </md-radio-group>

          </div>

          <!--


           _     _                 _       _______     _     _
          | |   (_)  _            (_)     (_______)   | |   | |
          | |__  _ _| |_ ____ ___  _ ____  _______  __| | __| |_   _
          |  _ \| (_   _) ___) _ \| |  _ \|  ___  |/ _  |/ _  | | | |
          | |_) ) | | |( (__| |_| | | | | | |   | ( (_| ( (_| | |_| |
          |____/|_|  \__)____)___/|_|_| |_|_|   |_|\____|\____|\__  |
                                                              (____/

          -->

          <div
            ng-show="paymentConstruct.type === '2'"
            class="field-row field-row--bitcoinAddy"
          >

            <p>To complete your payment, please send bitcoins to the address 
            below:</p>

            <md-input-container>
              <label for="payment.bitcoinAddy">
                <span class="fa fa-bitcoin"></span>
              </label>
              <md-input
                id="payment.bitcoinAddy"
                name="payment.bitcoinAddy"
                ng-model="paymentConstruct.bitcoinAddy"
                ng-readonly="true"
              ></md-input>
            </md-input-container>
          </div>

          <!--

                                _                      _
                               | |                    | |
            ____ _____  ____ __| |   ____  _   _ ____ | |__  _____  ____
           / ___|____ |/ ___) _  |  |  _ \| | | |    \|  _ \| ___ |/ ___)
          ( (___/ ___ | |  ( (_| |  | | | | |_| | | | | |_) ) ____| |
           \____)_____|_|   \____|  |_| |_|____/|_|_|_|____/|_____)_|

          -->

          <div
            class="field-set--classicAddy"
            ng-show="paymentConstruct.type === '1'"
          >

          <div
            class="field-row field-row--number"
          >
            <md-input-container>

              <label for="payment.cardNumber">
                <span class="fa fa-credit-card"></span>
                Card number
              </label>

              <md-input
                id="payment.cardNumber"
                name="payment.cardNumber"
                ng-attr-required="paymentConstruct.type === '1'"
                ng-model="number"
                payments-validate="card"
                payments-format="card"
                payments-type-model="type"
                ng-class="payment.number.$card.type"
                aria-label="Card number"
                placeholder="XXXX XXXX XXXX XXXX"
              ></md-input>

            </md-input-container>

          </div>

          <!--

                                _                      _                   _
                               | |                    (_)              _  (_)
            ____ _____  ____ __| |   _____ _   _ ____  _  ____ _____ _| |_ _  ___  ____
           / ___|____ |/ ___) _  |  | ___ ( \ / )  _ \| |/ ___|____ (_   _) |/ _ \|  _ \
          ( (___/ ___ | |  ( (_| |  | ____|) X (| |_| | | |   / ___ | | |_| | |_| | | | |
           \____)_____|_|   \____|  |_____|_/ \_)  __/|_|_|   \_____|  \__)_|\___/|_| |_|
                                                |_|

          -->

          <div
            class="field-row field-row--expiry"
          >

            <md-input-container>

              <label for="payment.cardExpiry">
                <span class="fa fa-calendar-o"></span>
                Card Expiration
              </label>

              <md-input
                id="payment.cardExpiry"
                name="payment.cardExpiry"
                class="payment--cardExpiry"
                aria-label="Card expiration month and year"
                ng-attr-required="paymentConstruct.type === '1'"
                ng-model="expiry"
                payments-validate="expiry"
                payments-format="expiry"
                placeholder="MM / YYYY"
              ></md-input>

            </md-input-container>

          </div>

          <!--

            ____ _   _ ____
           / ___) | | / ___)
          ( (___ \ V ( (___
           \____) \_/ \____)

          -->

            <div
              class="field-row field-row--security"
            >

              <md-input-container>

                <label for="payment.cardCvc">
                  <span class="fa fa-lock"></span>
                  <span title="Card security code">CVC</span>
                </label>

                <md-input
                  id="payment.cardCvc"
                  name="payment.cardCvc"
                  class="payment--cardCvc"
                  aria-label="Card security code"
                  ng-attr-required="paymentConstruct.type === '1'"
                  ng-model="cvc"
                  payments-validate="cvc"
                  payments-format="cvc"
                  payments-type-model="type"
                ></md-input>

              </md-input-container>

            </div>

          </div>

          <!--

                                         _
                                        | |
            ____ _____ ____  _____ ____ | |__  _____  ____ _____ ____  _____
           / ___) ___ |    \| ___ |    \|  _ \| ___ |/ ___|_____)    \| ___ |
          | |   | ____| | | | ____| | | | |_) ) ____| |         | | | | ____|
          |_|   |_____)_|_|_|_____)_|_|_|____/|_____)_|         |_|_|_|_____)

          -->

          <!--div class="field-row">

            <md-checkbox
              id="payment.rememberMe"
              name="payment.rememberMe"
              class="payment--remember-me"
              ng-model="showRememberMeInput"
              aria-label="Remember Me?"
            >

              Remember Me?

              <span class="sep">|</span>

              <span
                class="fa fa-info"
              ></span>

            </md-checkbox>

            <div
              ng-show="showRememberMeInput && paymentConstruct.rememberMe != true"
              class="remember-me--extra"
            >

              <md-divider></md-divider>

              <br />

              <p>For security, please enter your mobile phone number:</p>

              <md-input-container
                ng-show="! c"
              >

                <label for="payment.phoneNumber">
                  <span class="fa fa-phone"></span>
                  <span
                    ng-show="paymentConstruct.rememberMe == true"
                    class="fa fa-check"
                  ></span>
                </label>

                <md-input
                  id="payment.phoneNumber"
                  name="payment.phoneNumber"
                  class="payment--phoneNumber"
                  ng-model="paymentConstruct.phoneNumber"
                  placeholder="(555) 123-1234"
                  ng-blur="validateAuth()"
                ></md-input>

                <md-tooltip md-autohide="true">
                  We use Stripe to securely store your payment info for quick checkout on this site and others.
                </md-tooltip>

              </md-input-container>

              <md-input-container
                ng-show="c"
              >

                <label for="payment.authy">
                  <span class="fa fa-unlock"></span>
                </label>

                <md-input
                  id="payment.authy"
                  name="payment.authy"
                  class="payment--authy"
                  ng-model="paymentConstruct.authy"
                  placeholder="XXXXXX"
                  ng-blur="resolveAuth()"
                ></md-input>

              </md-input-container>

            </div>

          </div-->

          <figure
            class="address-qr-code"
            ng-if='qrBitcoinAddress'
            ng-show="paymentConstruct.type === '2'"
          >
            <qrcode
              version="10"
              error-correction-level="H" 
              size="200" 
              data="{{qrBitcoinAddressHref}}"
              download
            ></qrcode>

            <figcaption ng-show="exchangeRateBasedAmount">
              <p style="
              font-size: 2rem;
              line-height: 1;
              margin: 0;">{{exchangeRateBasedAmount}} BTC</p>
            </figcaption>

            <!--
               -<figcaption class="open-wallet" ng-if="qrBitcoinAddressHref">
               -  <a href="{{qrBitcoinAddressHref}}">Open Wallet</a>
               -</figcaption>
               -->

          </figure>

          <div class="md-actions" layout="row">
            <a
              class="cancel"
              ng-click="cancel()"
            >
              <span class="fa fa-times-circle"></span>
            </a>

            <md-button
              ng-show="paymentConstruct.type == null || paymentConstruct.type === '1'"
              ng-click="makePayment(payment)"
              class="md-primary hint--top"
              ng-disabled="paymentConstruct.type !== '1'"
              data-hint="Securely Pay ${{price}} via Stripe Now"
              aria-label="Securely Pay ${{price}} via Stripe Now"
            >

              <img
                class="secure-pay--icon"
                style="
                  max-width      : 1rem;
                  margin         : .1rem .3rem .3rem 0;
                  -webkit-filter : invert(100%);
                  -moz-filter    : invert(100%);
                  -o-filter      : invert(100%);
                  filter         : invert(100%);
                  line-height    : 0;"
                src="./assets/images/005--verified.png"
                alt="Secure Pay Now"
                longdesc="Secure Pay Now"
              /> Pay Now: ${{price}}

            </md-button>

            <!--div class="badge-container">
              <a
                class="badge"
                ng-href="https://stripe.com/"
                rel-external
                aria-label="Learn more about Stripe"
              >
                <img
                  alt="Powered by Stripe"
                  aria-label="Powered by Stripe"
                  src="/images/powered-by-stripe-big@2x.png"
                  longdesc="
                  # Stripe

                  ## Transaction Fees

                  Stripe takes a simple approach. They charge you a flat rate of 2.9% + 30¢ per 
                  successful charge as long as you're doing under $1 million in volume per year. 
                  This rate varies country to country, but it's always flat. They don't disclose 
                  any special high volume rates.

                  ## Security

                  1. Automatically PCI compliant because you don't handle any sensitive credit card  
                  data on your servers.
                  2. More secure because a breach of your servers won't result in any stolen credit  
                  card data.
                  3. You're not tempted to store credit card data on your servers, which you really  
                  shouldn't be doing unless you're a big business and want to pay for PCI  
                  compliance."
                />
              </a>
            </div-->

          </div>

          <footer>
            <nav>
              <ul>
              <li>Our <a ng-click="showTermsPage()">Terms of Service</a></li>
              <li>Stripe's <a ng-click="showPrivacyPage()">Privacy Policy</a></li>
              </ul>
            </nav>
          </footer>

      </md-content>

    </form>

  </div>

</md-dialog>
