<form role="form">
    <button class="btn dropdown-toggle">
        <span class="icon icon-sort"></span>
    </button>
    <ul class="dropdown-menu">
        <li
            data-ng-model="sortType"
            data-ng-repeat="type in sortTypes"
        >
            <a ng-click="sortThis(type)">{{type.name}}</a>
        </li>
    </ul>
</form>

