<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-show="noMap === false"
  ng-class="{
    'page--login': true,
    'page--active': true,
    'page--login__fan': true
  }"
>

  <div class="site-banner">
    <h1>
      <a ui-sref="login-auth">LoveStamp Login</a>

      <span
        class="terms"
        ng-show="is_device"
      >
        You agree to our&nbsp;<a ui-sref="fan-legal">Terms</a> by signing in.
      </span>

      <span
        class="terms"
        ng-show="!is_device"
      >
        You agree to our&nbsp;<a
            rel-external
            href="https://lovestamp.io/legal-mumbo-jumbo"
          >Terms</a> by signing in.
      </span>

    </h1>
  </div>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <div
    leaflet
    id="login"
    defaults="defaults"
    center="center"
    ng-class="{
      'animated': authData && showMap,
      'fadeIn': authData && showMap
    }"
    ng-show="map"
    height="{{mapHeight()}}"
    width="100%"
  ></div>

  <div
    loader
    ng-class="{
      'loading': authObj && authData && showMap
    }"
    ng-if="! showMap"
  >
  </div>

  <ul>

    <li
      class="auth-with-facebook"
      ng-show="provider == 'facebook' || provider == null"
    >
      <a
        class="button"
        click-monad
        ng-click="authWith('facebook')"
      >
        <span class="fa fa-facebook"></span> Sign in with Facebook
      </a>
    </li>


    <li
      class="auth-with-twitter"
      ng-show="provider == 'twitter' || provider == null"
    >
      <a
        class="button"
        click-monad
        ng-click="authWith('twitter')"
      >
        <span class="fa fa-twitter"></span>Sign in with Twitter
      </a>
    </li>


    <li
      class="auth-with-google"
      ng-show="provider == 'google' || provider == null"
    >
      <a
        class="button"
        click-monad
        ng-click="authWith('google')"
      >
        <span class="fa fa-google"></span> Sign in with Google Plus
      </a>
    </li>

  </ul>

</section>

<section class="page--no-map">

  <style>
    .no-map {
      text-align: center;
      display: none !important;
    }
    .no-map.show-this {
      display: block !important;
    }
    .no-map .fa {
      font-size: 3rem;
    }

    .no-map--inner {
      margin: 0 2vh;
      position: absolute;
      top: 50%;
      margin-top: -60%;
    }
    .guide h2,
    .guide li,
    .guide {
      font-size: .8rem;
    }
    .guide h2 {
      margin-bottom: 1rem;
    }
    .guide {
      margin-top: 3rem;
    }
  </style>

  <div
    class="no-map"
    ng-class="{
      'show-this': noMap === true
    }"
  >
    <div class="no-map--inner">

      <span class="fa fa-spin fa-location-arrow"></span>

      <h1>Ain't nobody got time for dat!</h1>
      <p>LoveStamp is map-based, enable <i>Location Services</i> or 
         it won't work!</p>

      <div class="guide">
        <h2>Learn how to enable location services:</h2>
        <ul>
          <li ng-show="is_device"><a ng-click="InAppBrowserOpen('https://support.apple.com/en-us/HT201357', '_blank')">iOS</a></li>
          <li ng-show="is_device"><a ng-click="InAppBrowserOpen('https://support.google.com/gmm/answer/1646140?hl=en', '_blank')">Android</a></li>
          <li ng-show="!is_device"><a rel-external href="https://support.apple.com/en-us/HT201357">iOS</a></li>
          <li ng-show="!is_device"><a rel-external href="https://support.google.com/gmm/answer/1646140?hl=en">Android</a></li>
        </ul>
      </div>

    </div>
  </div>

</section>
