<!doctype html>

<!--

 _                                                _
| |                        _                     (_)
| | ___ _   _ _____  ___ _| |_ _____ ____  ____   _  ___
| |/ _ \ | | | ___ |/___|_   _|____ |    \|  _ \ | |/ _ \
| | |_| \ V /| ____|___ | | |_/ ___ | | | | |_| || | |_| |
 \_)___/ \_/ |_____|___/   \__)_____|_|_|_|  __(_)_|\___/
                                          |_|

-->

<html
  class="{{ bodyClass }}"
  lang="en"
  js-enabled
>

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <!--

           _             _
          | |           (_)
        __| |_____ _   _ _  ____ _____
       / _  | ___ | | | | |/ ___) ___ |
      ( (_| | ____|\ V /| ( (___| ____|
       \____|_____) \_/ |_|\____)_____)

    -->

    <meta charset = "utf-8" />

    <meta
      http-equiv  = "X-UA-Compatible"
      content     = "IE=edge,chrome=1"
    />

    <meta
      name        = "viewport"
      content     = "width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1"
    />

    <meta
      name="mobile-web-app-capable"
      content="yes"
    />

    <link
      rel="manifest"
      href="manifest.json"
    />

    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black"
    />

    <!--

         _
        | |
      __| |____   ___
     / _  |  _ \ /___)
    ( (_| | | | |___ |
     \____|_| |_(___/

    -->

    <link
      rel  = "dns-prefetch"
      href = "//lovestamp.io"
    />

    <link
      rel  = "dns-prefetch"
      href = "//cdn.segment.io"
    />

    <link
      rel  = "dns-prefetch"
      href = "//js.stripe.com"
    />

    <link
      rel  = "dns-prefetch"
      href = "//data.gosquared.com"
    />

    <link
      rel  = "dns-prefetch"
      href = "//fonts.googleapis.com"
    />

    <link
      rel  = "dns-prefetch"
      href = "//cdnjs.cloudflare.com"
    />

    <link rel="dns-prefetch" href="//api.bitcoinaverage.com" />
    <link rel="dns-prefetch" href="//cdn.segment.com" />
    <link rel="dns-prefetch" href="//api.segment.io" />
    <link rel="dns-prefetch" href="//cdn.mixpnl.com" />
    <link rel="dns-prefetch" href="//api.mixpanel.com" />
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <link rel="dns-prefetch" href="//csi.gstatic.com" />
    <link rel="dns-prefetch" href="//maps.googleapis.com" />
    <link rel="dns-prefetch" href="//crypto-js.googlecode.com">
    <link rel="dns-prefetch" href="//cartodb-basemaps-a.global.ssl.fastly.net" />
    <link rel="dns-prefetch" href="//cartodb-basemaps-b.global.ssl.fastly.net" />
    <link rel="dns-prefetch" href="//cartodb-basemaps-c.global.ssl.fastly.net" />
    <link rel='dns-prefetch' href='//pbs.twimg.com' />
    <link rel='dns-prefetch' href="//auth.firebase.com" />
    <link rel='dns-prefetch' href="//s-dal5-nss-22.firebaseio.com" />
    <link rel="subresource" href="/assets/scripts/bootstrap.js" />
    <link rel="subresource" href="/assets/scripts/ext/angular.js" />
    <link rel='prerender' href="/merchant" />
    <link rel='prerender' href="/merchant/dashboard" />
    <link rel='prerender' href="/fan" />
    <link rel='prerender' href="/fan/user/profile" />

    <!--

     _     _
    (_)   | |             _
     _  __| |_____ ____ _| |_
    | |/ _  | ___ |  _ (_   _)
    | ( (_| | ____| | | || |_
    |_|\____|_____)_| |_| \__)

    -->

    <meta
      name="google-site-verification"
      content="MwnsynjxM4OYBR-UH4GBPaZxuzX4H_0CvdTayxcyQPs"
    />


    <!--

        ___ _____  ___
       /___) ___ |/ _ \
      |___ | ____| |_| |
      (___/|_____)\___/

    -->

    <title>
    lovestamp.io
    </title>

    <meta
      name="fragment"
      content="!"
    />

    <!--
      Eventually let users decide if they want to publish their in-game events to
      LoveStamp's innate Web-schema consistent feed. So publishing their shopping
      to SERPs.
    -->

    <meta
      name     = "googlebot"
      content  = "noindex"
    />

    <meta
      name     = "description"
      content  = "LoveStamp is a powerful engagement platform for merchants to say thanks to their fans. Activity: Say hi to our team. For double rewards, make a love sign with your hands."
    />

    <meta
      itemprop="image"
      content="./assets/images/lovestamp--logo.png"
    />

    <link
      rel   = "loader"
      sizes = "256x256"
      href  = "./assets/images/lovestamp--loader.gif"
    />

    <meta name="twitter:card" content="./assets/images/product-basis.png" />
    <meta name="twitter:site" content="@LoveStampio" />
    <meta name="twitter:title" content="LoveStamp" />
    <meta name="twitter:description" content="A LoveStamp to Say Thanks: LoveStamp is a powerful engagement platform for merchants to say thanks to their fans. Activity: Say hi to our team. For double rewards, make a love sign with your hands." />
    <meta name="twitter:creator" content="@LoveStampio" />
    <meta name="twitter:image:src" content="./assets/images/lovestamp--logo.png" />

    <meta property="og:site_name" content="LoveStamp" />
    <meta property="og:url" content="http://lovestamp.io" />
    <meta property="og:type"   content="website" />
    <meta property="og:title"  content="LoveStamp" />
    <meta property="og:image"  content="./assets/images/lovestamp--logo.png" />
    <meta property="og:description" content="A LoveStamp to Say Thanks: LoveStamp is a powerful engagement platform for merchants to say thanks to their fans. Activity: Say hi to our team. For double rewards, make a love sign with your hands." />

    <meta itemprop="name" content="LoveStamp" />
    <meta itemprop="description" content="A LoveStamp to Say Thanks: LoveStamp is a powerful engagement platform for merchants to say thanks to their fans. Activity: Say hi to our team. For double rewards, make a love sign with your hands." />
    <meta itemprop="image" content="./assets/images/lovestamp--logo.png" />

    <meta property="fb:app_id" content="363241763860876" />
    <meta property="fb:admins" content="Robertduchenne, ordine.geometrico" />

    <base href = "/" />


    <!--

       _                                  _
     _| |_ _   _ ____  _____  ___ _____ _| |_
    (_   _) | | |  _ \| ___ |/___) ___ (_   _)
      | |_| |_| | |_| | ____|___ | ____| | |_
       \__)\__  |  __/|_____|___/|_____)  \__)
          (____/|_|

    -->

    <link
      href = 'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,500italic,600italic,700italic,700,600,500,400,300&effect=3d-float|outline|3d'
      rel  = 'stylesheet'
      type = 'text/css'
    />


    <!--

                                                         _
                                         _           _  (_)
     ____   ____ _____  ___ _____ ____ _| |_ _____ _| |_ _  ___  ____
    |  _ \ / ___) ___ |/___) ___ |  _ (_   _|____ (_   _) |/ _ \|  _ \
    | |_| | |   | ____|___ | ____| | | || |_/ ___ | | |_| | |_| | | | |
    |  __/|_|   |_____|___/|_____)_| |_| \__)_____|  \__)_|\___/|_| |_|
    |_|
     _
    | |
    | | _____ _   _ _____  ____
    | |(____ | | | | ___ |/ ___)
    | |/ ___ | |_| | ____| |
     \_)_____|\__  |_____)_|
             (____/

    -->

    <!-- Inherit Overrides -->

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/normalize.css"
    />

    <!-- Boot -->

    <link
      rel  = "stylesheet"
      href = "./assets/styles/compass/stylesheets/boot.css"
    />

    <link
      rel  = "stylesheet"
      href = "https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.5.1/rickshaw.min.css"
    />

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/chosen-spinner.css"
    />

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/chosen.min.css"
    />

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/loaders.min.css"
    />

    <link
      rel  = "stylesheet"
      ns:angular = "https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.css"
      href = "./assets/scripts/ext/angular-material.min.css"
    />

    <link
      rel  = "stylesheet"
      href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <!--
       -<link
       -  rel  = "stylesheet"
       -  href = "./assets/scripts/ext/stroll.min.css"
       -/>
       -->

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/leaflet.css"
    />

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/leaflet.label.css"
    />

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/MarkerCluster.Default.css"
    />

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/mbdatepicker.css"
    />

    <link
      rel  = "stylesheet"
      href = "./assets/scripts/ext/c3.min.css"
    />

    <!--

         _       _
        | |     | |
      __| |_____| |__  _   _  ____
     / _  | ___ |  _ \| | | |/ _  |
    ( (_| | ____| |_) ) |_| ( (_| |
     \____|_____)____/|____/ \___ |
                            (_____|

    @description

      I'm using weinre (pronounced "winery") amongst other remote
      debugging tools, like Safari's Developer Mode.

    -->

    <!--<script src="//localhost:8089/target/target-script-min.js#anonymous"></script>-->

    <!--

       _
      | |
      | | _____  ____ _____  ____ _   _
      | || ___ |/ _  (____ |/ ___) | | |
      | || ____( (_| / ___ ( (___| |_| |
       \_)_____)\___ \_____|\____)\__  |
               (_____|           (____/
    -->

    <!--[if lt IE 9]>
      <script src="./assets/scripts/ext/es5-shim/es5-shim.js"></script>
      <script src="./assets/scripts/ext/json3/lib/json3.js"></script>
    <![endif]-->

    <meta
      name    = "csrf-token"
      content = "{{ authorizationChannel }}"
    />

    <!--

     _
    (_)
     _  ____ ___  ____
    | |/ ___) _ \|  _ \
    | ( (__| |_| | | | |
    |_|\____)___/|_| |_|

    -->

    <link
      rel   = "shortcut icon"
      href  = "./assets/images/FaviconLoveStamp.png"
    />

    <link
      rel   = "apple-touch-icon"
      href  = "./assets/images/1024--logo.png"
    />

    <link
      rel   = "apple-touch-icon"
      sizes = "72x72"
      href  = "./assets/resources/ios/icon72.png"
    />

    <script>
    L_DISABLE_3D = true;
    is_device = false;
    is_ios = false;
    is_android = false;
    </script>

  </head>

  <body
    ng-cloak
    product-tour-stage
    class="{{ bodyClass }}"
    itemscope
    itemtype="https://schema.org/WebPage"
    ng-class="{
      'no-map': noMap
    }"
  >

    <aside
      access-menu
      ng-class="{
        'accessibly-hide': true
      }"
      style="position: absolute; left: -9999px;"
    >

      <nav>

        <ul>
          <li><a href="#main-content">Skip to Site Content</a></li>
          <li><a href="#primary-menu">Skip to Primary Menu</a></li>
          <li><a href="#index-search">Skip to Index Search</a></li>
        </ul>

      </nav>

    </aside>

    <!--[if lt IE 7]>

      <p class="browsehappy">You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>

    <![endif]-->

    <!--

                 _               _
                (_)             (_)
     ____  _____ _ ____  _ _   _ _ _____ _ _ _
    |    \(____ | |  _ \(_) | | | | ___ | | | |
    | | | / ___ | | | | |_ \ V /| | ____| | | |
    |_|_|_\_____|_|_| |_(_) \_/ |_|_____)\___/

    ## description

    The entry point for our ng-app.

    -->

    <div
      itemscope
      itemtype="https://schema.org/WebSite"
      ng-class="{
        'body-class'     : userLanded,
        'orbital-loader' : loader
      }"
    >

      <meta
        itemprop="url"
        content="//lovestamp.io"
      />

      <!--

       _                     _             _     _ _
      | |                   | |           (_)   (_|_)
      | |__  _____ _____  __| |_____  ____ _     _ _ _____ _ _ _
      |  _ \| ___ (____ |/ _  | ___ |/ ___) |   | | | ___ | | | |
      | | | | ____/ ___ ( (_| | ____| |    \ \ / /| | ____| | | |
      |_| |_|_____)_____|\____|_____)_|     \___/ |_|_____)\___/

      -->

      <div
        ng-cloak
        id="primary-menu"
        class="header-view"
        ng-show="loadingStoreOrDashboard"
        ui-view="headerView"
      ></div>

      <!--

                                              _     _ _
                         _                _  (_)   (_|_)
        ____ ___  ____ _| |_ _____ ____ _| |_ _     _ _ _____ _ _ _
       / ___) _ \|  _ (_   _) ___ |  _ (_   _) |   | | | ___ | | | |
      ( (__| |_| | | | || |_| ____| | | || |_ \ \ / /| | ____| | | |
       \____)___/|_| |_| \__)_____)_| |_| \__) \___/ |_|_____)\___/

      -->

      <div
        ng-cloak
        id="main-content"
        class="content-view"
        ng-show="loadingStoreOrDashboard"
        ui-view="contentView"
      ></div>

    </div>

    <!--

     _                 _
    | |               | |
    | | ___  _____  __| |_____  ____
    | |/ _ \(____ |/ _  | ___ |/ ___)
    | | |_| / ___ ( (_| | ____| |
     \_)___/\_____|\____|_____)_|

    -->

    <div 
      ng-class="{
        'animated': !map,
        'fade-in': !map,
        'basic-loader': !map
      }"
      ng-show="!map"
      class="default--loader"
    >
      <span class="lovestamp--loader"></span>
    </div>

    <style>
    body.base-template.show--product-tour .map--loader {
      visibility: hidden !important;
    }
    body.body.product-tour--closed .page-anchor {
      visibility: hidden  !important;
    }
    body.product-tour--closed .page-anchor {
      visibility: hidden  !important;
    }
    body.product-tour--closed .basic-loader,
    body.base-template.show--product-tour .basic-loader,
    body.base-template.stamp .basic-loader,
    body.base-template.user--profile .basic-loader,
    body.base-template.index .basic-loader {
      visibility: hidden  !important;
    }
    .page--index .leaflet-container {
      z-index: 100 !important;
    }
    </style>

    <!--

     _           _                 _
    | |         | |               (_)
    | |__  _____| |__  _____ _   _ _  ___   ____
    |  _ \| ___ |  _ \(____ | | | | |/ _ \ / ___)
    | |_) ) ____| | | / ___ |\ V /| | |_| | |
    |____/|_____)_| |_\_____| \_/ |_|\___/|_|

    -->

    <script
      data-main="./assets/scripts/loaders/base.js"
      src="./assets/scripts/ext/require.js"
    ></script>

    <!--

                      _
            _        (_)
      ___ _| |_  ____ _ ____  _____
     /___|_   _)/ ___) |  _ \| ___ |
    |___ | | |_| |   | | |_| | ____|
    (___/   \__)_|   |_|  __/|_____)
                       |_|

    -->

    <script
      type="text/javascript"
      async
      onload="stripeInit()"
      src="https://js.stripe.com/v2/"
    ></script>

    <script>

    var stripeInit = function () {
      if (Stripe) {
        //Stripe.setPublishableKey('pk_test_IngHIKiNxnpwobugse6bqqOP');
        Stripe.setPublishableKey('pk_live_D6VVTjIEY5uJ1ca3CRoB6V6L');
      }
    };

    </script>

    <!--

                       _             _
                      | |        _  (_)
     _____ ____  _____| |_   _ _| |_ _  ____  ___
    (____ |  _ \(____ | | | | (_   _) |/ ___)/___)
    / ___ | | | / ___ | | |_| | | |_| ( (___|___ |
    \_____|_| |_\_____|\_)__  |  \__)_|\____|___/
                        (____/

    -->

    <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
    analytics.load("cJiFyp43L2X24CVgvjaBpd8VQ55jpMRY");
    analytics.page()
    }}();
    </script>

    <!-- @exclude -->
    <script src="http://localhost:35731/livereload.js?snipver=1"></script>
    <!-- @endexclude -->

  </body>

</html>
