<!--*
@fileOverview

 _
| |
| |__  _____  ___ _____
|  _ \(____ |/___) ___ |
| |_) ) ___ |___ | ____|
|____/\_____(___/|_____)

@module www/controllers/admin/partials
@description

  A basic set of interaction elements for administrators to work with, 
  manipulate, and build a stampository.

-->

<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--payments': true,
    'page--active': true
  }"
  ng-init="_loadPaymentsList()"
>

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement"
    class="site-header"
  >
    <h1>
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>
  </header>

  <div
    itemscope
    itemtype="http://schema.org/WebPageElement"
    class="admin"
    role="main"
  >

   <div site-navigation></div>

    <section
      class="command-center command-center--payments"
    >

      <header>
        <h1>Payments</h1>
      </header>

      <aside
        style="text-align: center; margin: 0 5vh 0; margin-bottom: 3vh;"
      >
        <p style="font-size: 16px;">Below is a record of all your payments made on LoveStamp, a product of Monarchy LLC.</p>
        <!--<p style="font-size: 16px;"><small style="font-size: .9rem;">If you have any queries about this, <a href="mailto:support@lovestamp.io" style="text-decoration: underline;">contact us</a>.</small></p>-->
      </aside>

      <aside ng-show="paymentsList.length === 0" style="text-align: center;">
        <p>You do not have a purchase history.</p>
      </aside>

      <ul class="list--adaptive" ng-show="paymentsList !== 0">
        <li
          class="hint--top"
          ng-repeat="type in paymentsList"
          data-hint="Purchase summary"
        >
          <table class="table--adaptive alt">

            <tfoot
              id="{{type.$id}}"
              once-class="{
                'active': type.$id === hashedType
              }"
            >
              <tr>
                <td colspan="4">
                  <em><a href="merchant/payments{{type.$id}}">

                    <span
                      style="text-transform: capitalize;"
                      once-text="type.$id"
                    ></span> purchased

                  </a></em>.
                </td>
              </tr>
            </tfoot>

            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Paid</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr
                once-class="{
                  'stamps': (payment.description.indexOf('stamps') !== -1),
                  'impressions': (payment.description.indexOf('stamps') === -1)
                }"
                ng-repeat="payment in type.payments"
              >
                <td data-label="{{payment.created_label}}">{{payment.created}}</td>
                <td data-label="{{payment.short_description}}">
                  <a once-href="(payment.url_prefix + payment.tail_description)">
                    {{payment.short_description}}, {{payment._social_prefix}}{{payment.tail_description}}
                  </a>
                </td>
                <td
                  data-label="{{payment.amount}}"
                >
                  <span once-show="payment.currency == 'usd'">$</span>
                  <span
                    once-text="(payment.amount + payment.currency.toUpperCase())"
                  >
                  </span>
                </td>

                <td
                  ng-init="shippingLabel = (payment.shipped === true) ? 'Shipped' : 'Preparing to Ship'"
                  data-label="{{shippingLabel}}"
                >

                  <span
                    data-label="Preparing to Ship"
                    data-hint="Preparing to Ship"
                    class="hint--top"
                    once-show="(payment.description.indexOf('stamps') !== -1) && payment.shipped !== true"
                  >
                    <span class="fa fa-clock-o"></span>
                  </span>

                  <span
                    data-label="Shipped"
                    data-hint="Shipped"
                    class="hint--top"
                    once-show="(payment.description.indexOf('stamps') !== -1) && payment.shipped === true"
                  >
                    <span class="fa fa-envelope-square"></span>
                  </span>

                  <span
                    data-label="Shipped"
                    data-hint="Shipped"
                    class="hint--top"
                    once-show="(payment.description.indexOf('stamps') === -1)"
                  >
                    <span style="font-size: 1rem;" class="fa fa-tachometer"></span>
                  </span>
                </td>

              </tr>
            </tbody>
          </table>
        </li>
      </ul>

    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>
