<!--*
@fileOverview

 _
| |
| |__  _____  ___ _____
|  _ \(____ |/___) ___ |
| |_) ) ___ |___ | ____|
|____/\_____(___/|_____)

@module www/controllers/admin/partials
@description

  A basic set of interaction elements for administrators to work with, 
  manipulate, and build a stampository.

-->

<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--payments': true,
    'page--active': true
  }"
  ng-init="loadPaymentsList()"
>

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement"
    class="site-header"
  >
    <h1>
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>
  </header>

  <div
    itemscope
    itemtype="http://schema.org/WebPageElement"
    class="admin"
    role="main"
  >

   <div site-navigation></div>

    <section
      class="command-center command-center--payments"
    >

      <header>
        <h1>Payments</h1>
      </header>

      <aside
        style="text-align: center; margin: 0 5vh 0; margin-bottom: 3vh;"
      >
        <p style="font-size: 16px;">Below is a record of all your payments made on LoveStamp, a product of Monarchy LLC.</p>
        <!--<p style="font-size: 16px;"><small style="font-size: .9rem;">If you have any queries about this, <a href="mailto:support@lovestamp.io" style="text-decoration: underline;">contact us</a>.</small></p>-->
      </aside>

      <aside ng-show="!paymentsList" style="text-align: center;">
        <p>You do not have a purchase history.</p>
      </aside>

      <table class="table--adaptive base animated fade-in"
        ng-if="paymentsList.length !== 0">

        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Paid</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>

          <!--

                                                _        
           ____  _____ _   _ ____  _____ ____ _| |_  ___ 
          |  _ \(____ | | | |    \| ___ |  _ (_   _)/___)
          | |_| / ___ | |_| | | | | ____| | | || |_|___ |
          |  __/\_____|\__  |_|_|_|_____)_| |_| \__|___/ 
          |_|         (____/                             

          -->

          <tr
            ns:os="https://schema.org/Order"
            itemscope
            itemtype="https://schema.org/Order"
            ng-repeat="payment in paymentsList"
            ng-class="{
                'stamps'      : (payment.description.indexOf('stamps') !== -1),
                'impressions' : (payment.description.indexOf('stamps') === -1)
            }"
          >

            <td
              data-label="{{payment.created_label}}"
              ng-bind="payment.created"
            ></td>

            <td data-label="{{payment.short_description}}">
              <a ng-href="(payment.url_prefix + payment.tail_description)">{{payment.short_description}}, {{payment._social_prefix}}{{payment.tail_description}}</a>
            </td>

            <td data-label="{{payment.amount}}">
              <span ng-show="payment.currency == 'usd'">$</span>
              {{payment.amount}}
              {{payment.currency.toUpperCase()}}
            </td>

            <td
              ng-init="shippingLabel = (payment.shipped === true || payment.description.indexOf('stamps') === -1) ? 'Shipped' : 'Preparing to Ship'"
              data-label="{{shippingLabel}}"
            >

              <md-checkbox
                ng-model="payment.shipped"
                class="data--hint"
                data-hint="{{payment._status.title}}"
                aria-label="{{payment._status.title}}"
                ng-disabled="!isAuthorized"
                ng-show="isAuthorized && payment._status.hidden === false && (payment.description.indexOf('stamps') !== -1)"
                ng-click="setStatus(payment)"
              >
              </md-checkbox>

              <span
                ng-show="isAuthorized && payment._status.hidden === false && (payment.description.indexOf('stamps') === -1)"
                data-hint="Shipped"
                style="display: block; width: 100%;"
              >
                <span 
                  class="fa fa-tachometer" 
                  style="font-size: 1rem; left: -6px; position: relative;"
                ></span>
              </span>

              <span
                data-hint="Preparing to Ship"
                class="hint--top"
                ng-show="(payment.description.indexOf('stamps') !== -1) && !isAuthorized && !payment.shipped"
              >
                <span class="fa fa-clock-o"></span>
              </span>

              <span
                data-hint="Shipped"
                class="hint--top"
                ng-show="(payment.description.indexOf('stamps') !== -1) && !isAuthorized && payment.shipped"
              >
                <span class="fa fa-envelope-square"></span>
              </span>

              <span
                data-label="Shipped"
                data-hint="Shipped"
                class="hint--top"
                ng-show="(payment.description.indexOf('stamps') === -1) && !isAuthorized"
              >
                <span 
                  class="fa fa-tachometer" 
                  style="font-size: 1rem; left: -6px; position: relative;"
                ></span>
              </span>

            </td>
          </tr>
        </tbody>
      </table>
    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>
