<section
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active': true,
    'page--not-found': true
  }"
>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
    <h1>Oops!</h1>
  </header>

  <article
    itemscope
    itemtype="http://schema.org/WebPageElement"
  >
    <p>We couldn't find what you were looking for !</p>
  </article>

  <footer
    itemscope
    itemtype="http://schema.org/WebPageElement" 
  >
    <a
      ui-sref="home"
      class="md-primary btn--home">
      Back to Home
    </a>
  </footer>

</section>

