<!--
@fileOverview

 ____  _____  ____ _____
|  _ \(____ |/ _  | ___ |
| |_| / ___ ( (_| | ____|
|  __/\_____|\___ |_____)
|_|         (_____|

@module www/controllers/social
@description

  

-->

<section 
  itemscope
  itemtype="https://schema.org/WebPage"
  ng-class="{
    'page--information': true,
    'page--active': true
  }"
  ng-init="load()"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header 
    itemscope
    itemtype="https://schema.org/WebPageElement" 
    class="site-header"
  >
    <h1>
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>
  </header>

  <div 
    itemscope
    itemtype="https://schema.org/WebPageElement" 
    class="" 
    role="main"
  >

    <div site-navigation></div>

    <!--

                      _       _
                     (_)     | |
      ___  ___   ____ _ _____| |
     /___)/ _ \ / ___) (____ | |
    |___ | |_| ( (___| / ___ | |
    (___/ \___/ \____)_\_____|\_)

    -->

    <section
      class="social--control"
    >

      <header>
        <h1>{{pageSectionTitle}}</h1>
      </header>

      <section
        class="social--control__connect"
        ng-init="loadSocialMediaProfiles()"
      >

        <div class="intro">
          <p>
          We recommend that you connect the following social media accounts 
          to publish your engagement history with your fans to those sites.
          </p>
        </div>

        <ul class="social-network--profile">

          <li>
            <span 
              class="enabled--badge--facebook" 
              ng-show="enabledSocialProfile.facebook !== undefined || isCurrentSocial === 'facebook'"
            ></span>
            <md-button
              aria-label="Connect your Facebook profile"
              ng-class="{
                'md-primary' : true,
                'inactive'   : enabledSocialProfile.facebook !== true,
                'enabled'    : enabledSocialProfile.facebook !== undefined || isCurrentSocial === 'facebook',
                'animated'   : facebookHover,
                'pulse'      : facebookHover
              }"
              ng-mouseenter="facebookHover = true"
              ng-mouseleave="facebookHover = false"
              ng-click="!(enabledSocialProfile.facebook !== undefined || isCurrentSocial === 'facebook') && connectProfile('facebook')"
            >
              <span class="fa fa-facebook"></span>
            </md-button>
          </li>

          <li>
            <span 
              class="enabled--badge--google" 
              ng-show="enabledSocialProfile.google !== undefined || isCurrentSocial === 'google'"
            ></span>
            <md-button
              aria-label="Connect your Google+ profile"
              ng-class="{
                'md-primary' : true,
                'inactive'   : enabledSocialProfile.google !== true,
                'enabled'    : enabledSocialProfile.google !== undefined || isCurrentSocial === 'google',
                'animated'   : googleHover,
                'pulse'      : googleHover
              }"
              ng-mouseenter="googleHover = true"
              ng-mouseleave="googleHover = false"
              ng-click="!(enabledSocialProfile.google !== undefined || isCurrentSocial === 'google') && connectProfile('google')"
            >
              <span class="fa fa-google-plus"></span>
            </md-button>
          </li>

          <li>
            <span 
              class="enabled--badge--twitter" 
              ng-show="enabledSocialProfile.twitter !== undefined || isCurrentSocial === 'twitter'"
            ></span>
            <md-button 
              aria-label="Connect your Twitter profile"
              ng-class="{
                'md-primary' : true,
                'inactive'   : enabledSocialProfile.twitter !== true,
                'enabled'    : enabledSocialProfile.twitter !== undefined || isCurrentSocial === 'twitter',
                'animated'   : twitterHover,
                'pulse'      : twitterHover
              }"
              ng-mouseenter="twitterHover = true"
              ng-mouseleave="twitterHover = false"
              ng-click="!(enabledSocialProfile.twitter !== undefined || isCurrentSocial === 'twitter') && connectProfile('twitter')"
            >
              <span class="fa fa-twitter"></span>
            </md-button>
          </li>

        </ul>

      </section>

      <section class="social--control__profile">
        <form name="name.forms.profileForm">
          <div class="field-row">

            <div class="field-input"><md-input-container>
              <label>
                <span class="fa fa-quote-left"></span>
                <span class="shimmy-label">Merchant Name &bullet; <em>(Public)</em></span>
              </label>
              <input
                md-maxlength="30"
                required
                name="profile.merchantPublicName"
                aria-label="Merchant's street name or grapevine name"
                ng-model="profile.merchantPublicName"
              />
              <div ng-messages="profile.merchantPublicName.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The merchant's public name has to be less than 30 characters long.</div>
              </div>
            </md-input-container></div>

            <div class="field-input"><md-input-container>
              <label>
                <span class="fa fa-smile-o"></span>
                <span class="shimmy-label">Contact Person</span>
              </label>
              <input
                md-maxlength="70"
                required
                name="profile.contactPerson"
                aria-label="Número uno"
                ng-model="profile.contactPerson"
              />
              <div ng-messages="profile.contactPerson.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The contact person's name has to be less than 50 characters long.</div>
              </div>
            </md-input-container></div>

          </div>

          <div class="field-row">

            <div class="field-input"><md-input-container>
              <label>
                <span class="fa fa-mail-forward"></span>
                <span class="shimmy-label">E-mail</span>
              </label>
              <input
                md-maxlength="100"
                required
                name="profile.email"
                ng-model="profile.email"
                aria-label="Drop us a line !"
              />
              <div ng-messages="profile.email.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The email has to be less than 100 characters long.</div>
              </div>
            </md-input-container></div>

            <div class="field-input"><md-input-container>
              <label>
                <span class="fa fa-phone"></span>
                <span class="shimmy-label">Telephone</span>
              </label>
              <input
                md-maxlength="15"
                md-minlength="10"
                required
                name="profile.primaryTelephone"
                ng-model="profile.primaryTelephone"
                aria-label="Mobile number?"
              />
              <div ng-messages="profile.primaryTelephone.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The primary telephone has to be less than 15 characters long.</div>
              </div>
            </md-input-container></div>

            <div class="field-input"><md-input-container>
              <label>
                <span class="fa fa-link"></span>
                <span class="shimmy-label">Website &bullet; <em>(Public)</em></span>
              </label>
              <input
                md-maxlength="50"
                required
                name="description"
                ng-model="profile.primaryWebsite"
              />
              <div ng-messages="profile.primaryWebsite.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The primary website has to be less than 100 characters long.</div>
              </div>
            </md-input-container></div>

          </div>
        </form>
      </section>

      <section class="social--control__details">

        <form
          name="forms.billingAddressForm"
        >
          <div class="field-row">
            <div class="field-label">
              <div
                class="field-edit"
              >

                <span 
                  ng-click="showSaveBilling = true; fieldRowEditBillingAddress('address.billing.content')"
                  ng-show="showSaveBilling === false || showSaveBilling === undefined"
                  class="field-sub-label"
                >
                  <span
                    class="hint--top hint--pull-4"
                    data-hint="Click here to edit the content below"
                  >
                    <span class="fa fa-edit animated tada"></span>
                    Edit
                  </span>
                </span>

                <span
                  ng-click="showSaveBilling = false; fieldRowEditBillingAddress('address.billing.content')"
                  ng-show="showSaveBilling === true"
                  class="field-sub-label"
                >
                  <span class="fa fa-save animated tada"></span>
                  Save
                </span>

              </div>
            </div>

            <div class="field-input">

              <md-input-container flex>

                <label for="address.billing">Billing Address</label>

                <textarea
                  id="address.billing"
                  name="address.billing"
                  ng-readonly="showSaveBilling === false || showSaveBilling === undefined"
                  md-maxlength="95"
                  ng-class="{
                    'content-editable': address.billing.editing,
                    'content-updated': address.billing.contentUpdated
                  }"
                  ng-model="address.billing.content"
                ></textarea>

              </md-input-container>

            </div>
          </div>
        </form>

        <form
          name="forms.shippingAddressForm"
        >
          <div class="field-row">
            <div class="field-label">
              <div
                class="field-edit"
              >

                <span 
                  ng-show="showSaveShipping === false || showSaveShipping === undefined"
                  ng-click="showSaveShipping = true; fieldRowEditShippingAddress('address.shipping.content')"
                  class="field-sub-label"
                >
                  <span
                    class="hint--top hint--pull-4"
                    data-hint="Click here to edit the content below"
                  >
                    <span class="fa fa-edit animated tada"></span>
                    Edit
                  </span>
                </span>

                <span 
                  ng-click="showSaveShipping = false; fieldRowEditShippingAddress('address.shipping.content')"
                  ng-show="showSaveShipping === true"
                  class="field-sub-label"
                >
                  <span class="fa fa-save animated tada"></span>
                  Save
                </span>

              </div>
            </div>
            <div class="field-input">

              <md-input-container flex>

                <label for="address.shipping">Shipping Address</label>

                <textarea
                  id="address.shipping"
                  name="address.shipping"
                  ng-readonly="showSaveShipping === false || showSaveShipping === undefined"
                  md-maxlength="95"
                  ng-class="{
                    'content-editable': address.shipping.editing,
                    'content-updated': address.shipping.contentUpdated
                  }"
                  ng-model="address.shipping.content"
                ></textarea>

              </md-input-container>

            </div>
          </div>
        </form>

        <form
          name="forms.bioForm"
        >
          <div class="field-row">
            <div class="field-label">
              <div
                class="field-edit"
              >

                <span
                  ng-show="showSave === false || showSave === undefined"
                  ng-click="showSave = true; fieldRowEditBio('user.bio.content')"
                  class="field-sub-label"
                >
                  <span
                    class="hint--top hint--pull-4"
                    data-hint="Click here to edit the content below"
                  >
                    <span class="fa fa-edit animated tada"></span>
                    Edit
                  </span>
                </span>

                <span
                  ng-click="showSave = false; fieldRowEditBio('user.bio.content')"
                  ng-show="showSave === true"
                  class="field-sub-label"
                >
                  <span class="fa fa-save animated tada"></span>
                  Save
                </span>

              </div>
            </div>

            <div class="field-input">

              <md-input-container flex>

                <label for="user.bio">Bio &bullet; <span class="emphasis">(Public)</span></label>

                <textarea 
                  id="user.bio"
                  name="user.bio"
                  ng-readonly="showSave === false"
                  md-maxlength="140"
                  ng-class="{
                    'content-editable': user.bio.editing,
                    'content-updated': user.bio.contentUpdated
                  }"
                  ng-model="user.bio.content"
                ></textarea>

              </md-input-container>

            </div>
          </div>

        </form>

      </section>

    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>

