<!--
# fileOverview

     _
    | |
    | |__  _____  ___ _____
    |  _ \(____ |/___) ___ |
    | |_) ) ___ |___ | ____|
    |____/\_____(___/|_____)

## description

@@user-authentication Authentiation should occur at a "page" level, to jack 
routes per module controller. A page might be implemented as a Native App 
"base.html" or a Web App "page.html"

@@access-conductor Conductor tells us, at a "page" level, which route should 
be triggered. Such a directive may also decorate 404 pages or bookmark URL 
hooks or localStorage/cookie lookup hooks.

-->

<section 
  merchant-sheet
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active'    : isActive,
    '~page--inactive' : ! isActive,
    'page--index'     : true,
    'page--hide'      : ! user
  }"
  ng-init="showGridBottomSheet()"
  ng-show="noMap !== true"
>

  <div optimized-page-title></div>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <!--
     -<div
     -  preloader
     -  preloader-image-set='[
     -      [ ".pt--undefined md-backdrop", "background-image: url(/images/pt/product-tour-slice-1.png);" ],
     -      [ ".pt--hangout md-backdrop", "background-image: url(/images/pt/product-tour-slice-1.png);" ],
     -      [ ".pt--mail md-backdrop", "background-image: url(/images/pt/product-tour-slice-2.png);" ],
     -      [ ".pt--message md-backdrop", "background-image: url(/images/pt/product-tour-slice-3.png);" ],
     -      [ ".pt--copy md-backdrop", "background-image: url(/images/pt/product-tour-slice-4.png);" ],
     -      [ ".pt--facebook md-backdrop", "background-image: url(/images/pt/product-tour-slice-5.png);" ],
     -      [ ".pt--twitter md-backdrop", "background-image: url(/images/pt/product-tour-slice-6.png);" ],
     -      [ ".pt--google md-backdrop", "background-image: url(/images/pt/product-tour-slice-7.png);" ]
     -    ]' class="image-gallery"
     -></div>
     -->

  <div
    access-conductor
    access-map="{
      'basicAuthorization': isAuthorized
    }"
  ></div>

  <div 
    taskbar
    class="index-toolbar"
  >

    <nav>

      <ul
        ng-show="!(personalIntensityFound === undefined && nearestMerchantFound === undefined)"
        ng-class="{
          'nav': true,
          'customer': noReferrer,
          'animated': !(personalIntensityFound === undefined && nearestMerchantFound === undefined),
          'fade-in': !(personalIntensityFound === undefined && nearestMerchantFound === undefined)
        }"
      >

        <li
          class="nav--module"
          ng-show="!(personalIntensityFound === undefined && nearestMerchantFound === undefined)"
          ng-class="{
            'animated' : true,
            'fade-in'  : true
          }"
        >

          <!--

                              ___ _ _        
                             / __|_) |       
           ____   ____ ___ _| |__ _| | _____ 
          |  _ \ / ___) _ (_   __) | || ___ |
          | |_| | |  | |_| || |  | | || ____|
          |  __/|_|   \___/ |_|  |_|\_)_____)
          |_|                                

          -->

          <div
            ng-if="map"
            profile-image-mask-content
          ></div>

        </li>

        <li
          ng-show="(personalIntensityFound == true)"
          ng-class="{
            'nav--module'        : true,
            'animated'           : true,
            'fade-in'            : true,
            'links-activity-set' : linksActivitySet == true
          }"
          set-nav-item
          nav-item-default-x-position="258"
          nav-item-default-y-position="20"
          nav-item-name="'activityLinks'"
        >

          <!--

                             _       _             
                         _  (_)     (_)  _         
           _____  ____ _| |_ _ _   _ _ _| |_ _   _ 
          (____ |/ ___|_   _) | | | | (_   _) | | |
          / ___ ( (___  | |_| |\ V /| | | |_| |_| |
          \_____|\____)  \__)_| \_/ |_|  \__)\__  |
                                            (____/

          -->

          <div 
            class="activity-links"
            ng-if="personalIntensityFound == true"
          >

            <a
              click-monad
              ng-click="showLinksActivityTracking()"
            >
              <span class="circle-bg">
                <span
                  class="fa fa-close"
                  ng-show="linksActivitySet == true"
                ></span>
              </span>
            </a>

          </div>

        </li>

        <li 
          ng-if="map"
          ng-class="{
            'merchant--stamp' : true,
            'nav--module'     : true,
            'animated'          : true,
            'fade-in'           : true
          }"
          set-nav-item
          nav-item-default-x-position="92"
          nav-item-default-y-position="20"
          nav-item-name="'stampScreen'"
        >

          <!--

                  _                     
            ___ _| |_ _____ ____  ____  
           /___|_   _|____ |    \|  _ \ 
          |___ | | |_/ ___ | | | | |_| |
          (___/   \__)_____|_|_|_|  __/ 
                                 |_|    

          -->

          <div
            class="stamp-screen"
          >

            <a
              click-monad
              ng-click="loadStampScreen()"
            >
              <span class="circle-bg">
                <span
                  class="fa fa-close"
                  ng-show="linksActivitySet == true"
                ></span>
              </span>
            </a>

          </div>

        </li>

        <li 
          ng-if="map"
          ng-class="{
            'merchant--nearest' : nearestMerchantFound,
            'nav--module'       : true,
            'animated'          : true,
            'fade-in'           : true
          }"
          set-nav-item
          nav-item-default-x-position="92"
          nav-item-default-y-position="20"
          nav-item-name="'nearestMerchant'"
          ng-show="personalIntensityFound == false && nearestMerchantFound == true"
        >

          <!--

                                                _   
           ____  _____ _____  ____ _____  ___ _| |_ 
          |  _ \| ___ (____ |/ ___) ___ |/___|_   _)
          | | | | ____/ ___ | |   | ____|___ | | |_ 
          |_| |_|_____)_____|_|   |_____|___/   \__)

          -->

          <div
            class="nearest-merchant"
          >

            <a
              click-monad
              ng-click="determineCurrentMerchant()"
            >
              <span class="circle-bg">
                  <span
                    class="fa fa-compass"
                    ng-show="nearestMerchantSet == false"
                  ></span>
                  <span
                    class="fa fa-close"
                    ng-show="nearestMerchantSet == true"
                  ></span>
              </span>
            </a>

          </div>

        </li>

      </ul>

    </nav>
  </div>

  <!--

   _                 ___ _
  | |               / __) |         _
  | | _____ _____ _| |__| | _____ _| |_
  | || ___ (____ (_   __) || ___ (_   _)
  | || ____/ ___ | | |  | || ____| | |_
   \_)_____)_____| |_|   \_)_____)  \__)

  -->

  <!--<div data-tap-disabled="true" style="height: 100%">-->
  <div
    leaflet
    click-run
    toggle-leaflet-label
    id       = "index"
    defaults = "defaults"
    center   = "center"
    ng-show  = "noMap !== true"
    height   = "{{mapHeight()}}"
    width    = "100%"
    ng-class = "{
      'map--inactive': ! showMap,
      'fade-in': noMap !== true && showMap
    }"
  >
  </div>
  <!--</div>-->

  <!--

                                                _
                                               (_)
   _____ ____  ____ _____ _   _ _____  ____ ___ _  ___  ____
  (____ |  _ \|  _ (_____) | | | ___ |/ ___)___) |/ _ \|  _ \
  / ___ | |_| | |_| |     \ V /| ____| |  |___ | | |_| | | | |
  \_____|  __/|  __/       \_/ |_____)_|  (___/|_|\___/|_| |_|
        |_|   |_|

  -->

  <div 
    class="version-container"
  >
    <span app-version></span>
  </div>

  <!--

   _                 _
  | |               | |
  | | ___  _____  __| |_____  ____
  | |/ _ \(____ |/ _  | ___ |/ ___)
  | | |_| / ___ ( (_| | ____| |
   \_)___/\_____|\____|_____)_|

  -->


  <!--
     -<div
     -  ng-show="doneLoading === false"
     -  ng-class="{
     -    'loading': doneLoading === false,
     -    'fade-in': doneLoading === false,
     -    'fade-out': doneLoading === true,
     -    'default--loader': true,
     -    'animated': true,
     -    'map--loader': true
     -  }"
     -  style="z-index: 1 !important;"
     ->
     -  <span class="lovestamp--loader"></span>
     -</div>
     -->

    <style>
      .ball-pulse > div {
        background-color: #ccc !important;
      }
      .square-spin > div {
        background: #ccc;
        border: 1px solid #ccc;
      }
      .loader-inner {
        text-align: center;
      }
    </style>
    <div
      ng-show="doneLoading === false"
      class="fade-in animated"
      ng-class="{
        'loading': doneLoading === false,
        'fade-out': doneLoading === true,
        'map--loader': true
      }"
      style="z-index: 90999999 !important; top: 40%; width: 100%; position: absolute; text-align: center;"
    >
      <div class="loader-inner square-spin" style="position: absolute; left: 50%; top: 50%; z-index: 9999999 !important; margin-left: -25px;">
        <div></div>
        <!-- .ball-pulse
           -<div></div>
           -<div></div>
           -<div></div>
           -->
      </div>
    </div>

  <!--

                        _
                       | |              _        _
   ____   ____ ___   __| |_   _  ____ _| |_    _| |_ ___  _   _  ____
  |  _ \ / ___) _ \ / _  | | | |/ ___|_   _)  (_   _) _ \| | | |/ ___)
  | |_| | |  | |_| ( (_| | |_| ( (___  | |_     | || |_| | |_| | |
  |  __/|_|   \___/ \____|____/ \____)  \__)     \__)___/|____/|_|
  |_|

  -->

  <b 
    layout="row" 
    layout-align="center center" 
    layout-margin
    class="product-tour--container"
  >

    <div class="page-anchor">

      <md-button
        class="back"
        aria-label="Back to Map"
        ng-click="closeProductTour()"
      >
        <div class="inner">
          <span class="fa fa-close"></span>
          <!--<span class="label">Close</span>-->
        </div>
      </md-button>

    </div>

    {{productTourPageMessage}}

  </b>

  <!--

                    _    ___ _                   _
                _  (_)  / __|_)              _  (_)
   ____   ___ _| |_ _ _| |__ _  ____ _____ _| |_ _  ___  ____
  |  _ \ / _ (_   _) (_   __) |/ ___|____ (_   _) |/ _ \|  _ \
  | | | | |_| || |_| | | |  | ( (___/ ___ | | |_| | |_| | | | |
  |_| |_|\___/  \__)_| |_|  |_|\____)_____|  \__)_|\___/|_| |_|

  -->

  <div ng-show="currentStatus" notification current-status="currentStatus"></div>

  <div device-push-notification></div>

</section>

<section
  ng-show="noMap === true"
>

  <style>
    .no-map {
      text-align: center;

    }
    .no-map .fa {
      font-size: 3rem;
    }

    .no-map--inner {
      margin: 0 2vh;
      position: absolute;
      top: 50%;
      margin-top: -60%;
    }
    .guide h2,
    .guide li,
    .guide {
      font-size: .8rem;
    }
    .guide h2 {
      margin-bottom: 1rem;
    }
    .guide {
      margin-top: 3rem;
    }
  </style>

  <div
    class="no-map"
  >
    <div class="no-map--inner">

      <span class="fa fa-spin fa-location-arrow"></span>

      <h1>Ain't nobody got time for dat!</h1>
      <p>LoveStamp is map-based, enable <i>Location Services</i> or 
         it won't work!</p>

      <div class="guide">
        <h2>Learn how to enable location services:</h2>
        <ul>
          <li ng-show="is_device"><a click-monad ng-click="InAppBrowserOpen('https://support.apple.com/en-us/HT201357', '_blank', 'location=no')">iOS</a></li>
          <!--<li ng-show="is_device"><a click-monad ng-click="InAppBrowserOpen('https://support.google.com/gmm/answer/1646140?hl=en', '_blank', 'location=no')">Android</a></li>-->
          <li ng-show="!is_device"><a rel-external href="https://support.apple.com/en-us/HT201357">iOS</a></li>
          <!--<li ng-show="!is_device"><a rel-external href="https://support.google.com/gmm/answer/1646140?hl=en">Android</a></li>-->
        </ul>
      </div>

    </div>
  </div>

</section>
