<md-bottom-sheet
  class="md-grid bs--product-tour"
>

  <div class="grid-pane">
    <div 
      class="grid-item content--{{contentClass}}"
    ></div>
  </div>

  <h1>{{productTourPageMessageTitle}}</h1>

  <p class="md-grid-text" ng-repeat="label in productTourPageMessage">
    {{ label }}
  </p>

  <aside
    ng-show="productTourInitialized"
  >
    <md-previous
      click-monad
      ng-click="productTourInitialized && productTourPrevious()"
    >
      <span 
        ng-show="productTourInitialized"
        class="fa fa-long-arrow-left"
      ></span>
    </md-previous>
  </aside>

  <div class="md-icon-container">
    <md-inline-grid-icon icon="{{icon}}"></md-inline-grid-icon>
  </div>

  <md-list style="position: absolute; left: -9999px;">
    <md-item ng-repeat="item in items">

        <md-button 
          class="md-grid-item-content"
          aria-label="{{item.name}}"
          click-monad
          ng-click="listItemClick($index)"
        >
          <p class="md-grid-text" ng-repeat="_item in item.name">
            {{ _item }}
          </p>
        </md-button>

    </md-item>
  </md-list>

  <aside>
    <md-next
      click-monad
      ng-click="productTourNext()"
    >
      <span class="fa fa-long-arrow-right"></span>
    </md-next>
  </aside>

</md-bottom-sheet>
