<!--*
# fileOverview

                        _                              _
                       | |                 _          | |                  _
 ____  _____  ____ ____| |__  _____ ____ _| |_     ___| |__  _____ _____ _| |_
|    \| ___ |/ ___) ___)  _ \(____ |  _ (_   _)   /___)  _ \| ___ | ___ (_   _)
| | | | ____| |  ( (___| | | / ___ | | | || |_   |___ | | | | ____| ____| | |_
|_|_|_|_____)_|   \____)_| |_\_____|_| |_| \__)  (___/|_| |_|_____)_____)  \__)

@module index/partials  

## description

An Angularized "bottom sheet" display to be rendered on the native 
deployment's home screen.

-->

<md-bottom-sheet class="bs--merchant-sheet">

  <div class="merchant--piv">
    <figure
      merchant-preview
      merchant-construct="merchant"
      >
    </figure>
  </div>

  <div class="merchant-sheet--navigation">


    <div class="home-container">
      <a 
        click-monad
        ng-click="unsheet()"
        aria-label="Close"
      >
        <span class="fa fa-close"></span>
      </a>
    </div>

  </div>

  <div
    itemscope 
    itemtype="http://schema.org/Organization" 
    class="merchant-sheet--copy"
  >

    <div class="merchant-sheet--bits">
      <div class="display--value">
        <!--<span class="fa fa-square animated fade-in"></span>-->
        <span class="accessibly-hide"><span class="potential-action">LoveStamped</span><span class="sep">:</span></span>
        <span class="tipped-quantity">{{merchant.bitsTipped||0.00}}</span> 
        <span class="currency">{{collectedCurrency||"bits"}} received
<!--
   -          <span
   -            data-hint="Bits collected from {{merchant.merchantAlias||merchant.merchantName||merchant.stampOwner||merchant.alias}}"
   -            ng-class="{
   -                'display--help' : true,
   -                'hint--top'     : true,
   -                'hint--pull-7'  : true
   -            }"
   -          >
   -
   -            <span
   -              ng-class="{
   -                'fa'                 : true,
   -                'fa-question-circle' : true,
   -                'animated'           : true,
   -                'fade-in'            : true
   -              }"
   -            ></span>
   -
   -          </span>
   -->
        </span>
      </div>
    </div>

    <div class="merchant-sheet--name">

      <!--

                              _
                             | |                 _
       ____  _____  ____ ____| |__  _____ ____ _| |_
      |    \| ___ |/ ___) ___)  _ \(____ |  _ (_   _)
      | | | | ____| |  ( (___| | | / ___ | | | || |_
      |_|_|_|_____)_|   \____)_| |_\_____|_| |_| \__)

                 _     _
                | |   | |
       _____  __| | __| | ____ _____  ___  ___
      (____ |/ _  |/ _  |/ ___) ___ |/___)/___)
      / ___ ( (_| ( (_| | |   | ____|___ |___ |
      \_____|\____|\____|_|   |_____|___/(___/

      -->

      <div class="merchant-sheet--description">
        <div class="inner">
          <blockquote>
            <p>
              <span
                data-hint="How to get stamped"
                class="hint--top animated fade-in"
              >
              <span class="fa fa-child" style="font-size: 1.2rem;"></span> <span style="font-size: 1.2rem">Activity</span>
              </span>

              <span class="activity-content" style="margin-bottom: 2px;">{{merchant.activity || "Check with Merchant"}}</span>
            </p>
          </blockquote>
        </div>
      </div>

    </div>

    <!--

                            _                         _     _
                           | |                 _     | |   (_)
     ____  _____  ____ ____| |__  _____ ____ _| |_   | |__  _  ___
    |    \| ___ |/ ___) ___)  _ \(____ |  _ (_   _)  |  _ \| |/ _ \
    | | | | ____| |  ( (___| | | / ___ | | | || |_   | |_) ) | |_| |
    |_|_|_|_____)_|   \____)_| |_\_____|_| |_| \__)  |____/|_|\___/

    -->

    <div class="merchant-sheet--bio">

      <!--

                              _
                             | |                 _
       ____  _____  ____ ____| |__  _____ ____ _| |_    ____  _____ ____  _____
      |    \| ___ |/ ___) ___)  _ \(____ |  _ (_   _)  |  _ \(____ |    \| ___ |
      | | | | ____| |  ( (___| | | / ___ | | | || |_   | | | / ___ | | | | ____|
      |_|_|_|_____)_|   \____)_| |_\_____|_| |_| \__)  |_| |_\_____|_|_|_|_____)

      -->

      <h1 itemprop="name">
        <a
          aria-label="Also see: {{socialPrefixActiveUrl}}{{merchant.stampOwner.replace(prefix, '')}}"
          click-monad
          ng-click="openMerchantWebsite(merchant.merchantProfile.overview.primaryWebsite)"
        >

          <span
              ng-show="!merchant.merchantProfile.overview.primaryWebsite"
              class="animated fade-in"
              style="font-size: 1.2rem;"
          >
            <span class="fa ~fa-link fa-home"></span>
          </span>

          <span
              ng-show="merchant.merchantProfile.overview.primaryWebsite"
              data-hint="Visit merchant's website"
              class="hint--top animated fade-in"
              style="font-size: 1.2rem;"
          >
            <span class="fa ~fa-link fa-home"></span>
          </span>

          <!--{{merchant.merchantProfile.overview.merchantPublicName||merchant.merchantAlias||merchant.merchantName||merchant.stampOwner||merchant.username}}-->

          <span style="font-size: 1.2rem">{{merchant.merchantOverview.merchantPublicName||merchant.stampOwner||merchant.username}}</span>

        </a>

        <!--
           -<span
           -  admin-list
           -  stampData="stampData"
           ->
           -  <span ng-repeat="stamp in stampData">
           -    <span class="merchant-alias">{{stamp.merchantAlias}}</span>
                <span class="sep">|</span>
                <span class="hint--left stampdex--update" data-hint="Loads {{stamp.merchantAlias}} in Stampdex">Display</span>
                <span class="hint--left stampdex--delete" data-hint="Returns stamp to original owner within Stampository">Remove</span>
           -  </span>
           -</span>
           -->

      </h1>

      <div 
        itemprop="address" 
        itemscope 
        itemtype="http://schema.org/PostalAddress"
      >

        <a
          click-monad
          ng-click="openMerchantLink()"
        >
          <span itemprop="streetAddress">
            <span class="address--line1">{{merchant.address.line1}}</span>
            <span class="address--line2">{{merchant.address.line2}}</span>
          </span>

          <span
            class="hint--bottom animated fade-in"
            data-hint="Show directions in Google Maps"
          >
            <span class="fa fa-caret-right"></span>
          </span>

        </a>

        <meta 
          itemprop="addressLocality" 
          content="{{merchant.address.cityLabel}}, {{merchant.address.stateLabel}}"
        />

        <meta 
          itemprop="postalCode" 
          content="{{merchant.address.zipCode}}"
        />

      </div>

      <div class="activity-indicator" style="padding-bottom: 11px;">
        <p style="line-height: 1.325;">
          <span class="~fa ~fa-flag"></span> {{merchant.merchantProfile.bio||"Find this merchant to get stamped."}}
        </p>
      </div>

    </div>

  </div>

</md-bottom-sheet>
