<!--
# fileOverview
                    ___ _ _           _
                   / __|_) |         (_)
 ____   ____ ___ _| |__ _| | _____    _ ____  _____  ____ _____
|  _ \ / ___) _ (_   __) | || ___ |  | |    \(____ |/ _  | ___ |
| |_| | |  | |_| || |  | | || ____|  | | | | / ___ ( (_| | ____|
|  __/|_|   \___/ |_|  |_|\_)_____)  |_|_|_|_\_____|\___ |_____)
|_|                                                (_____|
                  _
                 | |
 ____  _____  ___| |  _
|    \(____ |/___) |_/ )
| | | / ___ |___ |  _ (
|_|_|_\_____(___/|_| \_)

-->

<div
  class="module--profile profile"
>

  <md-progress-circular
    ng-class="{
      'bits-display-board--progress': true,
      'md-accent': true
    }"
    md-mode="determinate"
    value="{{bitsProgressBg}}"
  ></md-progress-circular>

  <md-progress-circular
    ng-class="{
      'md-accent': true,
      'md-progress-underlay': true
    }"
    md-mode="determinate"
    value="{{bitsProgressBg}}"
  ></md-progress-circular>

  <md-progress-circular
    md-mode="determinate"
    value="{{bitsProgress}}"
  ></md-progress-circular>

  <a
    ng-show="handle"
    ng-click="loadProfile(handle)"
    click-monad
    itemscope
    itemtype="https://schema.org/SiteNavigationElement"
    class="animated fade-in"
  >

    <meta
      itemprop="character"
      itemscope
      itemtype="https://schema.org/Person"
      content="{{handle}}"
    />

    <!--
      @description Profiles are internal UID web spaces.
    -->
    <link
      itemprop="sameAs"
      ng-init="sameAs = JSON.stringify(currentProfile)"
      content="{{sameAs}}"
    />

  </a>

</div>
