.page--stamp__error {

  /*
   @unused

     @extend .animated;
     @extend .fadeIn;

   */

  div {
    color: #fff;
  }

  p a,
  p a:link,
  p a:visited {
    color: #fff;
    text-decoration: none;
    /*border-bottom: 2px #fff solid;*/
  }

  text-align: center;

  .changetip--default-header {
    /*display: table;*/

    text-align: center;

    .back {

      width: 100%;
      display: block;
      position: relative;
      margin-top: 3vh;
      line-height: 0;
      margin-bottom: 3vh;
      padding-bottom: 2vh;

      &:before {
        border        : 3px #fff solid;
        content       : ' ';
        display       : block;
        position      : absolute;
        top           : 0;
        left          : 50%;
        margin-left   : -15px;
        width         : 30px;
        height        : 30px;
        border-radius : 50%;
      }

    }

    .inner {
      vertical-align: middle;
      /*display: table-cell;*/
      text-align: center;
      h1 {
        color: #fff;
      }
    }
  }

  .changetip--guide {
    /*display: table;*/
    .inner {
      vertical-align: center;
      /*display: table-cell;*/
      padding: 15%;
    }
  }

  .redirect { 
    text-align: center;
    .md-button {
      div.field-column {
        text-align: center !important;
        width: 100% !important;
        .label {
          padding: 2rem 5rem;
          background-color: #00adef;
          border: .4rem #fff solid;
        }
      }
    }
  }

}

