<!--
# fileOverview

 ____  _____  ____ _____
|  _ \(____ |/ _  | ___ |
| |_| / ___ ( (_| | ____|
|  __/\_____|\___ |_____)
|_|         (_____|

@module www/controllers/stamps

## description

  Merchant subadministration command center for stampory subfaction.

-->

<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--stamp-control': true,
    'page--active': true
  }"
  ng-init="loadStampList()"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
    <h1>
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>
  </header>

  <div 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="" 
    role="main"
  >

    <div site-navigation></div>

    <section
      class="stamp--control"
    >

      <header>
        <h1>{{pageSectionTitle}}</h1>
      </header>

      <p class="intro">
        Stamps must have a <label for="location"><em>location</em></label> and 
        <label for="hours"><em>operating hours</em></label>. Give your stamp an 
        <label for=""><em>alias</em></label> to identify them easily, and tell 
        your fans what they can do to get stamped.
      </p>

      <aside class="stampdex">

        <header>
          <h1>
            <span class="fa fa-list-alt"></span> 
            Stampdex
          </h1>
        </header>

        <div
          class="stamp-list"
        >

          <!--

                                            _
                  _                        | |
            ___ _| |_ _____ ____  ____   __| |_____ _   _
           /___|_   _|____ |    \|  _ \ / _  | ___ ( \ / )
          |___ | | |_/ ___ | | | | |_| ( (_| | ____|) X (
          (___/   \__)_____|_|_|_|  __/ \____|_____|_/ \_)
                                 |_|

          -->

          <form
            name="forms.stampdex"
            class="stampdex--list-search"
          >

            <!--

             _  _
            | |(_)       _
            | | _  ___ _| |_
            | || |/___|_   _)
            | || |___ | | |_
             \_)_(___/   \__)

            -->

            <ul 
              deprecated--list-stroll
              class="field-row wave"
            >

              <li ng-show="stampList.length === 0">
                You do not own any stamps.
              </li>

              <li
                ng-repeat="stamp in stampList | filter:forms.stampdex.query | orderBy: 'alias'"
                ng-click="loadDetail(stamp)"
                ng-init="merchantAliasHref = ('/merchant/stamps/' + user.handle + '/' + stamp.merchantAlias)"
              >

                <a
                  class="stamp--merchantAlias"
                  set-url
                  merchant-alias="stamp.merchantAlias"
                  once-href="merchantAliasHref"
                  ng-show="! stamp.hours.alwaysOpen && ! stamp.hours"
                >
                  {{stamp.merchantAlias||stamp.alias}}
                </a>

                <a
                  class="hint--bottom hint--pull-3 stamp--merchantAlias"
                  data-hint="24 hrs/day"
                  set-url
                  merchant-alias="stamp.merchantAlias"
                  once-href="merchantAliasHref"
                  ng-show="stamp.hours.alwaysOpen"
                  ng-bind="stamp.merchantAlias||stamp.alias"
                ></a>

                <a
                  class="hint--bottom hint--pull-5 stamp--merchantAlias"
                  data-hint="Stamps between {{stamp.hours.start}}-{{stamp.hours.end}}"
                  set-url
                  merchant-alias="stamp.merchantAlias"
                  once-href="merchantAliasHref"
                  ng-show="stamp.hours && stamp.hours.start && stamp.hours.end && ! stamp.hours.alwaysOpen"
                  ng-bind="stamp.merchantAlias||stamp.alias"
                ></a>

                <span
                  class="fa fa-square"
                  ng-if="stamp.active"
                ></span>
                <span
                  class="fa fa-square-o"
                  ng-if="!stamp.active"
                ></span>

              </li>

            </ul>

            <!--

                                         _
                                        | |
              ___ _____ _____  ____ ____| |__
             /___) ___ (____ |/ ___) ___)  _ \
            |___ | ____/ ___ | |  ( (___| | | |
            (___/|_____)_____|_|   \____)_| |_|

            -->

            <div class="field-row">

              <md-input-container>
                <label for="stampdex.query">
                  <span class="fa fa-search"></span>
                  <span class="shimmy-label">Search your stamps</span>
                </label>
                <md-input
                  id="stampdex.query"
                  name="stampdex.query"
                  class="stampdex--query"
                  ng-model="forms.stampdex.query"
                  aria-label="Try using syntactical gestures with –s or /s and symbols to organize your Stampdex."
                  unused--autofocus
                ></md-input>
              </md-input-container>

            </div>

          </form>
        </div>

        <!--

               _       _
              (_)     (_)       _
         ____  _ ____  _  ___ _| |_ ___   ____ _____
        |    \| |  _ \| |/___|_   _) _ \ / ___) ___ |
        | | | | | | | | |___ | | || |_| | |   | ____|
        |_|_|_|_|_| |_|_(___/   \__)___/|_|   |_____)

        -->

        <nav 
          mini-store
          class="additional-actions"
        >
          <ul current-stamp>
            <li>
              <form
                name="miniStore"
                aria-label="We like to leave aliases in fortune cookies"
              >
                <md-input-container>
                  <md-input
                    required
                    id="stampdex--current-stamp"
                    name="stampdex--current-stamp"
                    ng-model="getCurrentStamp"
                    ng-blur="miniStore.$activated = false"
                    aria-label="Add your new alias to register your stamp"
                    custom-enter="stampAdd()"
                  ></md-input>
                </md-input-container>
              </form>
            </li>
            <li>
              <md-button
                class="md-primary stampdex--button__add"
                aria-label="Lock and load another Stamp"
                ng-click="miniStore.$activated = true"
              >
                <span class="fa fa-thumbs-o-up is-dirty"></span>
                <span class="fa fa-plus"></span>
                <span ng-show="miniStore.$activated === undefined || miniStore.$activated === false">Register a Stamp</span>
                <span ng-show="miniStore.$activated === true">Enter Serial Number</span>
              </md-button>
            </li>
          </ul>
        </nav>

      </aside>

      <!--

       _           _          ___
      | |         (_)        / __)
      | |__   ____ _ _____ _| |__
      |  _ \ / ___) | ___ (_   __)
      | |_) ) |   | | ____| | |
      |____/|_|   |_|_____) |_|

      -->

      <section
        class="stamp-detail stamp-detail--unloaded"
        ng-if="! stampControlList.length"
        aria-label="No stamp loaded"
      >
        <md-divider></md-divider>
        <br />
        <br />
        <br />
        <span
          class="fa fa-minus-square-o"
          aria-hidden="true"
        ></span>
        <br />
        <br />
        <br />
        <md-divider></md-divider>
      </section>

      <section
        product-brief
        ng-if="stampControlList.length"
        ng-class="{
          'stamp-detail': true
        }"
      >
        <md-divider></md-divider>
        <ul class="stamp-detail--container">

          <li
            ng-repeat="stamp in stampControlList"
            class="stamp-detail--listing"
          >
            <form ng-submit="updateStamp(stamp)">

              <dl class="stamp-detail--control-stamp">

                <dt class="stamp--alias">
                  <span class="stamp--alias__label">Current Stamp</span>
                  <span class="sep fa fa-long-arrow-right"></span>
                  <span
                    class="stamp--alias__value"
                    ng-bind="(stamp.merchantAlias||stamp.alias)"
                  ></span>
                  <hr />
                </dt>

                <dd class="stamp--status">
                  <div class="field-block">
                    <label>Status</label>

                    <md-switch
                      aria-label="On / Off"
                      ng-init="stampId = ('stamp--live__' + stamp.$id)"
                      once-id="stampId"
                      ng-model="stamp.active"
                    ></md-switch>

                    <p
                      ng-show="stamp.active"
                      class="field-annotation"
                    >
                      <em>Slide left to deactivate your stamp.</em>
                    </p>

                    <p
                      ng-show="!stamp.active"
                      class="field-annotation"
                    >
                      <em>Slide right to activate your stamp.</em>
                    </p>
                  </div>

                  <div class="field-block">

                    <ul class="field-slider field-slider--headers">
                      <li
                        ng-style="{
                            'text-indent': '-3rem'
                        }"
                      >Birth</li>
                      <li>Registered</li>
                      <li
                        ng-style="{
                            'text-indent': '3rem'
                        }"
                      >1<sup>st</sup> Impression</li>
                    </ul>

                    <md-slider
                      ng-model="stamp.statusSaturation"
                      ng-disabled="true"
                      aria-disabled="true"
                      step="1"
                      md-discrete
                      min="1"
                      max="3"
                      aria-label="Stamp Activation Progress"
                    ></md-slider>

                    <ul class="field-slider field-slider--captions">
                      <li>
                        <span
                          aria-hidden="true"
                          class="fa fa-arrow-circle-o-right"
                        >
                          <br />
                        </span>
                        <div style="text-indent: -4ch">{{stamp.birthDate}}</div>
                      </li>
                      <li>
                        <span
                          aria-hidden="true"
                          class="fa fa-send"
                        ></span>
                        <div style="text-indent: 0">{{stamp.registeredDate}}</div>
                      </li>
                      <li>
                        <span 
                          aria-hidden="true"
                          class="fa fa-toggle-right"
                        ></span>
                      <div style="text-indent: 5rem">{{stamp.firstImpressionDate}}</div>
                      </li>
                    </ul>

                  </div>

                </dd>

                <!--

                 _     _
                (_)   | |
                 _  __| |
                | |/ _  |
                | ( (_| |
                |_|\____|

                -->

                <dd class="stamp--id" id="stamp--id__{{stamp.$id}}">
                  <div class="field-block">
                    <div class="field-row">
                      <div class="field-input">
                        <md-input-container>
                          <label for="stamp--id__{{stamp.$id}}">
                            <span class="fa fa-lock"> </span>
                            <span class="shimmy-label">ID</span>
                          </label>
                          <md-input
                            required
                            id="stamp--id__{{stamp.$id}}"
                            name="stamp--id__{{stamp.$id}}"
                            class="stamp--id"
                            ng-readonly="true"
                            aria-label="Our in house signature"
                            ng-model="stamp.alias"
                          ></md-input>
                        </md-input-container>
                      </div>
                    </div>
                  </div>
                </dd>

                <!--
                       _  _                           _
                      | |(_)                         (_)                    _
                 _____| | _ _____  ___                _ ____  ____  _   _ _| |_
                (____ | || (____ |/___)              | |  _ \|  _ \| | | (_   _)
                / ___ | || / ___ |___ |______ _______| | | | | |_| | |_| | | |_
                \_____|\_)_\_____(___(_______|_______)_|_| |_|  __/|____/   \__)
                                                             |_|
                -->

                <dd class="stamp--alias__input">

                  <div class="field-block">
                    <div class="field-row">
                      <div class="field-input">
                        <md-input-container>
                          <label for="stamp--alias__{{stamp.$id}}">
                            <span class="fa fa-bookmark"> </span>
                            <span class="shimmy-label">Stamp Alias</span>
                          </label>
                          <md-input
                            id="stamp--alias__{{stamp.$id}}"
                            name="stamp--alias__{{stamp.$id}}"
                            class="stamp--alias__input"
                            ng-model="stamp.merchantAlias"
                            aria-label="Choose an alias for this Stamp"
                            placeholder='Suggestions: "Stampy", "Shop1", "Carl"'
                          ></md-input>
                        </md-input-container>
                      </div>
                    </div>
                  </div>

                </dd>

                <!--

                    ___
                   / __)
                 _| |__ ___   ____ ____
                (_   __) _ \ / ___)    \
                  | | | |_| | |   | | | |
                  |_|  \___/|_|   |_|_|_|

                -->

                <dd
                  class="stamp--form"
                  id="stamp--details__{{stamp.$id}}"
                >

                  <div class="field-block field-block--address">

                    <!--

                         _          ___             _
                        | |        / __)           | |  _
                      __| |_____ _| |__ _____ _   _| |_| |_
                     / _  | ___ (_   __|____ | | | | (_   _)
                    ( (_| | ____| | |  / ___ | |_| | | | |_
                     \____|_____) |_|  \_____|____/ \_) \__)

                               _     _
                              | |   | |
                     _____  __| | __| | ____ _____  ___  ___
                    (____ |/ _  |/ _  |/ ___) ___ |/___)/___)
                    / ___ ( (_| ( (_| | |   | ____|___ |___ |
                    \_____|\____|\____|_|   |_____|___/(___/

                    -->

                    <div class="field-row">
                      <md-input-container>

                        <label for="stamp-default-address">
                          <span class="fa fa-map-marker"></span>
                          <span class="shimmy-label">
                              Use 
                              <em>Same Details As</em> &mdash;
                              Location / Activity / Opening Hours (Enter Stamp Alias)
                          </span>
                        </label>

                        <md-input
                          id          = "stamp-default-address"
                          name        = "stamp-defaultAddress"
                          ng-model    = "stamp.defaultAddress"
                          ng-change   = "addressLookup()"
                          placeholder = "Link this Stamp's address to another's current address"
                          aria-label  = "Link this Stamp's address to another's current address"
                        ></md-input>

                      </md-input-container>
                    </div>

                    <!--

                     _  _                ___
                    | |(_)              (___)
                    | | _ ____  _____      _
                    | || |  _ \| ___ |    | |
                    | || | | | | ____|   _| |_
                     \_)_|_| |_|_____)  (_____)

                    -->

                    <div
                      class="field-row field-address--line-1"
                    >
                      <div class="field-input">
                        <md-input-container>
                          <label for="stamp-address--line-1__{{stamp.$id}}">
                            <span class="fa fa-home"> </span>
                            <span class="shimmy-label">Address Line 1</span>
                          </label>
                          <md-input 
                            ng-attr-required = "!stamp.defaultAddress"
                            id               = "stamp--address--line-1__{{stamp.$id}}"
                            name             = "stamp--address--line-1__{{stamp.$id}}"
                            ng-readonly      = "stamp.defaultAddress && updatedStampDefault"
                            aria-label       = "Primary address line"
                            ng-model         = "stamp.address.line1"
                          /></md-input>
                        </md-input-container>
                      </div>
                    </div><!-- .field-row -->

                    <!--

                           _
                          (_)  _
                      ____ _ _| |_ _   _
                     / ___) (_   _) | | |
                    ( (___| | | |_| |_| |
                     \____)_|  \__)\__  |
                                  (____/

                    -->

                    <div
                      class="field-row field-city"
                    >
                      <div class="field-input">
                        <md-input-container>
                          <label for="stamp-address--city__{{stamp.$id}}">
                            <span class="fa fa-puzzle-piece"> </span>
                            <span class="shimmy-label">Choose a city</span>
                          </label>
                          <md-input
                            ng-attr-required="!stamp.defaultAddress"
                            id         = "stamp-address--city__{{stamp.$id}}"
                            name       = "stamp-address--city__{{stamp.$id}}"
                            ng-model   = "stamp.address.cityLabel"
                            aria-label = "Urban or Rural Stamp?"
                            ng-readonly="stamp.defaultAddress && updatedStampDefault"
                          ></md-input>
                        </md-input-container>
                      </div>
                    </div><!-- .field-row -->

                    <!--

                            _           _
                      ___ _| |_ _____ _| |_ _____
                     /___|_   _|____ (_   _) ___ |
                    |___ | | |_/ ___ | | |_| ____|
                    (___/   \__)_____|  \__)_____)

                    -->

                    <div
                      class="field-row field-state"
                    >
                      <div class="field-input">

                        <md-input-container>
                          <label for="stamp-address--state__{{stamp.$id}}">
                            <span class="fa fa-puzzle-piece"> </span>
                            <span class="shimmy-label">Choose a state</span>
                          </label>
                          <md-input
                            ng-attr-required="!stamp.defaultAddress"
                            id         = "stamp-address--state__{{stamp.$id}}"
                            name       = "stamp-address--state__{{stamp.$id}}"
                            ng-model   = "stamp.address.stateLabel"
                            aria-label = "TransStamp?"
                            ng-readonly="stamp.defaultAddress && updatedStampDefault"
                          ></md-input>
                        </md-input-container>

                      </div>

                    </div>

                    <!--

                           _       _______          _
                          (_)     (_______)        | |
                     _____ _ ____  _       ___   __| |_____
                    (___  ) |  _ \| |     / _ \ / _  | ___ |
                     / __/| | |_| | |____| |_| ( (_| | ____|
                    (_____)_|  __/ \______)___/ \____|_____)
                            |_|

                    -->

                    <div
                      class="field-row field-zip"
                    >
                      <div class="field-input">
                        <md-input-container>
                          <label for="stamp-address--zipCode__{{stamp.$id}}">
                            <span class="fa fa-puzzle-piece"> </span>
                            <span class="shimmy-label">Zip Code</span>
                          </label>

                          <md-input
                            ng-attr-required="!stamp.defaultAddress"
                            id          = "stamp-address--zipCode__{{stamp.$id}}"
                            name        = "stamp-address--zipCode__{{stamp.$id}}"
                            ng-model    = "stamp.address.zipCode"
                            holdng-blur = "loadZip(stamp.address.zipCode)"
                            aria-label  = "Stamp from this zip code"
                            ng-readonly="stamp.defaultAddress && updatedStampDefault"
                          ></md-input>

                        </md-input-container>
                      </div>
                    </div><!-- .field-row -->

                    <!--

                                             _
                      ____ ___  _   _ ____ _| |_  ____ _   _
                     / ___) _ \| | | |  _ (_   _)/ ___) | | |
                    ( (__| |_| | |_| | | | || |_| |   | |_| |
                     \____)___/|____/|_| |_| \__)_|    \__  |
                                                      (____/

                    -->

                    <div
                      class="field-row field-country"
                    >
                      <div class="field-input">

                        <md-input-container>
                          <label for="stamp-address--country__{{stamp.$id}}">
                            <span class="fa fa-puzzle-piece"></span>
                            <span class="shimmy-label">Choose a country</span>
                          </label>

                          <md-input
                            ng-attr-required="!stamp.defaultAddress"
                            id         = "stamp-address--country__{{stamp.$id}}"
                            ng-model   = "stamp.address.countryLabel"
                            aria-label = "I'ntl. Stamp!"
                            ng-readonly="stamp.defaultAddress && updatedStampDefault"
                          ></md-input>

                        </md-input-container>

                      </div>
                    </div><!-- .field-row -->

                  </div><!-- .field-block -->

                  <!--

                   _                 ___ _              
                  | |               / __) |         _   
                  | | _____ _____ _| |__| | _____ _| |_ 
                  | || ___ (____ (_   __) || ___ (_   _)
                  | || ____/ ___ | | |  | || ____| | |_ 
                   \_)_____)_____| |_|   \_)_____)  \__)
                                                        

                  -->

                  <div class="field-block field-block--address__latLng">

                    <!--
                       -<div
                       -  leaflet
                       -  data-tap-disabled="true"
                       -  id       = "stamp"
                       -  defaults = "defaults"
                       -  center   = "center"
                       -  height   = "320px"
                       -  width    = "100%"
                       -></div>
                       -->

                  </div>

                  <!--
                     -<br />
                     -<hr style="border-color: #555;" />
                     -<br />
                     -->

                  <!--

                                     _       _             
                                 _  (_)     (_)  _         
                   _____  ____ _| |_ _ _   _ _ _| |_ _   _ 
                  (____ |/ ___|_   _) | | | | (_   _) | | |
                  / ___ ( (___  | |_| |\ V /| | | |_| |_| |
                  \_____|\____)  \__)_| \_/ |_|  \__)\__  |
                                                    (____/ 

                  -->

                  <div class="field-block field-block--activity">
                    <div class="field-row">

                      <md-input-container flex>
                        <label for="stamp-activity">
                          <span class="fa fa-question-circle"> </span>
                          <span class="shimmy-label">Activity You'd Like Your Fans To Do To Get Stamped (140 max)</span>
                        </label>

                        <textarea
                          id         = "stamp-activity"
                          name       = "stamp-activity"
                          ng-model   = "stamp.activity"
                          aria-label = "Secret hand shake?"
                          required
                          md-maxlength = "140"
                        ></textarea>

                      </md-input-container>
                    </div>
                  </div>

                  <!--

                   _     _
                  (_)   (_)
                   _______  ___  _   _  ____ ___
                  |  ___  |/ _ \| | | |/ ___)___)
                  | |   | | |_| | |_| | |  |___ |
                  |_|   |_|\___/|____/|_|  (___/

                  -->

                  <div class="field-block field-block--hours">
                    <div class="field-row">

                      <div class="field-label" style="text-align: center">
                        <label for="stamp-hours--start__{{stamp.$id}}">
                          <b>Stamp active hours</b>
                        </label>
                      </div>

                      <div class="field-input field-type-inline field-type-inline-3">

                        <div class="field-wrap field-wrap--start-time">
                          <md-input-container>
                            <label for="stamp-hours--start__{{stamp.$id}}">
                              <span class="fa fa-clock-o"> </span>
                              <span class="shimmy-label">Start Time</span>
                            </label>

                            <md-input
                              id            = "stamp-hours--start__{{stamp.$id}}"
                              name          = "stamp-hours--start__{{stamp.$id}}"
                              type          = "date_time"
                              ng-attr-required = "!stamp.hours.alwaysOpen"
                              ng-model      = "stamp.hours.start"
                              ng-disabled   = "stamp.hours.alwaysOpen"
                              aria-disabled = "stamp.hours.alwaysOpen"
                              aria-label    = "When is this stamp on the prowl?"
                              placeholder   = "00:00"
                              ng-pattern    = "/^\d{2}:\d{2}$/"
                            ></md-input>

                          </md-input-container>

                        </div>

                        <div class="field-wrap--sep">&amp;</div>

                        <div class="field-wrap field-wrap--end-time">
                          <md-input-container>
                            <label for="stamp-hours--end__{{stamp.$id}}">
                              <span class="fa fa-history"> </span>
                              <span class="shimmy-label">End Time</span>
                            </label>

                            <md-input
                              id            = "stamp-hours--end__{{stamp.$id}}"
                              name          = "stamp-hours--end__{{stamp.$id}}"
                              type          = "date_time"
                              ng-model      = "stamp.hours.end"
                              ng-attr-required = "!stamp.hours.alwaysOpen"
                              ng-disabled   = "stamp.hours.alwaysOpen"
                              aria-disabled = "stamp.hours.alwaysOpen"
                              aria-label    = "Putting the stamp to bed"
                              placeholder   = "00:00"
                              ng-pattern    = "/^\d{2}:\d{2}$/"
                            ></md-input>

                          </md-input-container>

                        </div>

                        <div class="field-wrap field-wrap--timezone">

                          <md-select
                            id            = "stamp-hours--time-zone__{{stamp.$id}}"
                            name          = "stamp-hours--time-zone__{{stamp.$id}}"
                            ng-attr-required = "!stamp.hours.alwaysOpen"
                            ng-model      = "stamp.hours.timeZone"
                            role          = "zone"
                            ng-disabled   = "stamp.hours.alwaysOpen"
                            aria-disabled = "stamp.hours.alwaysOpen"
                            aria-label    = "Pick a timezone"
                            placeholder   = "Timezone"
                          >

                            <md-option 
                              value="Central" 
                            >CST</md-option>

                            <md-option 
                              value="Eastern" 
                            >EST</md-option>

                            <md-option 
                              value="Mountain" 
                            >MT</md-option>

                            <md-option 
                              value="Pacific" 
                            >PST</md-option>

                          </md-select>
                        </div>

                        <div class="field-wrap field-wrap--always">
                          <div class="field-input">

                              <md-checkbox
                                id            = "stamp--open-hours__always"
                                aria-label    = "Always Open"
                                ng-required   = "stamp.hours.end == '' && stamp.hours.start == ''"
                                ng-disabled   = "stamp.hours.start || stamp.hours.end"
                                ng-model      = "stamp.hours.alwaysOpen"
                              ></md-checkbox>

                          </div>
                          <div class="field-label">
                            <label for="stamp--open-hours__always">Or 24 hrs/day</label>
                          </div>
                        </div>

                      </div>
                    </div><!-- .field-row -->

                    <div class="field-row field-row--days">
                      <ul>
                        <li>
                          <md-checkbox
                            id            = "stamp--open-days__sunday"
                            name          = "stamp--open-days__sunday"
                            aria-label    = "Sunday"
                            ng-model      = "stamp.days.sunday"
                          ></md-checkbox>
                          Sun
                        </li>
                        <li>
                          <md-checkbox
                            id            = "stamp--open-days__monday"
                            name          = "stamp--open-days__monday"
                            aria-label    = "Monday"
                            ng-model      = "stamp.days.monday"
                          ></md-checkbox>
                          Mon
                        </li>
                        <li>
                          <md-checkbox
                            id            = "stamp--open-days__tuesday"
                            name          = "stamp--open-days__tuesday"
                            aria-label    = "Tuesday"
                            ng-model      = "stamp.days.tuesday"
                          ></md-checkbox>
                          Tue
                        </li>
                        <li>
                          <md-checkbox
                            id            = "stamp--open-days__wednesday"
                            name          = "stamp--open-days__wednesday"
                            aria-label    = "Wednesday"
                            ng-model      = "stamp.days.wednesday"
                          ></md-checkbox>
                          Wed
                        </li>
                        <li>
                          <md-checkbox
                            id            = "stamp--open-days__thursday"
                            name          = "stamp--open-days__thursday"
                            aria-label    = "Thursday"
                            ng-model      = "stamp.days.thursday"
                          ></md-checkbox>
                          Thu
                        </li>
                        <li>
                          <md-checkbox
                            id            = "stamp--open-days__friday"
                            name          = "stamp--open-days__friday"
                            aria-label    = "Friday"
                            ng-model      = "stamp.days.friday"
                          ></md-checkbox>
                          Fri
                        </li>

                        <li>
                          <md-checkbox
                            id            = "stamp--open-days__saturday"
                            name          = "stamp--open-days__saturday"
                            aria-label    = "Saturday"
                            ng-model      = "stamp.days.saturday"
                          ></md-checkbox>
                          Sat
                        </li>

                      </ul>
                    </div>

                  </div><!-- .field-block -->

                </dd>
              </dl>

              <br />
              <hr />
              <br />

              <div
                ng-class="{
                  'field-block'  : true,
                  'field-submit' : true
                }"
              >
                <div
                  data-hint="Update this Stamp's metadata"
                  class="hint--top"
                >
                  <md-button
                    class="md-primary stamp-control--save"
                  >
                    <span class="fa fa-magic"></span>
                    Save Stamp [
                    <span class="shimmy-label">{{stamp.merchantAlias || stamp.alias || stamp.$id}}</span>
                    ]
                  </md-button>
                </div>
              </div>
            </form>

          </li>

        </ul>
      </section>

    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>
