<!--*
# fileOverview

     _
    | |
    | |__  _____  ___ _____
    |  _ \(____ |/___) ___ |
    | |_) ) ___ |___ | ____|
    |____/\_____(___/|_____)

@module profile/partials  

## description

A basic interface for profile display and updates.

-->

<section 
  itemscope
  itemtype="http://schema.org/ProfilePage"
  ng-class="{
    'page--active'    : isActive,
    '~page--inactive' : ! isActive,
    'page--profile'   : true
  }"
>

  <div optimized-page-title></div>

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <div class="page-container">

    <header
      itemscope
      itemtype="http://schema.org/WebPageElement"
      class="site-header"
    >

      <div class="page-anchor">

        <md-button
          class="back md-button md-primary"
          aria-label="Back to Map"
          ng-click="loadHome()"
        >
          <div class="inner">
            <span class="fa fa-close"></span>
            <!--<span class="label">Close</span>-->
          </div>
        </md-button>

      </div>

      <div bits-display-board>

        <ul>

          <li
            ng-show="showPrices === false"
            ng-click="showPrices = true"
            class="display--value"
          >
            <span
              ng-show="finishedConversionCurrency"
              class="animated fade-in bits-collected-value"
              itemprop="currencyExchangeRate"
              itemscope
              itemtype="http://schema.org/PriceSpecification"
              data-btc-price="{{bitsCollectedAvailable[bitsCollectedCurrency]||0}}"
            >
              <span class="~font-effect-3d-float ~font-effect-shadow-multiple">{{bitsCollectedAvailable[bitsCollectedCurrency]||0}} {{bitsCollectedCurrency}}</span>

              <meta
                name="price"
                content="{{bitsCollectedAvailable[bitsCollectedCurrency]||0}}"
              />

              <meta
                name="priceCurrency"
                content="{{bitsCollectedCurrency}}"
              />

            </span>

            <div class="sub-display">

              {{bitsCollectedValue||0}}

              <span class="currency-label">
                bits
              </span>

            </div>

          </li>

          <li
            ng-show="showPrices === true"
            class="display--value"
            ng-click="showPrices = false"
          >
            <span
              ng-show="finishedConversionCurrency"
              class="animated fade-in bits-collected-value"
            >
              <span class="~font-effect-3d-float ~font-effect-shadow-multiple">{{bitsCollectedValue||0}}</span>

              <span class="currency-label">
                total bits collected
              </span>

            </span>
          </li>

          <!--
             -<li
             -  class="display--help"
             ->
             -  <span
             -    class="hint--bottom hint--pull-6"
             -    data-hint="Bits collected overall"
             -  >
             -    <span class="fa fa-question-circle"></span>
             -  </span>
             -</li>
             -->

        </ul>
      </div>
    </header>

    <div class="page-divider">

      <div class="page-column page-shelves">
        <ul>

          <li class="page-shelf page-shelf-1">

            <div pending-pool-carousel>

              <!--

                                     _ _                                  _
                                    | (_)                                | |
               ____  _____ ____   __| |_ ____   ____    ____   ___   ___ | |
              |  _ \| ___ |  _ \ / _  | |  _ \ / _  |  |  _ \ / _ \ / _ \| |
              | |_| | ____| | | ( (_| | | | | ( (_| |  | |_| | |_| | |_| | |
              |  __/|_____)_| |_|\____|_|_| |_|\___ |  |  __/ \___/ \___/ \_)
              |_|                             (_____|  |_|

              -->

              <div class="pending-pool">

                <ul class="draggable-objects">

                  <li ng-repeat="obj in draggableObjects">

                    <figure>

                      <div
                        ng-drag="true"
                        ng-drag-data="obj"
                        ng-center-anchor="true"
                        ng-class="{
                          'inactive': pendingPoolBitsCollected === '0.00',
                          'awaiting--pending-pool': true
                        }"
                        ng-style="{
                          'cursor'  : 'move',
                          'display' : 'inline-block'
                        }"
                      >
                        <span
                          class="fa draggable--purse"
                        ></span>
                        <img
                          ng-src="{{obj.imageSrc}}"
                          alt="Drag your bits to any available vendor"
                        />
                      </div>

                      <figcaption>

                        <div class="bits-collected-value">
                          {{pendingPoolBitsCollected}}
                        </div>

                        <div
                          class="bits-collected-label"
                          ng-show="pendingPoolBitsCollected !== '0.00'"
                        >
                          drag bits to
                        </div>

                      </figcaption>

                      <!--
                         -<div itemscope itemtype="http://schema.org/Product">
                         -  <img itemprop="image" src="dell-30in-lcd.jpg" alt="A Dell UltraSharp monitor"/>
                         -  <span itemprop="name">Dell UltraSharp 30" LCD Monitor</span>
                         -  <div itemprop="aggregateRating"
                         -    itemscope itemtype="http://schema.org/AggregateRating">
                         -    <span itemprop="ratingValue">87</span>
                         -    out of <span itemprop="bestRating">100</span>
                         -    based on <span itemprop="ratingCount">24</span> user ratings
                         -  </div>
                         -  <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                         -    <span itemprop="lowPrice">$1250</span>
                         -    to <span itemprop="highPrice">$1495</span>
                         -    from <span itemprop="offerCount">8</span> sellers
                         -    Sellers:
                         -    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                         -        <a itemprop="url" href="save-a-lot-monitors.com/dell-30.html">
                         -        Save A Lot Monitors - $1250</a>
                         -    </div>
                         -    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                         -        <a itemprop="url" href="jondoe-gadgets.com/dell-30.html">
                         -        Jon Doe's Gadgets - $1350</a>
                         -    </div>
                         -  </div>
                         -  ...
                         -</div>
                         -->

                    </figure>

                  </li>

                </ul>

              </div>

              <!--

                                     _
                                    | |
               _   _ _____ ____   __| | ___   ____
              | | | | ___ |  _ \ / _  |/ _ \ / ___)
               \ V /| ____| | | ( (_| | |_| | |
                \_/ |_____)_| |_|\____|\___/|_|

              -->

              <div
                class="pending-pool-vendors"
              >

                <ul>

                  <li
                    drag-platform
                    ng-repeat       = "vendorObject in droppableVendors"
                    ng-drop         = "true"
                    ng-drop-success = "onPendingPoolDropComplete($data, $event, vendorObject)"
                  >

                    <figure class="vendor--inner awaiting--vendor">
                      <span
                        class="fa"
                        ng-class="{
                          '{{vendorObject.id}}': vendorObject.id
                        }"
                      ></span>
                      <img
                        ng-src      = "{{vendorObject.imageSrc}}"
                        alt      = "{{vendorObject.name}}"
                        id       = "{{vendorObject.id}}"
                        ng-class = "{
                          'pending-pool--vendor': vendorObject.id
                        }"
                      />

                      <figcaption>
                        <span class="vendor-drop-label">{{vendorObject.name}}</span>
                      </figcaption>

                    </figure>

                  </li>

                </ul>

              </div>

            </div><!-- directive:pendingPoolCarousel -->

          </li>

          <li class="page-shelf page-shelf-2">

            <nav class="user-actions">
              <ul>

                <!--

                                  _
                                 | |
                 ____  _   _  ___| |__
                |  _ \| | | |/___)  _ \
                | |_| | |_| |___ | | | |
                |  __/|____/(___/|_| |_|
                |_|

                -->

                <li class="push-notifications-orb">

                  <form
                    ng-init="getProfile()"
                    id="profile-push-notifications"
                  >

                    <div class="orb--inner">
                      <div class="field-column field-push-notifications">
                        <div class="field-input">
                          <md-switch
                            click-monad
                            ng-model    = "forms.profile.pushNotifications.status"
                            aria-label  = "Receive Push Notifications?"
                            ng-change   = "updateProfile()"
                            id          = "configure-push-notifications"
                          >
                          </md-switch>
                        </div>
                      </div>
                    </div>

                    <div class="field-column">
                      <label
                        class       = "hint--top"
                        for         = "configure-push-notifications"
                        aria-label = "Receive nearby merchant notifications"
                        data-hint   = "Receive nearby merchant notifications"
                      >

                        Notify
                        <!--
                           -Push <br /> 
                           -Notifications
                           -->

                        <span class="accessibly-hide accessibly-hidden">
                          <span class="push-notifications--satellite">Currently are</span>

                          <span
                            class="sublabel active"
                            ng-show="forms.profile.pushNotifications.status"
                          >On</span>

                          <span
                            class="sublabel inactive"
                            ng-show="! forms.profile.pushNotifications.status"
                          >Off</span>
                        </span>

                      </label>
                    </div>

                  </form><!-- #profile-push-notifications -->


                </li>

                <!--

                   _
                 _| |_ ___  _   _  ____
                (_   _) _ \| | | |/ ___)
                  | || |_| | |_| | |
                   \__)___/|____/|_|

                -->

                <li class="product-tour-orb tour-orb">

                  <div class="orb--inner">
                    <md-button
                      aria-label="Show Product Tour"
                      ng-click="showProductTour()"
                    >
                      <div class="field-column">
                        <span class="fa fa-caret-square-o-right"></span>
                      </div>
                    </md-button>
                  </div>

                  <div class="field-column">
                    <span
                      class       = "label"
                      arial-label = "{{productTour.status}}"
                    >
                      Tour
                    </span>
                  </div>

                  <form id="profile-product-tour">
                    <input
                      type        = "hidden"
                      id          = "product-tour.seen"
                      name        = "product-tour.seen"
                      ng-model    = "forms.profile.productTour.seen"
                      ng-init     = "productTourCheck()"
                    />
                  </form>

                </li>

                <!--

                 _
                | |                               _
                | | ___   ____ _____ ___  _   _ _| |_
                | |/ _ \ / _  (_____) _ \| | | (_   _)
                | | |_| ( (_| |    | |_| | |_| | | |_
                 \_)___/ \___ |     \___/|____/   \__)
                        (_____|

                -->

                <li class="log-out-orb">
                  <div class="orb--inner">
                    <md-button
                      aria-label="Log out"
                      ng-click="logout('login-fan-auth')"
                    >
                      <div class="field-column">
                        <span class="fa fa-sign-out"></span>
                      </div>
                    </md-button>
                  </div>

                  <div class="field-column">
                    <span class="label">
                      Log Out
                    </span>
                  </div>

                </li>

              </ul>
            </nav>

          </li>

        </ul>
      </div>

    </div>

  </div>

</section>
