@include define-atom("payment-form") {

  .address-qr-code {

    @media #{$small} {
      @include grid-column($columns:12, $collapse: true);
    }

    @media #{$slinder} {
      @include grid-column($columns:12, $collapse: true);
    }

    @media #{$medium} {
      @include grid-column($columns:12, $collapse: true);
    }

    @media #{$large} {
      @include grid-column($columns:12, $collapse: true);
    }

    text-align: center;
    margin: 0;
    padding: 2vh 0;

    .open-wallet {

    }
  }

  .md-dialog--wrapper {
    position: relative;
    /*overflow: auto;*/
    padding-top: 2.5rem;
    border-radius: 4px;
  }

  .md-dialog--wrapper {

    & > figure {
      &:nth-of-type(2) {
        z-index: 32862378628396263762836263862 !important;
      }

      z-index: 9001 !important;
      border-radius: 100px;
      background: #eee;
      height: 100px;
      width: 100px;
      margin: 0 auto;
      overflow: hidden;
      position: absolute;
      /*margin-top: -7rem;*/
      left: 50%;
      margin-left: -50px;
      border: 3px #fff solid;
      box-shadow: 0px 3px 5px #999 inset, 0px 0px 5px #ccc;
      top: 0;
      @extend .animated;
      @extend .fadeIn;
      img {
        object-fit: cover;
        max-width: 100%;
      }

    }
  }

  .badge {
      img {
        max-width: 100px !important;
      }
  }

  *:focus,
  *:active {
    /*outline: none !important;*/
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  // Arthead
  h2.md-subheader.md-default-theme {

    @include background-image(linear-gradient(#eeeeee, #cccccc));
    /*position: absolute;*/
    top: 0;
    left: 0;
    padding-top: 3rem;
    margin-right: 0;
    border-bottom: 1px #bbb solid;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 0;
    font-size: 2rem;
    width: 100%;

    span {
      color: #111;
      display: block;
      margin-top: .5rem;
      font-size: 1.325rem;
      font-weight: 600;
    }

    aside {
      font-size: 1rem;
      padding-bottom: 1rem;
      text-transform: lowercase;
      font-variant: small-caps;
      color: #fff;
      text-shadow: 0px 1px 1px #a1a1a1;
    }
  }

  .md-subheader {
    width: 100%;
  }

  .payment--remember-me {
    text-align: center;
    line-height: 0;
  }

  .remember-me--extra {

    @media #{$small} {
      @include grid-column($columns:12, $collapse: true);
    }

    @media #{$slinder} {
      @include grid-column($columns:12, $collapse: true);
    }

    @media #{$medium} {
      @include grid-column($columns:12, $collapse: true);
    }

    @media #{$large} {
      @include grid-column($columns:12, $collapse: true);
    }
    md-input-container {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  md-tooltip {
    border-radius: 0;
    left: 0 !important;
    background: #fff !important;
    .md-background {
      padding       : 0px 1rem;
      margin        : 0px 1rem;
      transform     : none;
      background    : #111 none repeat scroll 0% 0% !important;
      border-radius : 0px;
      left          : 0px !important;
      width         : 100% !important;
      margin        : 0;
      padding       : 0;
    }
    @media #{$small} {
      @include grid-column($columns:12, $collapse: false);
    }

    @media #{$slinder} {
      @include grid-column($columns:12, $collapse: false);
    }

    @media #{$medium} {
      @include grid-column($columns:12, $collapse: false);
    }

    @media #{$large} {
      @include grid-column($columns:12, $collapse: false);
    }

    border-radius: none !important;
    .md-content {
      color              : #fff;
      display            : block;
      max-width          : none;
      border-radius      : none !important;
      overflow           : auto;
      white-space        : normal;
      /*background-color : #0a6da6;*/
      background         : transparent none repeat scroll 0% 0%;

      @media #{$small} {
        @include grid-column($columns:11, $collapse: true, $center: true);
      }

      @media #{$slinder} {
        @include grid-column($columns:11, $collapse: true, $center: true);
      }

      @media #{$medium} {
        @include grid-column($columns:11, $collapse: true, $center: true);
      }

      @media #{$large} {
        @include grid-column($columns:11, $collapse: true, $center: true);
      }
    }
  }


  md-dialog {
    overflow         : auto;
    background-color : transparent;

    @media #{$small} {
      min-width: 50vh;
    }

    @media #{$slinder} {
      min-width: 70vh;
    }

    @media #{$medium} {
      min-width: 70vh;
    }

    @media #{$large} {
      min-width: 70vh;
    }

    box-shadow       : none;
  }

  .forms--payment {

    footer {

      @include grid-row();

      padding-bottom: 2vh;

      ul {
        width: 100%;
        text-align: center;
        /*
         *position: relative;
         *left: 1ch;
         */
      }

      li {
        a { font-weight: 800; }
        display: inline-block;
        list-style: none;
        /*@include grid-column($columns: 6, $collapse: true);*/
        text-align: center;
        &:first-child {
          &:after {
            @media #{$small} {
              display: none;
              margin-left: 0;
            }

            @media #{$slinder} {
              content: '|';
              margin-left: .5ch;
            }

            @media #{$medium} {
              content: '|';
              margin-left: .5ch;
            }

            @media #{$large} {
              content: '|';
              margin-left: .5ch;
            }

          }
        }
      }

    }

    /*overflow: auto;*/

    & > md-content {
      /*overflow       : auto;*/
      padding        : 0;
      margin-bottom  : 0;
      padding-bottom : 0;
    }

    md-content {
      /*overflow: auto;*/
      overflow-x: hidden;
    }

    textarea {
      /*display: none;*/
    }

    h2 {
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    /* =============
       payAction
     */
    .secure-pay--icon {

    }
    button.md-primary.md-button.md-default-theme {
      overflow      : visible;
      margin-bottom : 0;
      border-radius : 3px;
      color         : #fff;
      font-size     : 1.25rem;

      @include background-image(linear-gradient(#4bb7f5, #017fc7));

      @media #{$small} {
        @include grid-column($columns:8, $collapse: false);
        width: 18rem !important;
      }

      @media #{$slinder} {
        @include grid-column($columns:12, $collapse: false);
        width: 20rem !important;
      }

      @media #{$medium} {
        @include grid-column($columns:12, $collapse: false);
        width: 20rem !important;
      }

      @media #{$large} {
        @include grid-column($columns:12, $collapse: false);
        width: 20rem !important;
      }

      padding-top : .5rem;

      &,
      span {
        margin-left: 0 !important;
      }
      border: 1px rgba(14, 110, 165, .5) solid;

    }

    .md-actions {
      text-align: center;
      display: block !important;
      .badge-container {
        display     : block;
        clear       : both;
        text-align  : right;
        margin-left : 0 !important;
        .badge {
          margin-left: 0 !important;
        }
      }

      span {
        margin-left: 0 !important;
      }

      a.cancel:nth-of-type(1) {
        z-index  : 9001 !important;
        position : absolute !important;
        left     : 0;
        top      : .5rem;
        font-size: 2rem;
      }

      button {
        float: none !important;
        a:nth-of-type(1) {
          z-index  : 9001 !important;
          position : absolute !important;
          bottom   : -33px !important;
          right    : 0 !important;
        }
      }

    }

    textarea {
      height: 5rem !important;
    }

    md-checkbox {
      &[aria-describedby] {

      }
    }

    .field-set--classicAddy {
      @include grid-row();
    }

    .field-row {
      padding: 0 1rem;
    }

    .field-row--bitcoinAddy { 
      position: relative;
      top: 1.5rem;
    }
    .field-row--number {

    }
    .field-row--expiry { 

      @media #{$small} {
        @include grid-column($columns:6, $collapse: false);
      }

      @media #{$slinder} {
        @include grid-column($columns:6, $collapse: false);
      }

      @media #{$medium} {
        @include grid-column($columns:6, $collapse: false);
      }

      @media #{$large} {
        @include grid-column($columns:6, $collapse: false);
      }
    }

    .field-row--security {

      @media #{$small} {
        @include grid-column($columns:6, $collapse: false);
      }

      @media #{$slinder} {
        @include grid-column($columns:6, $collapse: false);
      }

      @media #{$medium} {
        @include grid-column($columns:6, $collapse: false);
      }

      @media #{$large} {
        @include grid-column($columns:6, $collapse: false);
      }
    }

    md-radio-group.payment--type {
      text-align    : center;
      margin-bottom : .5rem;

      .md-container {
        display: none !important;
      }


      md-radio-button.md-checked {
        color            : #fff !important;
        background-color : #ccc !important;
        /*box-shadow       : 0px 1px 0px #aaa inset;*/
        box-shadow: none;
        overflow: visible;
        margin-bottom: 0;
        border-color: #017fc7 !important;

        @include background-image(linear-gradient(#4bb7f5, #017fc7));
      }

      md-radio-button.md-default-theme {
        line-height: 1;

        font-size: 1.25rem;

        padding    : .25vh 1vh;
        padding-bottom: .25rem;
        padding-top: .25rem;

        font-weight: 400;
        text-transform: uppercase;

        @media #{$small} {
          min-width: 5rem;
        }

        @media #{$slinder} {
          min-width: 10rem;
        }

        @media #{$medium} {
          min-width: 10rem;
        }

        @media #{$large} {
          min-width: 10rem;
        }


        display    : inline-block;
        text-align : center;
        border: 1px #017fc7 solid !important;
        margin     : 0;
        &:nth-of-type(1) {
          border-top-left-radius    : 3px;
          border-bottom-left-radius : 3px;
          left                      : 3px;
          position                  : relative;
        }
        &:nth-of-type(2) {
          border-top-right-radius    : 3px;
          border-bottom-right-radius : 3px;
          right                      : 3px;
          position                   : relative;
          border-left               : none !important;
        }
      }

    }

    button {
    }
  }
}
