@include define-atom("headerHResponses") {
  & header {
    clear: both;
    @include grid-row();
    @media #{$small} {
      text-align: center;
    }
    @media #{$medium} {
      text-align: center;
    }
    @media #{$large} {
      text-align: center;
    }
  }
}
