@include define-atom("headerH") {
  & > header h1 {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: normal;
    line-height: 32.5px;
    -webkit-font-smoothing: antialiased;
  }

  & > header h1 {
    position      : relative;
    text-indent   : 0;
    font-size     : 1.785rem;
    z-index       : auto;
    margin-bottom : 3vh;

    @extend .animated;
    @extend .flipInY;

    &:before {

      width         : 60px;
      border-bottom : 1px dashed #ccc;
      margin-left   : -30px;
      display       : block;
      content       : ' ';
      position      : absolute;
      bottom        : -.25rem;
      left          : 50%;

    }

    &:after {

      width         : 60px;
      border-bottom : 1px dashed #ccc;
      margin        : 1rem auto 0;
      display       : block;
      content       : ' ';

    }
  }
}
