@include define-atom("list") {
  & > ul {
    display: block;
    /*
     *display                : -webkit-flex;
     *display                : flex;
     *-webkit-flex-direction : row;
     *flex-direction         : row;
     *-webkit-align-items    : flex-start;
     *align-items            : flex-start;
     */
  }

}
