/**
@fileOverview

         _
 _____ _| |_ ___  ____
(____ (_   _) _ \|    \
/ ___ | | || |_| | | | |
\_____|  \__)___/|_|_|_|

@description

  Loaders are monatomic molecules. Yay!

*/

@include define-atom("loader") {
  .loader {
    width      : 100%;
    text-align : center;
    position   : fixed;
    z-index    : 10001;
    top        : 42%;
    font-size  : 20vh;
    color      : rgba(100,100,100,0.5);

    @extend .animated;
    @extend .bounceInLeft;
  }
}
