/**
 * @namespace atoms
 */
@include define-atom("orb") {
  position           : fixed;
  z-index            : 9000;
  border-radius      : 50%;
  /*background-image : url('//placehold.it/320&text=profile');*/
  background-size    : cover;
  width              : 20vh;
  height             : 20vh;
  display            : block;
  margin-top         : .5rem;
  margin-left        : .5rem;
}
