/***
# fileOverview

                                                  _
                                                 | |
     ____  _   _  ____ ___ _____ _____ ___   ____| |__
    |  _ \| | | |/ ___)___) ___ (_____) _ \ / ___)  _ \
    | |_| | |_| | |  |___ | ____|    | |_| | |   | |_) )
    |  __/|____/|_|  (___/|_____)     \___/|_|   |____/
    |_|

## fileOverview

***/

@include define-atom('purse-orb') {

  text-align: center;

  .inactive img { opacity: .5; }

  figure {

    margin-bottom: 1vh;
    margin-top: 0;

    .bits-collected-value {
      font-size   : 2rem;
      line-height : 1;
      margin-top  : 1rem;
      font-weight : 500;
    }

    .bits-collected-label {
      font-size: .9rem;
      font-weight: 500;
    }

    display: inline-block;
    height: 100%;

    &:before {
      border: 3px white solid;
      border-radius: 50%;
      display: block;
      content: ' ';
      position: absolute;


      @media #{$small} {
        height: 10vh;
        width: 10vh;
        left: 50%;
        margin-left: -5vh;
        margin-top: -.5vh;
        /*
         *height: 10%;
         *width: 18%;
         *left: 50%;
         *margin-left: -9%;
         */
      }

      @media #{$slinder} {
        height: 11vh;
        width: 11vh;
        left: 50%;
        margin-left: -5.5vh;
        margin-top: -1vh;
      }

      @media #{$medium} {
        height: 10vh;
        width: 10vh;
        left: 50%;
        margin-left: -5vh;
      }

      @media #{$large} {
        height: 10vh;
        width: 10vh;
        left: 50%;
        margin-left: -5vh;
      }

    }

    img {

      z-index: 9001;
      position: relative;
      margin-top: .15rem;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;

      /*
       *image-rendering: -moz-crisp-edges;         [> Firefox <]
       *image-rendering:   -o-crisp-edges;         [> Opera <]
       *image-rendering: -webkit-optimize-contrast;[> Webkit (non-standard naming) <]
       *image-rendering: crisp-edges;
       *-ms-interpolation-mode: nearest-neighbor;  [> IE (non-standard property) <]
       */

      @media #{$small} {
        max-width: 8vh;
        left: -.1rem;
        /*max-width: 21%;*/

        /*
         *max-width: 21%;
         *max-height: 21%;
         */

      }

      @media #{$slinder} {
        max-width: 8vh;
      }

      @media #{$medium} {
        max-width: 8vh;
      }

      @media #{$large} {
        max-width: 8vh;
      }

    }

    figcaption {

      color: #fff;
      margin-top: -1vh;

      @media #{$small} {
        margin-top: -4vw;
      }

      @media #{$slinder} {
        margin-top: -2vw;
      }

      @media #{$medium} {
        margin-top: -2vw;
      }

      @media #{$large} {
        margin-top: -2vw;
      }


    }
  }
}
