/***
# fileOverview

                           _                              _
                          | |                            | |
     _   _ _____ ____   __| | ___   ____ _____ ___   ____| |__
    | | | | ___ |  _ \ / _  |/ _ \ / ___|_____) _ \ / ___)  _ \
     \ V /| ____| | | ( (_| | |_| | |        | |_| | |   | |_) )
      \_/ |_____)_| |_|\____|\___/|_|         \___/|_|   |____/

## description

***/

@include define-atom('vendor-orb') {

  &.drag-enter {
    figure.vendor--inner {
      img {
        border-color: #eec71e !important;
        @extend .animated;
        @extend .pulse;
      }
    }
  }

  figure.vendor--inner {

    text-align: center;
    margin: 0;

    img {

      border: 3px rgba(255, 255, 255, .75) solid;
      border-radius: 50%;

      @media #{$small} {
        max-width: 7vh;
      }

      @media #{$slinder} {
        max-width: 7vh;
      }

      @media #{$medium} {
        max-width: 7.5vh;
      }

      @media #{$large} {
        max-width: 10vh;
      }

    }

    figcaption {
      text-align  : center;
      color       : #fff;
      font-weight : 400;
    }
  }

}

@include define-atom('primary--vendor-orb') {

  figure.vendor--inner {
    text-align : center;
    margin     : 0;

    img {
      border: 5px rgba(255, 255, 255, 1) solid;

      @media #{$small} {
        max-width: 12vh;
      }

      @media #{$slinder} {
        max-width: 12vh;
      }

      @media #{$medium} {
        max-width: 10vh;
      }

      @media #{$large} {
        max-width: 15vh;
      }

    }
  }
}
