<section
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active': true,
    'page--contact': true
  }"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
  </header>

  <div 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="" 
    role="main"
  >

    <div site-navigation></div>

    <form 
      class="contact"
      ng-submit="inboxMessage()"
    >

      <div class="field-row">
        <div class="field-label"><label for="contact[handle]">
          Full Name
        </label></div>
        <div class="field-input"><input 
          id="contact.handle"
          ng-model="forms.contact.handle"
          ng-required
          type="text"
        ></div>
      </div>

      <div class="field-row">
        <div class="field-label"><label for="contact[email]">
          E-mail
        </label></div>
        <div class="field-input"><input 
          id="contact.email"
          ng-model="forms.contact.email"
          ng-required
          type="text"></div>
      </div>

      <div class="field-row">
        <div class="field-label"><label for="contact[message]">
          Message
        </label></div>
        <div class="field-input"><textarea 
          id="contact.message" 
          ng-model="forms.contact.message"
          name="" 
          cols="30" 
          ng-required
          rows="10"></textarea></div>
      </div>

      <div class="field-row">
        <button
          class=""
          type="submit"
        >Cheers!</button>
      </div>

    </form>

  </div>


  <footer>
  </footer>

</section>


