[data-heat-map] {

    width: 100px;
    list-style: none;

    div {

        &.icon {
            position: relative;
            height: 13px;
            text-align: left;
            font-size: 23px;
            color: black;

            transition: left 5s ease-out;
        }
    }

    ol {
        -webkit-padding-start: 0;
        margin-top: 2px;

        li {
            height: 10px;
            display: inline-block;
        }
    }
}
