/**
 * @fileOverview
 * A plugin for Stripe payments, implemented in django-cms for microgallery 
 * level Hypermedia controls in the presentation layer.
 */

@mixin screen-hide() {
  position: absolute;
  left: -9999px;
}

.mini-charge {
  @include screen-hide();
}
.mini-charge__form {
  button {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    box-shadow: none;
  }
}
.mini-charge__price-structure {
  
}
.mini-charge__price-structure__title,
.mini-charge__price-structure__description,
.mini-charge__price-structure__currency,
.mini-charge__price-structure__base-price {
  @include screen-hide();
}


/**
 * Intense Images MiniCharge Button
 */
.intense-images--container .mini-charge {
  position: absolute;
  left: 50%;
  z-index: 9000;
  top: 0;
  margin-left: 0;
  button {
    background: #222;
    padding: .3rem 0 .5rem;
    color: #fff;
    cursor: pointer;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 2em;
  }
}

/**
 * Intense Images Active Caption
 */
.intense-images--container {
  figcaption {
    text-align: center;
    width: 100%;
    display: block;
    padding: 5px;
    background-color: #222;
  }
  figcaption h1,
  figcaption h2 {
    color: #fff !important;
  }

  figcaption h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  figcaption h2 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    maxWidth: 500px;
    margin-top: 5px;
  }
}
