<!--*
@fileOverview

 _
| |
| |__  _____  ___ _____
|  _ \(____ |/___) ___ |
| |_) ) ___ |___ | ____|
|____/\_____(___/|_____)

@module www/controllers/requests/partials
@description

A page for tracking stamp requests.

-->

<section 
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--requests': true,
    'page--active': true
  }"
  ng-init="loadRequestsList()"
>

  <div
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement"
    class="site-header"
  >
    <h1>
      <a ui-sref="dashboard">LoveStamp</a>
    </h1>
  </header>

  <div
    itemscope
    itemtype="http://schema.org/WebPageElement"
    class="admin"
    role="main"
  >

   <div site-navigation></div>

    <section
      class="command-center command-center--requests"
    >

      <header>
        <h1>Requests</h1>
      </header>

      <table class="table--adaptive base">
        <tfoot>
          <tr>
            <td colspan="5">
              All merchant requests for LoveStamps.
            </td>
          </tr>
        </tfoot>

        <thead>
          <tr>
            <th>
              <!--
                 -<input
                 -  ng-model="searchByType"
                 -  type="text"
                 -  placeholder="Type"
                 -  autofocus
                 -/>
                 -->
              Type
            </th>
            <th>Name</th>
            <th>Organization</th>
            <th>Phone Number</th>
            <th>Referrer</th>
          </tr>
        </thead>

        <tbody ng-repeat="rOwner in requestsList">

          <tr
            ng-repeat="r in rOwner.requests | filter: { contactBusinessType: searchByType }"
          >

            <td
              class="hint--top"
              ng-if="r.contactAboutBusiness"
              data-hint="{{r.contactAboutBusiness}}"
            >
              <span ng-if="(isAuthorized && r.contactAboutBusiness) && (r.contactBusinessType.indexOf('Test') !== -1 || r.contactAboutBusiness.indexOf('Test') !== -1)" class="fa fa-eye-slash"></span>
              <span ng-if="r.contactAboutBusiness && (r.contactBusinessType.indexOf('Shop') !== -1 || r.contactAboutBusiness.indexOf('Shop') !== -1)" class="fa fa-home"></span>
              <span ng-if="r.contactAboutBusiness && (r.contactBusinessType.indexOf('Bitcoin') !== -1 || r.contactAboutBusiness.indexOf('Bitcoin') !== -1)" class="fa fa-bitcoin"></span>
              {{r.contactBusinessType}}
            </td>

            <td
              class="hint--top"
              ng-if="!r.contactAboutBusiness"
            >
              <span ng-if="(isAuthorized && r.contactAboutBusiness) && (r.contactBusinessType.indexOf('Test') !== -1 || r.contactAboutBusiness.indexOf('Test') !== -1)" class="fa fa-eye-slash"></span>
              <span ng-if="r.contactAboutBusiness && (r.contactBusinessType.indexOf('Shop') !== -1 || r.contactAboutBusiness.indexOf('Shop') !== -1)" class="fa fa-home"></span>
              <span ng-if="r.contactAboutBusiness && (r.contactBusinessType.indexOf('Bitcoin') !== -1 || r.contactAboutBusiness.indexOf('Bitcoin') !== -1)" class="fa fa-bitcoin"></span>
              {{r.contactBusinessType}}
            </td>

            <td
              class="hint--top"
              data-hint="{{r.contactEmail}}"
            >
              <a href="mailto:{{r.contactEmail}}?subject=We+choose+you!">{{r.contactName}}</a>
            </td>

            <td>
              {{r.contactOrganizationName}}
            </td>

            <style>
              .cursor--phone {
                cursor: pointer;
              }
            </style>

            <td>
              <a href="tel:{{r.contactPhoneNumber}}">
                <input
                  type="text"
                  class="cursor--phone"
                  ng-model="r.contactPhoneNumber"
                  ui-mask="(999) 999-9999"
                />
              </a>
            </td>

            <td
              ng-if="r.contactReferrer.indexOf('http://') !== -1"
            >
              <a href="{{r.contactReferrer}}">{{r.contactReferrer}}</a>
            </td>

            <td
              ng-if="r.contactReferrer.indexOf('http://') === -1"
            >
              {{r.contactReferrer}}
            </td>

          </tr>

        </tbody>

      </table>

    </section>

  </div><!-- [role="main"] -->

  <footer>
    <div ng-include="layoutSections.footerUrl"></div>
  </footer>

</section>
