<!--
# fileOverview

     _
    | |
    | |__  _____  ___ _____
    |  _ \(____ |/___) ___ |
    | |_) ) ___ |___ | ____|
    |____/\_____(___/|_____)

## description

Layout for basic search queries against the stampository.

-->

<section 
  merchant-sheet
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active'    : isActive,
    '~page--inactive' : ! isActive,
    'page--index'     : true,
    'page--hide'      : ! user
  }"
  ng-init="showGridBottomSheet()"
>

  <div optimized-page-title></div>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <div class="page-container">

    <!--

     _____  ___
    | ___ |/___)
    | ____|___ |
    |_____|___/

    -->

    <div class="block--search-block">

      <form action="">

        <fieldset class="field-row">
          <label for=""></label>
          <input type="">
        </fieldset>

        <fieldset class="field-row">
          <label for=""></label>
          <input type="">
        </fieldset>

        <fieldset class="field-row field-submit">
          <button type="submit"></button>
        </fieldset>

      </form>

    </div>

    <!--

                            _
                           | |  _
      ____ _____  ___ _   _| |_| |_  ___
     / ___) ___ |/___) | | | (_   _)/___)
    | |   | ____|___ | |_| | | | |_|___ |
    |_|   |_____|___/|____/ \_) \__|___/

    -->

    <div class="block--search-results">

      <ul>
        <li ng-repeat="item in searchResultsPage">
          <figure class="slat">
            <h2></h2>
            <figcaption></figcaption>
          </figure>
        </li>

        <li>
          <figure class="slat">
            <h2></h2>
            <figcaption></figcaption>
          </figure>
        </li>

        <li>
          <figure class="slat">
            <h2></h2>
            <figcaption></figcaption>
          </figure>
        </li>

        <li>
          <figure class="slat">
            <h2></h2>
            <figcaption></figcaption>
          </figure>
        </li>
      </ul>

    </div>

  </div>

</section>
