<section
  itemscope
  itemtype="http://schema.org/WebPage"
  ng-class="{
    'page--active': true,
    'page--help': true
  }"
>

  <div 
    user-rollup
    auth-obj="authObj"
    auth-data="authData"
  ></div>

  <header
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="site-header"
  >
  </header>

  <div 
    itemscope
    itemtype="http://schema.org/WebPageElement" 
    class="" 
    role="main"
  >

    <div site-navigation></div>

    <section class="help">
      <h1>Help!</h1>
    </section>

  </div>

</section>
