@import "overrides";
@import "_utils";
@import "config/_base";

// Organic CSS

@import "../../../bower_components/organic-css/src/main";
@import "../../../bower_components/organic-css/src/molecules/_reset";

@import "../../../bower_components/animate-sass/_animate";

body {
  -webkit-backface-visibility: hidden;
}
.animated {
  @include animate-prefixer(animation-duration, $base-duration);
  @include animate-prefixer(animation-fill-mode, both);

  &.hinge {
   @include animate-prefixer(animation-duration, $base-duration * 2);
  }
}

@import "../../../bower_components/hint.css/src/hint";

@import "_defaults";
@import "__variables";

// Site Atoms

@import "atoms/_headerH1";
@import "atoms/_headerH1Responses";
@import "atoms/_loader";
@import "atoms/_anchor";
@import "atoms/_arthead";
@import "atoms/_field-block";
@import "atoms/_list";
@import "atoms/_listing";
@import "atoms/_orb";
@import "atoms/_loader";

@import "atoms/_gallery-backdrop-0";
@import "atoms/_gallery-backdrop-1";
@import "atoms/_gallery-backdrop-2";
@import "atoms/_gallery-backdrop-3";
@import "atoms/_gallery-backdrop-4";
@import "atoms/_gallery-backdrop-5";
@import "atoms/_gallery-backdrop-6";
@import "atoms/_gallery-backdrop-7";

@import "atoms/_form-payment";
@import "atoms/_vendor-orb";
@import "atoms/_purse-orb";

// Site Molecules

@import "molecules/_header-intro";
@import "molecules/_loader";
@import "molecules/_page-link";
@import "molecules/_toolbar-form";
@import "molecules/_toolbar-list";
@import "molecules/_profile";
@import "molecules/_footer-form";
@import "molecules/_footer-list";
@import "molecules/_loader";
@import "molecules/_tour-gallery";
@import "molecules/_payment-form";
@import "molecules/_purse-orb--drag";
@import "molecules/_vendor-orb--drag";

// Site Organelles
// @note Consider a fully expanded: "site-toolbar-form-field-block" organel; 
//       though atoms are contextually used in molecules.
@import "organelles/_site-toolbar";
@import "organelles/_site-footer";
@import "organelles/_page";
@import "organelles/_site-tour";


// Regions or Cells
//
// @note Think of "before" and "after" as "cell walls" or "layers".

@import "cells/base";
@import "cells/site-page--before";
@import "cells/site-page--after";

