
// TBD

/**
 * Not Found Template
 *
 * @tmpl        404.tmpl
 */

body.notfound-template {

}//body.notfound-template

/**
 * Critical Error
 *
 * @tmpl        500.tmpl
 * @note        Crit!
 */

body.criticalerror-template {

}//body.criticalerror-template

/**
 * Home Template
 *
 * @tmpl        home.tmpl
 */

body.home-template {
  .site-banner { }
  .site-nav { }
  .site-page { 
  }//.site-page
  .site-footer { }

}//body.home-template

/**
 * Form Template
 *
 * @tmpl        form.tmpl
 */

body.form-template {

}//body.form-template

/**
 * Contact Template 
 *
 * @tmpl        form-contact.tmpl
 */

body.form-contact-template {

}//body.form-contact-template

/**
 * Page Template
 *
 * @tmpl        page.tmpl
 */

body.page-template {

}//body.page-template

/**
 * Page Detail Template
 *
 * @tmpl        page-detail.tmpl
 */

body.page-detail-template {

}//body.page-detail-template

/**
 * Page Gallery Template
 *
 * @tmpl        page-gallery.tmpl
 */

body.page-gallery-template {
  .site-banner { 
  }//.site-banner
  .site-page {
    .inner {
      .gallery {
        a:nth-last-child(3n+2) {
          clear: left;
        }
      }
    }
  }//.site-page
  .site-footer {

  }//.site-footer
}//body.page-gallery-template
