@import "compass/css3";
/*@import "foundation";*/
/*@import "normalize";*/
/*@import "foundation/functions/all";*/
@import "foundation/_settings.scss";


/* Mixins */

@mixin scale-up($value) {
  -webkit-transform: scale($value) !important;
  -moz-transform:    scale($value) !important;
  -ms-transform:     scale($value) !important;
  -o-transform:      scale($value) !important;
  transform:         scale($value) !important;
}

/*@import "./fonts/amatic-sc";*/

/*$block-grid-media-queries: true;*/
$align-block-grid-to-grid: false;

// Not all of Foundation which amounts to ~550KB ungzipped.
/*@import "foundation";*/

// JS-based Foundation Components
/*@import "foundation/components/accordion";*/
/*@import "foundation/components/alert-boxes";*/
/*@import "foundation/components/dropdown";*/
/*@import "foundation/components/dropdown-buttons";*/
/*@import "foundation/components/joyride";*/
/*@import "foundation/components/magellan";*/
/*@import "foundation/components/orbit";*/
/*@import "foundation/components/reveal";*/
/*@import "foundation/components/split-buttons";*/
/*@import "foundation/components/tabs";*/
/*@import "foundation/components/tooltips";*/
/*@import "foundation/components/top-bar";*/
/*@import "foundation/components/offcanvas";*/

// Non-JS-based Foundation Components
@import "foundation/components/block-grid";
/*@import "foundation/components/breadcrumbs";*/
/*@import "foundation/components/button-groups";*/
/*@import "foundation/components/buttons";*/
@import "foundation/components/clearing";
/*@import "foundation/components/flex-video";*/

// Heavy stuff.
/*@import "foundation/components/forms";*/
@import "foundation/components/grid";

@import "foundation/components/inline-lists";
@import "foundation/components/keystrokes";
/*@import "foundation/components/labels";*/
@import "foundation/components/pagination";
/*@import "foundation/components/panels";*/
/*@import "foundation/components/pricing-tables";*/
/*@import "foundation/components/progress-bars";*/
/*@import "foundation/components/side-nav";*/
/*@import "foundation/components/sub-nav";*/
/*@import "foundation/components/switches";*/
/*@import "foundation/components/tables";*/
/*@import "foundation/components/thumbs";*/
@import "foundation/components/type";
@import "foundation/components/visibility";

@import "_interface";

// Elements

@import "elements/base";

// Responses

@import "responses/phone";
@import "responses/retina";
@import "responses/small-tablet";
@import "responses/tablet";
@import "responses/widescreen";

// Plug it in

@import "components/stripe";
@import "components/intense-images";
@import "components/_snowshoestamp";
@import "components/_leaflet";
@import "components/_angular";
@import "components/_chosen";


// Responses :: Parts

@import "responses/youtube";

// Templates

@import "templates/_base";
@import "templates/_footer";
@import "templates/_journal";

// Pages

@import "pages/_index";
@import "pages/_base";
@import "pages/_login";
@import "pages/_stamp";
@import "pages/_profile";

@import "pages/_legal";

@import "pages/_dashboard";
@import "pages/_social";
@import "pages/_store";
@import "pages/_stamp-signup";
@import "pages/_admin";
@import "pages/_stamps";
@import "pages/_stamp__error";
@import "pages/_stamp__success";
@import "pages/_stamp__pending";
@import "../../../scripts/components/snowshoestamp/style/_error";

// Modules

@import "modules/_gallery";
@import "modules/mini_charge";
@import "modules/_heat_map";
@import "boilerplate";
